Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

chore: update WordPress.org and assets screenshots
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-7.png
  .wordpress-org/screenshot-8.png
  assets/screenshot-1.png
  assets/screenshot-2.png
  assets/screenshot-7.png
  assets/screenshot-8.png
Labels: none

feat: Add Modal/Popup block with accessible triggers and animations
  src/blocks/modal-trigger/block.json
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/editor.scss
  src/blocks/modal-trigger/index.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/edit.js
  src/blocks/modal/editor.scss
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/view.js
  src/frontend.js
  src/styles/style.scss
Labels: blocks, javascript, styles

fix: Critical fixes for modal display, colors, and button width
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/save.js
Labels: blocks, javascript, styles

fix: Modal block improvements - style transfer, z-index, and close button colors
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/edit.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/view.js
Labels: blocks, javascript, styles

feat: Add Modal/Popup block with accessible triggers and animations
  src/blocks/modal-trigger/block.json
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/editor.scss
  src/blocks/modal-trigger/index.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/edit.js
  src/blocks/modal/editor.scss
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/view.js
  src/frontend.js
  src/styles/style.scss
Labels: blocks, javascript, styles

fix: Prevent sticky header from affecting footer template parts
  src/styles/utilities/_sticky-header.scss
Labels: styles

feat: refine modal UX and styling
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/edit.js
  src/blocks/modal/editor.scss
  src/blocks/modal/style.scss
Labels: blocks, javascript, styles

docs: add Modal block next phase plan
  docs/MODAL-NEXT-PHASE.md
Labels: documentation

fix: Prevent sticky header from affecting footer template parts
  src/styles/utilities/_sticky-header.scss
Labels: styles

fix: Prevent sticky header from affecting footer template parts (#101)
  src/styles/utilities/_sticky-header.scss
Labels: styles

fix: Comprehensive Modal block security, accessibility, and UX improvements
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/editor.scss
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/edit.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/view.js
Labels: blocks, javascript, styles

refactor: optimize Modal block performance, code quality, and maintainability
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal/components/AnimationSettings.js
  src/blocks/modal/components/BehaviorSettings.js
  src/blocks/modal/components/CloseButtonSettings.js
  src/blocks/modal/components/ModalSettings.js
  src/blocks/modal/components/OverlaySettings.js
  src/blocks/modal/edit.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/utils/style-transfer.js
  src/blocks/modal/view.js
Labels: blocks, javascript, styles

Update src/blocks/grid/save.js
  src/blocks/grid/save.js
Labels: blocks, javascript

Update src/blocks/modal/save.js
  src/blocks/modal/save.js
Labels: blocks, javascript

feat: Add Modal/Popup block with accessible triggers and animations (#99)
  docs/MODAL-NEXT-PHASE.md
  src/blocks/grid/edit.js
  src/blocks/modal-trigger/block.json
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/editor.scss
  src/blocks/modal-trigger/index.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/components/AnimationSettings.js
  src/blocks/modal/components/BehaviorSettings.js
  src/blocks/modal/components/CloseButtonSettings.js
  src/blocks/modal/components/ModalSettings.js
  src/blocks/modal/components/OverlaySettings.js
  src/blocks/modal/edit.js
  src/blocks/modal/editor.scss
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/utils/style-transfer.js
  src/blocks/modal/view.js
  src/frontend.js
  src/styles/style.scss
Labels: blocks, documentation, javascript, styles

feat: Add Phase 2 - Advanced Triggering & Automation (v1.1.0)
  docs/MODAL-AUTO-TRIGGERS.md
  docs/MODAL-NEXT-PHASE.md
  src/blocks/modal/block.json
  src/blocks/modal/components/BehaviorSettings.js
  src/blocks/modal/components/TriggerSettings.js
  src/blocks/modal/edit.js
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/variations.js
  src/blocks/modal/view.js
Labels: blocks, documentation, javascript

feat: Add modal gallery navigation system (Phase 3)
  docs/MODAL-GALLERY-NAVIGATION.md
  docs/MODAL-NEXT-PHASE.md
  src/blocks/modal/block.json
  src/blocks/modal/components/GallerySettings.js
  src/blocks/modal/components/TriggerSettings.js
  src/blocks/modal/edit.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/variations.js
  src/blocks/modal/view.js
Labels: blocks, documentation, javascript, styles

feat: Add modal template chooser for better UX
  src/blocks/modal/components/ModalPlaceholder.js
  src/blocks/modal/components/modal-placeholder.scss
  src/blocks/modal/edit.js
  src/blocks/modal/templates.js
Labels: blocks, javascript, styles

security(modal): Fix 3 critical vulnerabilities (XSS, CSRF, ReDoS)
  .babelrc
  docs/MODAL-PERFORMANCE-FIXES.md
  docs/MODAL-SECURITY-AUDIT.md
  docs/MODAL-SECURITY-FIXES-SUMMARY.md
  includes/blocks/class-modal-hooks.php
  src/blocks/modal/view.js
  tests/__mocks__/styleMock.js
  tests/js/setup.js
  tests/unit/modal.test.js
Labels: blocks, documentation, php, javascript

feat(modal): Add API reference, FSE support, abilities, and patterns
  docs/MODAL-API-REFERENCE.md
  docs/MODAL-FSE-COMPATIBILITY.md
  includes/abilities/inserters/class-insert-modal-trigger.php
  includes/abilities/inserters/class-insert-modal.php
  patterns/modal/announcement-promo.php
  patterns/modal/contact-form.php
  patterns/modal/image-gallery.php
  patterns/modal/newsletter-signup.php
Labels: documentation, php

chore: Update modal block configuration and cleanup
  includes/abilities/class-abilities-registry.php
  includes/class-plugin.php
  includes/patterns/class-loader.php
  package-lock.json
  package.json
  src/blocks/modal/block.json
  src/blocks/modal/templates.js
  src/blocks/modal/variations.js
Labels: blocks, configuration, php, javascript

perf(modal): Implement v1.3.1 performance optimizations
  .babelrc
  .claude/claude.md
  includes/blocks/class-modal-hooks.php
  src/blocks/modal/view.js
Labels: blocks, documentation, php, javascript

fix(tests): Remove unused variables in modal tests
  tests/unit/modal.test.js
Labels: javascript

fix: Add Modal_Hooks to class loader
  includes/class-plugin.php
Labels: php

fix: Declare modal_hooks property to fix PHP 8.2+ deprecation
  includes/class-plugin.php
Labels: php

security(modal): Fix 3 Critical Vulnerabilities + Performance Optimizations (#102)
  .claude/claude.md
  docs/MODAL-API-REFERENCE.md
  docs/MODAL-AUTO-TRIGGERS.md
  docs/MODAL-FSE-COMPATIBILITY.md
  docs/MODAL-GALLERY-NAVIGATION.md
  docs/MODAL-NEXT-PHASE.md
  docs/MODAL-PERFORMANCE-FIXES.md
  docs/MODAL-SECURITY-AUDIT.md
  docs/MODAL-SECURITY-FIXES-SUMMARY.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/inserters/class-insert-modal-trigger.php
  includes/abilities/inserters/class-insert-modal.php
  includes/blocks/class-modal-hooks.php
  includes/class-plugin.php
  includes/patterns/class-loader.php
  package-lock.json
  package.json
  patterns/modal/announcement-promo.php
  patterns/modal/contact-form.php
  patterns/modal/image-gallery.php
  patterns/modal/newsletter-signup.php
  src/blocks/modal/block.json
  src/blocks/modal/components/BehaviorSettings.js
  src/blocks/modal/components/GallerySettings.js
  src/blocks/modal/components/ModalPlaceholder.js
  src/blocks/modal/components/TriggerSettings.js
  src/blocks/modal/components/modal-placeholder.scss
  src/blocks/modal/edit.js
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/templates.js
  src/blocks/modal/variations.js
  src/blocks/modal/view.js
  tests/__mocks__/styleMock.js
  tests/js/setup.js
  tests/unit/modal.test.js
Labels: blocks, documentation, configuration, php, javascript, styles

feat(modal): Add close triggers and improve icon-button UX
  src/blocks/icon-button/block.json
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/editor.scss
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/blocks/modal/block.json
  src/blocks/modal/templates.js
  src/blocks/modal/view.js
Labels: blocks, javascript, styles

i18n: Update translation strings for modal close functionality
  languages/designsetgo.pot
Labels: none

i18n: Add modal block translations to all language files
  languages/designsetgo-de_DE.mo
  languages/designsetgo-de_DE.po
  languages/designsetgo-es_ES.mo
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.mo
  languages/designsetgo-fr_FR.po
  languages/designsetgo-it_IT.mo
  languages/designsetgo-it_IT.po
  languages/designsetgo-ja.mo
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.mo
  languages/designsetgo-nl_NL.po
  languages/designsetgo-pt_BR.mo
  languages/designsetgo-pt_BR.po
  languages/designsetgo-ru_RU.mo
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.mo
  languages/designsetgo-zh_CN.po
Labels: none

feat(table-of-contents): Add comprehensive TOC block with audit improvements
  .claude/claude.md
  .claude/commands/deploy.md
  docs/blocks/TABLE-OF-CONTENTS-AUDIT.md
  docs/blocks/TABLE-OF-CONTENTS.md
  includes/abilities/inserters/class-insert-flex-container.php
  includes/abilities/inserters/class-insert-stack-container.php
  includes/blocks/class-loader.php
  src/blocks/grid/transforms.js
  src/blocks/table-of-contents/README.md
  src/blocks/table-of-contents/block.json
  src/blocks/table-of-contents/deprecated.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/index.js
  src/blocks/table-of-contents/save.js
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/view.js
  src/styles/_utilities.scss
  src/styles/style.scss
Labels: blocks, documentation, php, javascript, styles

Update src/blocks/table-of-contents/README.md
  src/blocks/table-of-contents/README.md
Labels: blocks, documentation

feat(table-of-contents): Add sticky offset and enhanced scroll navigation
  docs/blocks/TABLE-OF-CONTENTS-AUDIT.md
  src/blocks/section/style.scss
  src/blocks/table-of-contents/README.md
  src/blocks/table-of-contents/block.json
  src/blocks/table-of-contents/components/HierarchicalList.js
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/components/useHeadingScanner.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/save.js
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/utils/hierarchy.js
  src/blocks/table-of-contents/utils/id-generator.js
  src/blocks/table-of-contents/utils/validation.js
  src/blocks/table-of-contents/view.js
Labels: blocks, documentation, javascript, styles

feat(table-of-contents): Add comprehensive TOC block with fixes
  .claude/claude.md
  .claude/commands/deploy.md
  docs/blocks/TABLE-OF-CONTENTS.md
  includes/abilities/inserters/class-insert-flex-container.php
  includes/abilities/inserters/class-insert-stack-container.php
  includes/blocks/class-loader.php
  src/blocks/grid/transforms.js
  src/blocks/section/style.scss
  src/blocks/table-of-contents/README.md
  src/blocks/table-of-contents/block.json
  src/blocks/table-of-contents/components/HierarchicalList.js
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/components/useHeadingScanner.js
  src/blocks/table-of-contents/deprecated.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/index.js
  src/blocks/table-of-contents/save.js
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/utils/hierarchy.js
  src/blocks/table-of-contents/utils/id-generator.js
  src/blocks/table-of-contents/utils/validation.js
  src/blocks/table-of-contents/view.js
  src/styles/_utilities.scss
  src/styles/style.scss
Labels: blocks, documentation, php, javascript, styles

fix(table-of-contents): Critical fixes for production readiness
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/components/useHeadingScanner.js.bak2
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/view.js.bak2
  src/styles/editor.scss
Labels: blocks, javascript, styles

fix(table-of-contents): Critical fixes for production readiness
  src/blocks/table-of-contents/README.md
  src/blocks/table-of-contents/block.json
  src/blocks/table-of-contents/components/HierarchicalList.js
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/components/useHeadingScanner.js
  src/blocks/table-of-contents/deprecated.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/index.js
  src/blocks/table-of-contents/save.js
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/utils/hierarchy.js
  src/blocks/table-of-contents/utils/id-generator.js
  src/blocks/table-of-contents/utils/validation.js
  src/blocks/table-of-contents/view.js
  src/styles/editor.scss
Labels: blocks, documentation, javascript, styles

fix(table-of-contents): Restore proper error handling in view.js
  src/blocks/table-of-contents/view.js
Labels: blocks, javascript

fix(table-of-contents): Fix sticky positioning and scroll spy highlighting
  src/blocks/section/style.scss
  src/blocks/table-of-contents/view.js
Labels: blocks, javascript, styles

fix(table-of-contents): Restore proper error handling in view.js
  src/blocks/table-of-contents/view.js
Labels: blocks, javascript

fix(table-of-contents): Fix sticky positioning and scroll spy highlighting
  src/blocks/section/style.scss
  src/blocks/table-of-contents/view.js
Labels: blocks, javascript, styles

fix(table-of-contents): Critical fixes for production readiness (#104)
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/editor.scss
  src/blocks/table-of-contents/style.scss
  src/blocks/table-of-contents/view.js
  src/styles/editor.scss
Labels: blocks, javascript, styles
