Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

Add border radius control to form block and fix container overflow
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
Labels: blocks, javascript, styles

Update package-lock.json
  package-lock.json
Labels: configuration

fix: Address code review feedback for form border radius
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/utils/css-generator.js
Labels: blocks, javascript, styles

Add border radius control to form builder input fields (#243)
  package-lock.json
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/utils/css-generator.js
Labels: blocks, configuration, javascript, styles

fix: Unify form field block context namespace to designsetgo/form/
  src/blocks/form-builder/block.json
  src/blocks/form-checkbox-field/block.json
  src/blocks/form-date-field/block.json
  src/blocks/form-date-field/edit.js
  src/blocks/form-number-field/block.json
  src/blocks/form-number-field/edit.js
  src/blocks/form-select-field/block.json
  src/blocks/form-select-field/edit.js
  src/blocks/form-time-field/block.json
  src/blocks/form-time-field/edit.js
  src/blocks/form-url-field/block.json
  src/blocks/form-url-field/edit.js
Labels: blocks, javascript

fix: Move form builder padding to shared styles for editor/frontend parity
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/style.scss
Labels: blocks, styles

fix: Unify form field block context namespace (#244)
  src/blocks/form-builder/block.json
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/style.scss
  src/blocks/form-checkbox-field/block.json
  src/blocks/form-date-field/block.json
  src/blocks/form-date-field/edit.js
  src/blocks/form-number-field/block.json
  src/blocks/form-number-field/edit.js
  src/blocks/form-select-field/block.json
  src/blocks/form-select-field/edit.js
  src/blocks/form-time-field/block.json
  src/blocks/form-time-field/edit.js
  src/blocks/form-url-field/block.json
  src/blocks/form-url-field/edit.js
Labels: blocks, javascript, styles

chore: Release version 2.0.23
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

docs: Update testing documentation to match current project state
  TESTING-QUICKSTART.md
  TESTING.md
Labels: documentation

docs: Update CONTRIBUTING.md to match current project state
  CONTRIBUTING.md
Labels: documentation

docs: Update SECURITY.md files to match current project state
  .github/SECURITY.md
  SECURITY.md
Labels: documentation, security

docs: Switch security reporting from email to GitHub Security Advisories
  .github/SECURITY.md
  SECURITY.md
Labels: documentation, security

feat: Add white-label build pipeline for plugin forks
  .gitignore
  package-lock.json
  package.json
  scripts/white-label-json-loader.js
  scripts/white-label-php.js
  scripts/white-label-replacements.js
  scripts/white-label-validate.js
  scripts/white-label-zip.js
  scripts/wp-env-white-label.js
  webpack.config.js
  white-label.json.example
  white-label.schema.json
Labels: configuration, javascript

style: Fix linting in white-label scripts
  scripts/white-label-json-loader.js
  scripts/white-label-php.js
  scripts/white-label-replacements.js
  scripts/white-label-validate.js
  scripts/white-label-zip.js
  scripts/wp-env-white-label.js
Labels: javascript

fix: Transform dsgo camelCase block attributes in white-label
  scripts/white-label-replacements.js
Labels: javascript

fix: Address PR review — security hardening, logo handling, robustness
  scripts/white-label-php.js
  scripts/white-label-replacements.js
  scripts/white-label-validate.js
  scripts/white-label-zip.js
  scripts/wp-env-white-label.js
  src/admin/components/Dashboard.js
Labels: javascript

fix: Add SVG allowlist and color/gradient CSS functions to KSES filters
  .claude/docs/KSES-ALLOWLIST-GUIDE.md
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: documentation, php

fix: Address PR review — security hardening, test coverage
  .claude/docs/KSES-ALLOWLIST-GUIDE.md
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: documentation, php

fix: Use case-insensitive check for SVG viewBox attribute in test
  tests/phpunit/plugin-test.php
Labels: php

fix: Add SVG allowlist and color/gradient CSS functions to KSES filters (#246)
  .claude/docs/KSES-ALLOWLIST-GUIDE.md
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: documentation, php

chore: Release version 2.0.24
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Resolve llms.txt 404 caused by WordPress trailing slash redirect
  includes/llms-txt/class-controller.php
  tests/phpunit/llms-txt-test.php
Labels: php

fix: Use strict comparison and clearer query var reset per review
  includes/llms-txt/class-controller.php
  tests/phpunit/llms-txt-test.php
Labels: php

fix: Auto-flush rewrite rules on plugin update
  includes/llms-txt/class-controller.php
Labels: php

fix: Check stored rewrite rules and auto-save before generating files
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

fix: Flush rewrite rules immediately on settings save
  includes/llms-txt/class-controller.php
Labels: php

feat: Write physical llms.txt file as fallback for all permalink structures
  designsetgo.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-rest-controller.php
Labels: php, needs-review

fix: Auto-save and generate files when llms.txt is toggled on
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

fix: Address code review security and correctness issues
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
Labels: php, javascript

fix: Resolve llms.txt 404 caused by trailing slash redirect (#247)
  designsetgo.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
Labels: php, javascript, needs-review

chore: Release version 2.0.25
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

Fix width input losing focus after first keystroke
  src/extensions/max-width/index.js
Labels: extensions, javascript

Update package-lock.json
  package-lock.json
Labels: configuration

feat: Enhance llms.txt with link descriptions, llms-full.txt, cache headers, robots.txt, and custom descriptions
  includes/admin/class-settings.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
Labels: php, javascript

fix: Address PR review feedback for llms.txt enhancements
  includes/admin/class-settings.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
Labels: php, javascript

fix: Preserve inner section width constraints when nested in unconstrained section
  src/blocks/section/style.scss
Labels: blocks, styles

fix: Apply same nested section width fix to editor styles
  src/blocks/section/editor.scss
Labels: blocks, styles

feat: Add header and footer block patterns
  includes/patterns/class-loader.php
  patterns/footer/footer-centered.php
  patterns/footer/footer-classic.php
  patterns/footer/footer-columns.php
  patterns/footer/footer-dark.php
  patterns/footer/footer-minimal.php
  patterns/header/header-centered.php
  patterns/header/header-classic.php
  patterns/header/header-cta.php
  patterns/header/header-dark.php
  patterns/header/header-topbar.php
Labels: php

fix: Add global namespace prefix to wp_strlen/wp_substr calls
  includes/llms-txt/class-generator.php
Labels: php

Add chain-of-verification skill for reducing hallucinations
  .claude/skills/chain-of-verification/SKILL.md
Labels: documentation

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
