Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

docs: add user guide for Sticky Sections block
  docs/blocks/STICKY-SECTIONS.md
Labels: documentation

fix: use position relative in editor to contain overlay stacking contexts
  src/blocks/sticky-sections/editor.scss
Labels: blocks, styles

docs: add Scroll Slides user guide and document Scroll Carousel variation
  docs/blocks/SCROLL-SLIDES.md
  docs/blocks/SLIDER.md
Labels: documentation

test: add frontend unit tests for 11 blocks
  tests/unit/blocks/accordion.test.js
  tests/unit/blocks/countdown-timer.test.js
  tests/unit/blocks/counter-group.test.js
  tests/unit/blocks/image-accordion.test.js
  tests/unit/blocks/scroll-accordion.test.js
  tests/unit/blocks/scroll-marquee.test.js
  tests/unit/blocks/scroll-slides-dom.test.js
  tests/unit/blocks/scroll-slides-engines.test.js
  tests/unit/blocks/slider.test.js
  tests/unit/blocks/sticky-sections.test.js
  tests/unit/blocks/tabs.test.js
Labels: javascript

fix: resolve lint errors in block test files
  .eslintrc.js
  tests/unit/blocks/accordion.test.js
  tests/unit/blocks/countdown-timer.test.js
  tests/unit/blocks/counter-group.test.js
  tests/unit/blocks/image-accordion.test.js
  tests/unit/blocks/scroll-accordion.test.js
  tests/unit/blocks/scroll-marquee.test.js
  tests/unit/blocks/scroll-slides-dom.test.js
  tests/unit/blocks/scroll-slides-engines.test.js
  tests/unit/blocks/slider.test.js
  tests/unit/blocks/sticky-sections.test.js
  tests/unit/blocks/tabs.test.js
Labels: javascript

fix: address code review feedback on block tests
  tests/unit/blocks/accordion.test.js
  tests/unit/blocks/countdown-timer.test.js
  tests/unit/blocks/scroll-marquee.test.js
  tests/unit/blocks/scroll-slides-dom.test.js
Labels: javascript

fix: remove unused IntersectionObserver global declaration
  tests/unit/blocks/scroll-marquee.test.js
Labels: javascript

style: unify block inserter icon color to #8B5CF6
  src/blocks/modal-trigger/index.js
  src/blocks/modal/index.js
  src/blocks/shared/constants.js
Labels: blocks, javascript

style: unify all block icons to #F25912 orange
  src/blocks/shared/constants.js
  src/blocks/slider/index.js
Labels: blocks, javascript

chore: release version 2.0.37
  designsetgo.php
  package.json
  readme.txt
  tests/unit/draft-mode-controls.test.js
  tests/unit/draft-mode-panel.test.js
Labels: configuration, php, javascript, needs-review

style: update icon color to #F25912 and add #412B6B hover in inserter
  src/styles/editor.scss
Labels: styles

docs: add icon color unification to 2.0.37 changelog
  readme.txt
Labels: none

fix: move setAttributes out of render to fix removeChild DOM error
  src/blocks/form-phone-field/edit.js
  src/blocks/form-select-field/edit.js
Labels: blocks, javascript

fix: move setAttributes out of render in remaining form field blocks
  src/blocks/form-checkbox-field/edit.js
  src/blocks/form-date-field/edit.js
  src/blocks/form-hidden-field/edit.js
  src/blocks/form-number-field/edit.js
  src/blocks/form-time-field/edit.js
  src/blocks/form-url-field/edit.js
Labels: blocks, javascript

chore: release version 2.0.38
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: add phone field v3 deprecation and select field duplicate filter
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-select-field/save.js
Labels: blocks, javascript

chore: release version 2.0.39
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: remove white background from scroll slides nav inputs in editor
  src/blocks/scroll-slides/editor.scss
Labels: blocks, styles

fix: increase scroll-driven slider CSS specificity to prevent sticky override
  src/blocks/slider/style.scss
Labels: blocks, styles

fix: use parent-scoped selector for load-order-safe specificity
  src/blocks/scroll-slides/editor.scss
Labels: blocks, styles

fix: apply slide block gap to content wrapper for editor/frontend parity
  src/blocks/slide/edit.js
  src/blocks/slide/save.js
  src/blocks/slide/style.scss
Labels: blocks, javascript, styles

chore: add .worktrees/ to .gitignore
  .gitignore
Labels: none

fix: address code review - CSS Color L4, case-insensitive keywords, test gap
  src/utils/convert-preset-to-css-var.js
  tests/unit/utils.test.js
Labels: javascript

docs: add clarifying comments for specificity bump and margin override
  src/blocks/slide/style.scss
  src/blocks/slider/style.scss
Labels: blocks, styles

fix: add padding below scroll-driven slider for progress bar clearance
  src/blocks/slider/style.scss
Labels: blocks, styles

chore: Release version 2.0.40
  designsetgo.php
  package.json
  readme.txt
  src/blocks/slide/edit.js
  src/blocks/slide/save.js
  src/utils/convert-preset-to-css-var.js
  tests/unit/utils.test.js
Labels: blocks, configuration, php, javascript, needs-review

fix: eliminate sub-pixel white line at shape divider edges
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix: eliminate sub-pixel white line at shape divider edges (#316)
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

chore: Release version 2.0.41
  designsetgo.php
  package.json
Labels: configuration, php, needs-review

feat: add content justification controls to breadcrumbs block
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/style.scss
Labels: blocks, php, javascript, styles

fix: address PR review feedback for breadcrumbs alignment
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/style.scss
Labels: blocks, php, javascript, styles

feat: add content justification to breadcrumbs block (#318)
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/style.scss
Labels: blocks, php, javascript, styles

chore: Release version 2.0.42
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: load icon button assets for blocks in template parts
  designsetgo.php
  includes/class-button-global-styles.php
  includes/class-icon-injector.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: load frontend assets for blocks in template parts and remove grid global padding
  includes/class-assets.php
  src/blocks/grid/block.json
Labels: blocks, php

fix: remove unused has_dashicon_blocks method
  includes/class-assets.php
Labels: php

fix: responsive visibility classes now override layout display rules
  src/styles/_utilities.scss
  src/styles/block-variations.scss
Labels: styles

fix: alignment display rules yield to responsive visibility classes
  src/blocks/icon-button/style.scss
  src/blocks/icon/style.scss
  src/blocks/modal-trigger/style.scss
  src/blocks/pill/style.scss
Labels: blocks, block: icon, styles

fix: load frontend assets for template parts and remove grid global padding (#319)
  includes/class-assets.php
  src/blocks/grid/block.json
  src/blocks/icon-button/style.scss
  src/blocks/icon/style.scss
  src/blocks/modal-trigger/style.scss
  src/blocks/pill/style.scss
  src/styles/_utilities.scss
  src/styles/block-variations.scss
Labels: blocks, block: icon, php, styles

chore: Release version 2.0.44
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
