Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

fix(tab): Remove non-functional 'top' icon position option
  src/blocks/tab/block.json
  src/blocks/tab/edit.js
  src/blocks/tab/save.js
Labels: blocks, javascript

fix(lint): Fix ESLint errors - variables, console, globals, experimental APIs
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/view.js
  src/blocks/modal-trigger/edit.js
  src/blocks/modal/components/ModalSettings.js
  src/blocks/modal/edit.js
  src/blocks/modal/index.js
  src/blocks/modal/view.js
  src/blocks/table-of-contents/components/useHeadingScanner.js
  src/blocks/table-of-contents/edit.js
  src/blocks/table-of-contents/view.js
  tests/js/setup.js
  tests/unit/modal.test.js
Labels: blocks, javascript

fix(lint): Fix remaining 16 ESLint errors with eslint-disable
  src/blocks/breadcrumbs/edit.js
  src/blocks/modal/components/ModalSettings.js
  src/blocks/modal/view.js
  tests/js/setup.js
Labels: blocks, javascript

chore: Remove audit markdown files from PR
  AUDIT.md
  CICD-AUDIT.md
  COMPREHENSIVE-AUDIT-REPORT.md
Labels: documentation

fix(lint): Fix CSS duplicate selector and tab icon position inconsistency
  src/blocks/modal/style.scss
  src/blocks/tab/edit.js
Labels: blocks, javascript, styles

fix: Address Copilot code review feedback
  includes/abilities/inserters/class-insert-icon.php
  includes/abilities/inserters/class-insert-scroll-marquee.php
  includes/class-icon-injector.php
  src/blocks/icon-button/deprecated.js
  src/blocks/icon/deprecated.js
  src/blocks/modal/style.scss
  src/blocks/tab/deprecated.js
  src/blocks/tabs/style.scss
  src/frontend/lazy-icon-injector.js
  webpack.config.js
Labels: blocks, block: icon, configuration, php, javascript, styles

fix(tab): Add isEligible function to deprecation for proper matching
  src/blocks/tab/deprecated.js
Labels: blocks, javascript

fix(icon): Fix isEligible to check innerHTML for lazy-icon class
  src/blocks/icon/deprecated.js
Labels: blocks, block: icon, javascript

fix(tab): Remove data-icon attributes from v1 deprecation save
  src/blocks/tab/deprecated.js
Labels: blocks, javascript

fix(tab): Remove unused sanitizeIconSlug function from deprecation
  copilot.txt
  src/blocks/tab/deprecated.js
Labels: blocks, javascript

fix(tab): Only output icon data attributes when iconPosition is set
  src/blocks/tab/save.js
Labels: blocks, javascript

perf: Optimize local development environment for faster builds
  package.json
  webpack.config.js
Labels: configuration, javascript

fix(ci): Resolve wp-env and PHPCS violations for CI pipeline
  .wp-env.json
  includes/abilities/class-block-inserter.php
  includes/abilities/generators/class-generate-faq-section.php
  includes/abilities/generators/class-generate-hero-section.php
  includes/abilities/inserters/class-insert-modal.php
  includes/block-animation-attributes.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-modal-hooks.php
  includes/class-custom-css-renderer.php
  includes/class-plugin.php
  phpcs.xml
Labels: configuration, php

fix(ci): Configure PHPCS to only fail on errors, not warnings
  composer.json
Labels: configuration

docs: Consolidate three independent audits into comprehensive report
  docs/audits/COMPREHENSIVE-AUDIT.md
Labels: documentation

feat: Add scroll-driven expanding background extension
  CHANGELOG.md
  SECURITY.md
  includes/abilities/class-block-inserter.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-modal-trigger.php
  includes/abilities/inserters/class-insert-modal.php
  includes/class-assets.php
  phpstan.neon
  src/extensions/expanding-background/attributes.js
  src/extensions/expanding-background/components/ExpandingBackgroundPanel.js
  src/extensions/expanding-background/constants.js
  src/extensions/expanding-background/editor.js
  src/extensions/expanding-background/editor.scss
  src/extensions/expanding-background/frontend.js
  src/extensions/expanding-background/index.js
  src/extensions/expanding-background/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: extensions, documentation, php, javascript, styles

feat: Add scroll-driven expanding background extension
  includes/class-assets.php
  src/extensions/expanding-background/attributes.js
  src/extensions/expanding-background/components/ExpandingBackgroundPanel.js
  src/extensions/expanding-background/constants.js
  src/extensions/expanding-background/editor.js
  src/extensions/expanding-background/editor.scss
  src/extensions/expanding-background/frontend.js
  src/extensions/expanding-background/index.js
  src/extensions/expanding-background/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: extensions, php, javascript, styles

chore: Update documentation and PHPStan configuration
  CHANGELOG.md
  SECURITY.md
  includes/abilities/class-block-inserter.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-modal-trigger.php
  includes/abilities/inserters/class-insert-modal.php
  phpstan.neon
Labels: documentation, php

fix: Address Copilot PR review feedback
  src/extensions/expanding-background/frontend.js
  src/extensions/expanding-background/style.scss
Labels: extensions, javascript, styles

fix: Resolve PHPStan errors and address Copilot PR feedback
  includes/abilities/info/class-list-blocks.php
  includes/admin/class-gdpr-compliance.php
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-submissions.php
  includes/blocks/class-loader.php
  includes/blocks/class-modal-hooks.php
  includes/breadcrumbs-functions.php
  includes/class-assets.php
  includes/class-custom-css-renderer.php
  includes/class-plugin.php
  includes/class-section-styles.php
Labels: php

fix(ci): Mark PHPUnit tests as non-blocking in main job
  .github/workflows/ci.yml
Labels: ci/cd

fix(tests): Import DSGModal and add browser API mocks
  tests/unit/modal.test.js
  tests/unit/setup.js
Labels: javascript

fix(ci): Mark JS unit tests as non-blocking
  .github/workflows/ci.yml
Labels: ci/cd

chore: Update documentation and PHPStan configuration (#115)
  .github/workflows/ci.yml
  CHANGELOG.md
  SECURITY.md
  includes/abilities/class-block-inserter.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-modal-trigger.php
  includes/abilities/inserters/class-insert-modal.php
  includes/admin/class-gdpr-compliance.php
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-submissions.php
  includes/blocks/class-loader.php
  includes/blocks/class-modal-hooks.php
  includes/breadcrumbs-functions.php
  includes/class-assets.php
  includes/class-custom-css-renderer.php
  includes/class-plugin.php
  includes/class-section-styles.php
  phpstan.neon
  tests/unit/modal.test.js
  tests/unit/setup.js
Labels: documentation, php, javascript, ci/cd

fix(forms): Resolve validation, rate limiting, and email tracking issues
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  src/admin/components/settings-panels/FormsPanel.js
Labels: php, javascript

fix(admin): Resolve map_meta_cap capability check error
  includes/blocks/class-form-submissions.php
Labels: php

fix(admin): Handle non-array blocks data in Dashboard
  src/admin/components/Dashboard.js
Labels: javascript

feat(admin): Add missing blocks and extensions to Dashboard
  .gitignore
  includes/admin/class-settings.php
  src/admin/components/Dashboard.js
Labels: php, javascript

feat(forms): Add email delivery status to form submissions admin
  includes/blocks/class-form-submissions.php
Labels: php

fix(forms): Add debug logging and fix email status display bug
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-submissions.php
Labels: php

debug(forms): Add detailed email header logging
  includes/blocks/class-form-handler.php
Labels: php

fix: Use domain-matched From email address for better deliverability
  includes/blocks/class-form-handler.php
Labels: php

fix: Update form From Email helper text to reflect new default
  src/blocks/form-builder/edit.js
Labels: blocks, javascript

chore: Release version 1.2.1
  designsetgo.php
  docs/audits/ANTIGRAVITY-AUDIT.md
  docs/audits/CLAUDE-AUDIT.md
  docs/audits/CURSOR-AUDIT.md
  docs/audits/SECURITY-REVIEW-1.2.1.md
  includes/blocks/class-form-submissions.php
  package.json
  readme.txt
Labels: documentation, configuration, php, needs-review

docs: Clean up readme.txt changelog - remove developer-only items
  readme.txt
Labels: none

feat: Add Cloudflare Turnstile integration for form spam protection
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  includes/class-plugin.php
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/view.js
Labels: blocks, php, javascript

style(form-builder): Add spacing for Turnstile widget container
  src/blocks/form-builder/style.scss
Labels: blocks, styles

chore: Update wp-env to WordPress 6.9 and TT5 1.4
  .wp-env.json
Labels: configuration

fix: Resolve admin settings page layout issues
  src/admin/style.scss
Labels: styles

feat: Add text reveal scroll animation extension
  src/extensions/text-reveal/attributes.js
  src/extensions/text-reveal/components/TextRevealPanel.js
  src/extensions/text-reveal/constants.js
  src/extensions/text-reveal/editor.js
  src/extensions/text-reveal/frontend.js
  src/extensions/text-reveal/index.js
  src/extensions/text-reveal/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/style.scss
Labels: extensions, javascript, styles
