Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

fix: Add margin directly to first grid item container element
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

refactor: Remove duplicate first-child grid alignment rules
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

feat: Improve container UX with three key updates
  src/blocks/container/block.json
  src/blocks/container/edit.js
  src/blocks/container/editor.scss
Labels: blocks, block: container, javascript, styles

feat: Replace text inputs with WordPress spacing controls in container blocks
  src/blocks/flex/edit.js
  src/blocks/grid/edit.js
  src/blocks/stack/edit.js
Labels: blocks, javascript

feat: Add width constraints and block transforms to container blocks
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/index.js
  src/blocks/flex/save.js
  src/blocks/flex/transforms.js
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/index.js
  src/blocks/grid/save.js
  src/blocks/grid/transforms.js
  src/blocks/shared/components/WidthPanel.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/index.js
  src/blocks/stack/save.js
  src/blocks/stack/transforms.js
Labels: blocks, javascript

feat: Consolidate width controls and add Stack alignment
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/save.js
  src/blocks/flex/transforms.js
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/grid/transforms.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/transforms.js
  src/extensions/max-width/index.js
Labels: blocks, extensions, javascript, styles

perf: Reduce bundle size by 84% (185KB → 29KB)
  BUNDLE-SIZE-OPTIMIZATION.md
  src/index.js
  webpack.config.js
Labels: documentation, configuration, javascript

fix: Grid block gap/spacing not applying (items overlapping)
  GRID-GAP-FIX.md
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
Labels: blocks, documentation, javascript

fix: Grid block default spacing and responsive columns
  GRID-BLOCK-COMPLETE-FIX.md
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/save.js
Labels: blocks, documentation, javascript, styles

docs: Add Common Pitfall #7 about custom width rules breaking alignfull
  .claude/claude.md
Labels: documentation

fix: Add width: 100% to inner wrappers for proper flex/grid alignment
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Add width:100% to container blocks for proper nesting and text-align
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Only apply width:100% to text elements, not buttons
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Remove width:100% from outer wrappers to fix alignfull padding gap
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Hide nested container padding controls and fix icon-button underline
  BUNDLE-SIZE-OPTIMIZATION.md
  DEPLOYMENT-SUMMARY.md
  GRID-BLOCK-COMPLETE-FIX.md
  GRID-GAP-FIX.md
  SECURITY-AUDIT-REPORT.md
  SECURITY-FIXES-APPLIED.md
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/icon-button/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, documentation, styles

feat: Add default padding to container blocks (xl top/bottom, md left/right)
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

feat: Add text alignment inheritance from parent containers
  src/blocks/flex/block.json
  src/blocks/grid/block.json
  src/blocks/icon-button/block.json
  src/blocks/stack/block.json
  src/extensions/text-alignment-inheritance/index.js
  src/index.js
Labels: blocks, extensions, javascript

feat: Enable constrain width by default on container blocks
  src/blocks/flex/block.json
  src/blocks/grid/block.json
  src/blocks/stack/block.json
Labels: blocks

fix: Force nested containers to take full width in editor
  src/blocks/flex/editor.scss
  src/blocks/grid/editor.scss
  src/blocks/stack/editor.scss
Labels: blocks, styles

fix: Add !important to nested container width rules for editor
  src/blocks/flex/editor.scss
  src/blocks/grid/editor.scss
  src/blocks/stack/editor.scss
Labels: blocks, styles

refactor: Use single-element pattern for container blocks (WordPress core pattern)
  src/blocks/flex/edit.js.backup-double-wrapper
  src/blocks/flex/save.js.backup-double-wrapper
  src/blocks/grid/edit.js.backup-double-wrapper
  src/blocks/grid/save.js.backup-double-wrapper
  src/blocks/stack/edit.js.backup-double-wrapper
  src/blocks/stack/save.js.backup-double-wrapper
Labels: blocks

fix: Add width 100% inline style to container blockProps for nested width
  src/blocks/flex/edit.js
  src/blocks/flex/save.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/stack/edit.js
  src/blocks/stack/save.js
Labels: blocks, javascript

fix: Add align-self stretch to nested containers for full width in flex parents
  src/blocks/flex/edit.js
  src/blocks/flex/save.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/stack/edit.js
  src/blocks/stack/save.js
Labels: blocks, javascript

feat: Add dual categorization for improved block discoverability
  .claude/claude.md
  .claude/docs/EDITOR-STYLING-GUIDE.md
  .claude/docs/FSE-COMPATIBILITY-GUIDE.md
  .claude/docs/REFACTORING-GUIDE.md
  .claude/mcp.json
  includes/class-plugin.php
  src/block-category-filter.js
  src/blocks/accordion/block.json
  src/blocks/counter-group/block.json
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/block.json
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/icon-button/block.json
  src/blocks/icon-list/block.json
  src/blocks/icon/block.json
  src/blocks/pill/block.json
  src/blocks/progress-bar/block.json
  src/blocks/stack/block.json
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
  src/blocks/tabs/block.json
  src/extensions/background-video/editor.scss
  src/extensions/background-video/style.scss
  src/extensions/overlay/editor.scss
  src/extensions/overlay/index.js
  src/extensions/overlay/style.scss
  src/styles/_utilities.scss
  src/styles/editor.scss
  webpack.config.js
Labels: blocks, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles

feat: Add Scroll Accordion block with sticky stacking effect
  src/blocks/scroll-accordion-item/block.json
  src/blocks/scroll-accordion-item/edit.js
  src/blocks/scroll-accordion-item/editor.scss
  src/blocks/scroll-accordion-item/index.js
  src/blocks/scroll-accordion-item/save.js
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-accordion/block.json
  src/blocks/scroll-accordion/edit.js
  src/blocks/scroll-accordion/editor.scss
  src/blocks/scroll-accordion/index.js
  src/blocks/scroll-accordion/save.js
  src/blocks/scroll-accordion/style.scss
  src/blocks/scroll-accordion/view.js
Labels: blocks, javascript, styles

feat: Add Flip Card, Reveal, and Scroll Marquee blocks
  src/blocks/flip-card-back/block.json
  src/blocks/flip-card-back/edit.js
  src/blocks/flip-card-back/editor.scss
  src/blocks/flip-card-back/index.js
  src/blocks/flip-card-back/save.js
  src/blocks/flip-card-back/style.scss
  src/blocks/flip-card-front/block.json
  src/blocks/flip-card-front/edit.js
  src/blocks/flip-card-front/editor.scss
  src/blocks/flip-card-front/index.js
  src/blocks/flip-card-front/save.js
  src/blocks/flip-card-front/style.scss
  src/blocks/flip-card/block.json
  src/blocks/flip-card/edit.js
  src/blocks/flip-card/editor.scss
  src/blocks/flip-card/frontend.js
  src/blocks/flip-card/index.js
  src/blocks/flip-card/save.js
  src/blocks/flip-card/style.scss
  src/blocks/reveal/block.json
  src/blocks/reveal/edit.js
  src/blocks/reveal/editor.scss
  src/blocks/reveal/index.js
  src/blocks/reveal/save.js
  src/blocks/reveal/style.scss
  src/blocks/scroll-marquee/block.json
  src/blocks/scroll-marquee/edit.js
  src/blocks/scroll-marquee/editor.scss
  src/blocks/scroll-marquee/index.js
  src/blocks/scroll-marquee/save.js
  src/blocks/scroll-marquee/style.scss
  src/blocks/scroll-marquee/view.js
  src/extensions/reveal-control/editor.scss
  src/extensions/reveal-control/index.js
  src/extensions/reveal-control/styles.scss
Labels: blocks, extensions, javascript, styles

refactor: Update container blocks (Flex, Grid, Stack)
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
Labels: blocks, javascript, styles

refactor: Update Icon and Icon Button blocks
  src/blocks/icon-button/block.json
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/editor.scss
  src/blocks/icon-button/style.scss
  src/blocks/icon/block.json
  src/blocks/icon/edit.js
  src/blocks/icon/editor.scss
  src/blocks/icon/save.js
  src/blocks/icon/style.scss
Labels: blocks, block: icon, javascript, styles

refactor: Update core files and remaining blocks
  src/blocks/accordion/editor.scss
  src/blocks/accordion/style.scss
  src/blocks/progress-bar/editor.scss
  src/blocks/progress-bar/style.scss
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/extensions/max-width/index.js
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
Labels: blocks, extensions, javascript, styles

feat: Add Form Builder block with AJAX submission and spam protection
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-submissions.php
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/index.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/blocks/form-builder/view.js
Labels: blocks, php, javascript, styles

feat: Add core form field blocks (Text, Email, Textarea)
  src/blocks/form-email-field/block.json
  src/blocks/form-email-field/edit.js
  src/blocks/form-email-field/editor.scss
  src/blocks/form-email-field/index.js
  src/blocks/form-email-field/save.js
  src/blocks/form-email-field/style.scss
  src/blocks/form-text-field/block.json
  src/blocks/form-text-field/edit.js
  src/blocks/form-text-field/editor.scss
  src/blocks/form-text-field/index.js
  src/blocks/form-text-field/save.js
  src/blocks/form-text-field/style.scss
  src/blocks/form-textarea/block.json
  src/blocks/form-textarea/edit.js
  src/blocks/form-textarea/editor.scss
  src/blocks/form-textarea/index.js
  src/blocks/form-textarea/save.js
  src/blocks/form-textarea/style.scss
Labels: blocks, javascript, styles

feat: Add Phone Field with country code selector and auto-formatting
  src/blocks/form-phone-field/block.json
  src/blocks/form-phone-field/edit.js
  src/blocks/form-phone-field/editor.scss
  src/blocks/form-phone-field/index.js
  src/blocks/form-phone-field/save.js
  src/blocks/form-phone-field/style.scss
  src/blocks/form-phone-field/view.js
Labels: blocks, javascript, styles

docs: Update wiki and README with all 40 blocks
  README.md
  wiki-content/Blocks-Reference.md
  wiki-content/Home.md
Labels: documentation

fix: resolve critical configuration issues and improve code quality
  .husky/pre-commit
  PLUGIN-REVIEW.md
  composer.json
  languages/designsetgo.pot
  package.json
  phpcs.xml
  src/admin/components/BlocksExtensions.js
Labels: documentation, configuration, javascript

fix: JS linting cleanup - Part 2 (49 errors fixed)
  designsetgo.php
  includes/block-animation-attributes.php
  languages/TRANSLATION_README.md
  languages/auto_translate.py
  languages/comprehensive_translator.py
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.po
  languages/msgids_to_translate.txt
  languages/translate_all.py
  languages/untranslated_strings.txt
  src/blocks/blobs/view.js
  src/blocks/flex/render.php
  src/blocks/form-builder/view.js
  src/blocks/form-file-upload/edit.js
  src/blocks/form-number-field/edit.js
  src/blocks/form-text-field/edit.js
  src/blocks/form-textarea/edit.js
  src/blocks/form-time-field/edit.js
  src/blocks/grid/edit.js
  src/blocks/grid/render.php
  src/blocks/image-accordion/view.js
  src/blocks/scroll-accordion/view.js
  src/blocks/scroll-marquee/edit.js
  src/blocks/scroll-marquee/view.js
  src/blocks/slide/edit.js
  src/blocks/slider/edit.js
  src/blocks/stack/render.php
  src/extensions/clickable-group/editor.scss
  src/extensions/clickable-group/frontend.js
  src/extensions/clickable-group/index.js
  src/extensions/clickable-group/styles.scss
  src/index.js
Labels: blocks, extensions, documentation, php, javascript, styles, needs-review

feat: Add shared PHP libraries for block extensions
  designsetgo.php
  includes/block-animation-attributes.php
  includes/icon-svg-library.php
  src/blocks/flex/save.js
  src/blocks/grid/save.js
  src/blocks/stack/save.js
Labels: blocks, php, javascript, needs-review

revert: Restore container blocks to static rendering
  src/blocks/flex/block.json
  src/blocks/flex/render.php
  src/blocks/grid/block.json
  src/blocks/grid/render.php
  src/blocks/stack/block.json
  src/blocks/stack/render.php
Labels: blocks, php

feat: Add viewScript to interactive blocks
  src/blocks/accordion/block.json
  src/blocks/progress-bar/block.json
  src/blocks/tabs/block.json
Labels: blocks

chore: Update frontend scripts and documentation
  src/blocks/reveal/edit.js
  src/blocks/reveal/save.js
  src/extensions/clickable-group/frontend.js
  src/extensions/clickable-group/index.js
  src/frontend.js
Labels: blocks, extensions, javascript

feat: Add Countdown Timer block with advanced features
  .stylelintrc.json
  src/blocks/countdown-timer/block.json
  src/blocks/countdown-timer/components/inspector/CompletionPanel.js
  src/blocks/countdown-timer/components/inspector/DateTimePanel.js
  src/blocks/countdown-timer/components/inspector/DisplayPanel.js
  src/blocks/countdown-timer/components/inspector/StylingPanel.js
  src/blocks/countdown-timer/components/inspector/UnitBorderPanel.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/countdown-timer/edit.js
  src/blocks/countdown-timer/editor.scss
  src/blocks/countdown-timer/index.js
  src/blocks/countdown-timer/save.js
  src/blocks/countdown-timer/style.scss
  src/blocks/countdown-timer/utils/format-time.js
  src/blocks/countdown-timer/utils/time-calculator.js
  src/blocks/countdown-timer/view.js
Labels: blocks, javascript, styles

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
