Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

feat(patterns): Add DSG extensions to homepage templates
  patterns/homepage/homepage-ecommerce.php
  patterns/homepage/homepage-education.php
  patterns/homepage/homepage-event.php
  patterns/homepage/homepage-fitness.php
  patterns/homepage/homepage-nonprofit.php
Labels: php

feat(patterns): Add 5 new homepage templates
  patterns/homepage/homepage-ecommerce.php
  patterns/homepage/homepage-education.php
  patterns/homepage/homepage-event.php
  patterns/homepage/homepage-fitness.php
  patterns/homepage/homepage-nonprofit.php
Labels: php

feat(patterns): Add 6 new section patterns with tabs, countdown, accordion, progress bars, and map
  patterns/contact/contact-map-split.php
  patterns/content/content-progress-skills.php
  patterns/cta/cta-countdown.php
  patterns/faq/faq-accordion-animated.php
  patterns/pricing/pricing-tabs.php
  patterns/services/services-icon-cards.php
Labels: php

feat(patterns): Add 6 new section patterns with DSG extensions
  patterns/content/content-split-reveal.php
  patterns/cta/cta-gradient.php
  patterns/features/features-animated-cards.php
  patterns/gallery/gallery-parallax-grid.php
  patterns/hero/hero-parallax.php
  patterns/testimonials/testimonials-cards-animated.php
Labels: php

feat(patterns): Add Luxury Real Estate homepage with premium design
  patterns/homepage/homepage-luxury-realestate.php
Labels: php

fix(patterns): Update homepage templates with proper DSG extension attributes
  patterns/homepage/homepage-ecommerce.php
  patterns/homepage/homepage-education.php
  patterns/homepage/homepage-event.php
  patterns/homepage/homepage-fitness.php
  patterns/homepage/homepage-nonprofit.php
  src/blocks/section/style.scss
  src/styles/_utilities.scss
Labels: blocks, php, styles

fix(patterns): Use HTML entity for apostrophe in Luxury Real Estate homepage
  patterns/homepage/homepage-luxury-realestate.php
Labels: php

fix(patterns): Update Modern SaaS homepage with proper DSG extension attributes
  patterns/homepage/homepage-modern-saas.php
Labels: php

feat(patterns): Add 6 more section patterns with modals, sliders, blobs, and navigation
  patterns/content/content-about-blobs.php
  patterns/content/content-slider-cards.php
  patterns/gallery/gallery-masonry-modal.php
  patterns/hero/hero-event-countdown.php
  patterns/modal/modal-video-cta.php
  patterns/navigation/breadcrumbs-styled.php
Labels: php

feat(patterns): Add Modern SaaS homepage with advanced DSG features
  patterns/homepage/homepage-modern-saas.php
Labels: php

fix(patterns): Update pattern markup for consistency
  patterns/content/content-split-reveal.php
  patterns/cta/cta-banner-gradient.php
  patterns/cta/cta-countdown.php
  patterns/cta/cta-gradient.php
  patterns/cta/cta-newsletter.php
  patterns/features/features-animated-cards.php
  patterns/gallery/gallery-parallax-grid.php
  patterns/hero/hero-parallax.php
Labels: php

docs: Fix incorrect dsgo-row__inner class reference in WIDTH-LAYOUT-PATTERNS
  docs/patterns/WIDTH-LAYOUT-PATTERNS.md
Labels: documentation

feat(patterns): Add 6 patterns with tabs, FAQ categories, alternating rows, and ratings
  patterns/content/content-alternating-rows.php
  patterns/content/content-tabs-section.php
  patterns/cta/cta-banner-gradient.php
  patterns/faq/faq-accordion-categories.php
  patterns/features/features-grid-icons.php
  patterns/testimonials/testimonials-rating-cards.php
Labels: php

fix(patterns): Use correct row block structure with dsgo-flex classes
  patterns/content/content-about-blobs.php
  patterns/hero/hero-event-countdown.php
  patterns/modal/modal-video-cta.php
  patterns/navigation/breadcrumbs-styled.php
Labels: php

refactor(grid-span): Simplify column span to use inline wrapperProps
  src/extensions/grid-span/index.js
Labels: extensions, javascript

refactor(blocks): Rename form-textarea to form-textarea-field
  includes/abilities/class-block-inserter.php
  includes/abilities/generators/class-generate-contact-section.php
  includes/abilities/inserters/class-insert-form-builder.php
  includes/admin/class-settings.php
  patterns/contact/contact-form.php
  patterns/contact/contact-map-split.php
  patterns/contact/contact-split.php
  patterns/homepage/homepage-professional.php
  patterns/modal/contact-form.php
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-textarea-field/block.json
  src/blocks/form-textarea-field/deprecated.js
  src/blocks/form-textarea-field/edit.js
  src/blocks/form-textarea-field/editor.scss
  src/blocks/form-textarea-field/index.js
  src/blocks/form-textarea-field/save.js
  src/blocks/form-textarea-field/style.scss
  src/blocks/modal/templates.js
Labels: blocks, php, javascript, styles

refactor(patterns): Update patterns to use new block structures
  patterns/content/content-about-blobs.php
  patterns/content/content-alternating-rows.php
  patterns/content/content-image-overlay.php
  patterns/content/content-logo-cloud.php
  patterns/content/content-portfolio-cards.php
  patterns/content/content-process-steps.php
  patterns/content/content-progress-skills.php
  patterns/content/content-quote-highlight.php
  patterns/content/content-slider-cards.php
  patterns/content/content-split-image.php
  patterns/content/content-stats-counters.php
  patterns/content/content-tabs-section.php
  patterns/content/content-timeline.php
  patterns/faq/faq-accordion-animated.php
  patterns/faq/faq-accordion-categories.php
  patterns/features/features-grid-icons.php
  patterns/hero/hero-event-countdown.php
  patterns/modal/modal-video-cta.php
  patterns/pricing/pricing-tabs.php
  patterns/team/team-grid-social.php
  patterns/testimonials/testimonials-rating-cards.php
  patterns/testimonials/testimonials-video.php
Labels: php

chore(patterns): Remove features-comparison and gallery-masonry-modal
  patterns/features/features-comparison.php
  patterns/gallery/gallery-masonry-modal.php
Labels: php

feat(icons): Add quote and shield-check icons
  includes/icon-svg-library.php
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, php, javascript

fix(timeline): Fix alternating layout for clickable items
  src/blocks/timeline-item/style.scss
Labels: blocks, styles

feat(patterns): Add 6 patterns with comparison, team, portfolio, and testimonials
  patterns/content/content-image-overlay.php
  patterns/content/content-portfolio-cards.php
  patterns/content/content-split-image.php
  patterns/features/features-comparison.php
  patterns/team/team-grid-social.php
  patterns/testimonials/testimonials-video.php
Labels: php

feat(patterns): Add 6 content patterns with stats, timeline, logos, newsletter, quote, and process
  patterns/content/content-logo-cloud.php
  patterns/content/content-process-steps.php
  patterns/content/content-quote-highlight.php
  patterns/content/content-stats-counters.php
  patterns/content/content-timeline.php
  patterns/cta/cta-newsletter.php
Labels: php

fix(ci): Address PR review feedback for CI workflow
  .github/workflows/ci.yml
Labels: ci/cd

fix(e2e): Exempt setup/cleanup projects from storageState loading
  playwright.config.js
Labels: javascript

fix(ci): Use V8 coverage provider and fix E2E storageState config
  jest.config.js
  playwright.config.js
Labels: javascript

feat(sticky-header): Enable background color on scroll by default and add text color on scroll
  includes/admin/class-settings.php
  includes/class-sticky-header.php
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
Labels: php, javascript, styles

fix(ci): Remove broken coverage flag and fix test/code issues
  .github/workflows/ci.yml
  includes/abilities/class-block-configurator.php
  includes/admin/class-draft-mode-rest.php
  includes/blocks/class-form-handler.php
  includes/helpers.php
  tests/phpunit/custom-css-renderer-test.php
  tests/phpunit/llms-txt-test.php
  tests/phpunit/security-fixes-test.php
Labels: php, ci/cd

refactor(ci): Streamline CI and add E2E tests (#176)
  .github/workflows/ci.yml
  includes/abilities/class-block-configurator.php
  includes/admin/class-draft-mode-rest.php
  includes/blocks/class-form-handler.php
  includes/helpers.php
  jest.config.js
  playwright.config.js
  tests/phpunit/custom-css-renderer-test.php
  tests/phpunit/llms-txt-test.php
  tests/phpunit/security-fixes-test.php
Labels: php, javascript, ci/cd

fix(sticky-header): Address PR review feedback for text color on scroll
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
Labels: javascript, styles

Refactor heading scanner to use block store instead of DOM (#172)
  src/blocks/table-of-contents/components/useHeadingScanner.js
Labels: blocks, javascript

fix: Resolve 6 pre-existing test failures across CSS renderer, draft mode, and markdown
  includes/admin/class-draft-mode-rest.php
  includes/markdown/class-converter.php
  includes/markdown/class-core-handlers.php
  tests/phpunit/custom-css-renderer-test.php
Labels: php

fix(draft-mode): Preserve CSS display property through wp_kses sanitization
  includes/admin/class-draft-mode-rest.php
Labels: php

Add text color control for sticky header on scroll (#177)
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-settings.php
  includes/class-sticky-header.php
  includes/markdown/class-converter.php
  includes/markdown/class-core-handlers.php
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
  tests/phpunit/custom-css-renderer-test.php
Labels: php, javascript, styles

fix(patterns): Escape apostrophe in nonprofit homepage pattern
  patterns/homepage/homepage-nonprofit.php
Labels: php

Add Comparison Table block with dynamic columns and cell types (#171)
  src/blocks/comparison-table/block.json
  src/blocks/comparison-table/edit.js
  src/blocks/comparison-table/editor.scss
  src/blocks/comparison-table/index.js
  src/blocks/comparison-table/save.js
  src/blocks/comparison-table/style.scss
  src/blocks/comparison-table/view.js
Labels: blocks, javascript, styles

Optimize pattern loader to skip front-end and cache file paths
  designsetgo.php
  includes/patterns/class-loader.php
Labels: php, needs-review

feat(draft-mode): Rename to preview mode, add settings toggle and docs
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode-preview.php
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  src/admin/components/settings-panels/DraftModePanel.js
Labels: documentation, php, javascript

feat(abilities): Add Block_Schema_Loader for block.json schema integration
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-configurator-ability.php
  includes/abilities/class-block-schema-loader.php
  includes/abilities/configurators/class-configure-accordion.php
  includes/abilities/configurators/class-configure-row.php
  includes/abilities/configurators/class-configure-section.php
  src/blocks/accordion/block.json
  src/blocks/row/block.json
  src/blocks/section/block.json
  tests/phpunit/abilities-test.php
Labels: blocks, php

fix(abilities): Address security and logic issues from PR review
  includes/abilities/class-abstract-configurator-ability.php
  includes/abilities/class-block-schema-loader.php
Labels: php

docs: fix documentation accuracy and add missing block docs
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  TESTING.md
  designsetgo.php
  docs/README.md
  docs/blocks/BREADCRUMBS.md
  docs/blocks/COMPARISON-TABLE.md
  docs/blocks/TIMELINE.md
  readme.txt
Labels: documentation, php, needs-review
