Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

chore: Apply linter auto-fixes
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/index.js
  src/blocks/icon-button/deprecated.js
  tests/unit/breakpoints.test.js
  tests/unit/css-generator.test.js
  webpack.config.js
Labels: blocks, configuration, javascript

refactor: Split llms-txt and markdown-converter into focused classes
  includes/class-llms-txt.php
  includes/class-markdown-converter.php
  includes/class-plugin.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-file-manager.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  includes/markdown/class-converter.php
  includes/markdown/class-core-handlers.php
  includes/markdown/class-dsgo-handlers.php
  src/llms-txt/index.js
Labels: php, javascript

fix: Escape regex special characters in CSS assertion utilities
  tests/unit/setup.js
  tests/unit/test-utils.js
Labels: javascript

fix: Update activation hook to use refactored LLMS_Txt\Controller class
  designsetgo.php
Labels: php, needs-review

Add comprehensive test suite for forms, blocks, and utilities (#144)
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/index.js
  src/blocks/icon-button/deprecated.js
  tests/phpunit/form-handler-test.php
  tests/unit/block-schema-validation.test.js
  tests/unit/breakpoints.test.js
  tests/unit/css-generator.test.js
  tests/unit/extensions.test.js
  tests/unit/modal.test.js
  tests/unit/setup.js
  tests/unit/test-utils.js
  webpack.config.js
Labels: blocks, configuration, php, javascript

feat: Add llms.txt support for AI language models (#127)
  .husky/pre-commit
  designsetgo.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-file-manager.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  includes/markdown/class-converter.php
  includes/markdown/class-core-handlers.php
  includes/markdown/class-dsgo-handlers.php
  src/admin/components/Settings.js
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/llms-txt/index.js
  src/styles/editor.scss
  tests/phpunit/llms-txt-test.php
  webpack.config.js
Labels: configuration, php, javascript, styles, needs-review

chore: Release version 1.4.0
  CHANGELOG.md
  designsetgo.php
  package-lock.json
  package.json
  readme.txt
  src/admin/components/BlocksExtensions.js
  src/admin/revisions/_preview.scss
  src/utils/should-extend-block.js
Labels: documentation, configuration, php, javascript, styles, needs-review

feat: Add GitHub Action for manual WordPress.org asset deploys
  .github/workflows/deploy-assets.yml
Labels: ci/cd

docs: Update README with accurate block and extension counts
  README.md
Labels: documentation

chore: Bump minimum WordPress version to 6.7
  README.md
  designsetgo.php
Labels: documentation, php, needs-review

chore: Update WordPress minimum version to 6.7 in readme.txt
  readme.txt
Labels: none

docs: Correct CSS bundle size claim to under 10 KB gzipped
  readme.txt
Labels: none

fix: Allow user margins to override icon button alignment
  .github/workflows/deploy-assets.yml
  src/blocks/icon-button/block.json
  src/blocks/icon-button/style.scss
Labels: blocks, styles, ci/cd

fix: Resolve multiple block control and animation issues
  src/blocks/divider/editor.scss
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/blocks/row/edit.js
  src/blocks/row/save.js
Labels: blocks, javascript, styles

feat: Add dismissable llms.txt conflict notices with resolution option
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

fix: Grid preset spacing and button full-width override
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

fix: Improve llms.txt conflict handling and file management
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-file-manager.php
  includes/llms-txt/class-generator.php
  src/admin/style.scss
Labels: php, styles

fix: Add type safety to Row block preset conversion
  src/blocks/row/edit.js
  src/blocks/row/save.js
Labels: blocks, javascript

refactor: Use WordPress alignfull for icon button full-width
  src/blocks/icon-button/block.json
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/styles/_utilities.scss
  src/styles/utilities/_width-layout.scss
Labels: blocks, javascript, styles

fix: Add type safety to Grid block and remove unused width attribute
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/icon-button/block.json
Labels: blocks, javascript

docs: Update readme.txt with 1.4.0 features and fix extension count
  readme.txt
Labels: none

fix: Block control bugs and llms.txt conflict handling (#145)
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-file-manager.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/admin/style.scss
  src/blocks/divider/editor.scss
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/icon-button/block.json
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/styles/_utilities.scss
  src/styles/utilities/_width-layout.scss
Labels: blocks, php, javascript, styles

chore: Release version 1.4.1
  .claude/claude.md
  designsetgo.php
  package.json
  readme.txt
Labels: documentation, configuration, php, needs-review

fix: Exclude .svn directory from rsync in trunk deploy
  .github/workflows/deploy-assets.yml
Labels: ci/cd

feat: Major improvements to Abilities API architecture and features
  docs/api/ABILITIES-API.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-css-sanitizer.php
  includes/abilities/configurators/class-batch-update.php
  includes/abilities/configurators/class-configure-custom-css.php
  includes/abilities/configurators/class-delete-block.php
  includes/abilities/info/class-find-blocks.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-accordion-item.php
  includes/abilities/inserters/class-insert-tab.php
  tests/phpunit/abilities-test.php
Labels: documentation, php

fix: Handle acronyms in auto-discovery class name conversion
  includes/abilities/class-abilities-registry.php
Labels: php

fix: Address PR review feedback for Abilities API
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/class-block-inserter.php
  includes/abilities/class-css-sanitizer.php
  includes/abilities/configurators/class-delete-block.php
  includes/abilities/info/class-find-blocks.php
  includes/abilities/inserters/class-insert-tab.php
Labels: php

fix: Fix PHPCS code style issues in info abilities
  includes/abilities/info/class-find-blocks.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-blocks.php
Labels: php

fix: Improve Claude PR review action for thorough code reviews
  .github/workflows/claude-code-review.yml
Labels: ci/cd

fix: Improve Claude PR review action for thorough code reviews (#147)
  .github/workflows/claude-code-review.yml
Labels: ci/cd

fix: Address additional PR feedback and remove obsolete scripts
  includes/abilities/class-block-inserter.php
  includes/abilities/inserters/class-insert-countdown-timer.php
  includes/abilities/inserters/class-insert-image-accordion.php
  includes/abilities/inserters/class-insert-modal.php
  includes/abilities/inserters/class-insert-table-of-contents.php
  package-lock.json
  prepare-assets.sh
  push-svn-assets.sh
Labels: configuration, php

feat: Add form-builder and form field blocks support to Block_Inserter
  includes/abilities/class-block-inserter.php
Labels: php

fix: Address additional PR review feedback
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/class-block-inserter.php
Labels: php

fix: Fix PHPCS array formatting in countdown timer units
  includes/abilities/class-block-inserter.php
Labels: php

fix: Cast numeric values to string for esc_attr/esc_html
  includes/abilities/class-block-inserter.php
Labels: php

fix: Fix PHPStan type errors in block inserter
  includes/abilities/class-block-inserter.php
Labels: php

fix: Cast numeric values to string for esc_attr/esc_html
  includes/abilities/class-block-inserter.php
Labels: php

fix: Resolve PHPStan 'always true' condition warnings
  includes/abilities/class-block-inserter.php
  includes/abilities/class-css-sanitizer.php
  includes/abilities/info/class-list-blocks.php
Labels: php

feat: Major improvements to Abilities API architecture and features (#146)
  docs/api/ABILITIES-API.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/class-block-inserter.php
  includes/abilities/class-css-sanitizer.php
  includes/abilities/configurators/class-batch-update.php
  includes/abilities/configurators/class-configure-custom-css.php
  includes/abilities/configurators/class-delete-block.php
  includes/abilities/info/class-find-blocks.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-accordion-item.php
  includes/abilities/inserters/class-insert-countdown-timer.php
  includes/abilities/inserters/class-insert-image-accordion.php
  includes/abilities/inserters/class-insert-modal.php
  includes/abilities/inserters/class-insert-tab.php
  includes/abilities/inserters/class-insert-table-of-contents.php
  package-lock.json
  prepare-assets.sh
  push-svn-assets.sh
  tests/phpunit/abilities-test.php
Labels: documentation, configuration, php

fix: Modal trigger inherits button styles and respects alignment
  src/blocks/modal-trigger/block.json
  src/blocks/modal-trigger/deprecated.js
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
Labels: blocks, javascript, styles
