Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

Address PR review feedback: harden security, improve robustness
  includes/patterns/class-loader.php
Labels: php

docs: fix extension count to 15 and form field types to 11
  README.md
  designsetgo.php
  docs/README.md
  docs/extensions/GRID-MOBILE-ORDER.md
  readme.txt
Labels: documentation, php, needs-review

Add PHPUnit tests for pattern loader optimizations
  tests/phpunit/patterns-loader-test.php
Labels: php

Fix grid and row blocks not going edge-to-edge when alignfull outside section
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
Labels: blocks, styles

docs(abilities): Update API docs for WP 6.9 Abilities API
  .claude/skills/wp-abilities-api/SKILL.md
  .claude/skills/wp-abilities-api/references/php-registration.md
  .claude/skills/wp-abilities-api/references/rest-api.md
  docs/api/ABILITIES-API-GUIDE.md
  docs/api/ABILITIES-API.md
Labels: documentation

fix(abilities): Fix block inserter markup to match editor save output
  includes/abilities/class-block-inserter.php
Labels: php

Fix is_editor_request test to simulate admin context properly
  tests/phpunit/patterns-loader-test.php
Labels: php

Release v1.4.1: Bug fixes and block count updates (#180)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  TESTING.md
  designsetgo.php
  docs/README.md
  docs/blocks/BREADCRUMBS.md
  docs/blocks/COMPARISON-TABLE.md
  docs/blocks/TIMELINE.md
  docs/extensions/GRID-MOBILE-ORDER.md
  readme.txt
Labels: documentation, php, needs-review

Fix E2E auth setup failing due to wp-env not running in CI
  .github/workflows/ci.yml
  playwright.config.js
  tests/e2e/auth.setup.js
Labels: javascript, ci/cd

Fix E2E auth setup failing due to wp-env not running in CI (#182)
  .github/workflows/ci.yml
  playwright.config.js
  tests/e2e/auth.setup.js
Labels: javascript, ci/cd

Fix grid and row blocks not going edge-to-edge when alignfull outside section (#181)
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
Labels: blocks, styles

Validate cached category keys against allowed list
  includes/patterns/class-loader.php
  tests/phpunit/patterns-loader-test.php
Labels: php

Optimize pattern loading with caching and editor-only registration (#179)
  designsetgo.php
  includes/patterns/class-loader.php
  tests/phpunit/patterns-loader-test.php
Labels: php, needs-review

fix(draft-mode): Fix PHPCS docblock parameter alignment
  includes/admin/class-draft-mode-preview.php
Labels: php

fix(abilities): Correct load order for Block_Schema_Loader dependency
  includes/abilities/class-abilities-registry.php
Labels: php

Fix inline blocks floating beside content in Group blocks
  src/blocks/icon-button/style.scss
  src/blocks/icon/style.scss
  src/blocks/modal-trigger/style.scss
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, block: icon, styles

fix(draft-mode): Fix PHPCS docblock parameter alignment
  includes/admin/class-draft-mode-preview.php
Labels: php

Add frontend draft preview mode for administrators (#168)
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode-preview.php
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  includes/admin/css/draft-mode-preview-banner.css
  includes/admin/js/draft-mode-preview-banner.js
  includes/class-plugin.php
  phpstan-constants.php
  phpstan.neon
  src/admin/components/settings-panels/DraftModePanel.js
Labels: documentation, php, javascript, styles

fix(abilities): Fix block inserter markup to match editor save output
  includes/abilities/class-block-configurator.php
Labels: php

fix(abilities): Remove unused camel_to_kebab method
  includes/abilities/class-block-configurator.php
Labels: php

Fix inline blocks floating beside content in Group blocks (#183)
  src/blocks/icon-button/style.scss
  src/blocks/icon/style.scss
  src/blocks/modal-trigger/style.scss
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, block: icon, styles

Enable block refinement by AI agents via Abilities API
  includes/abilities/class-block-configurator.php
  includes/abilities/configurators/class-configure-block-attributes.php
  includes/abilities/configurators/class-configure-shape-divider.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-block-into.php
Labels: php

Remove broken container-content-width e2e test that stalls the suite
  tests/e2e/container-content-width.spec.js
Labels: javascript

Fix security and validation issues from code review
  includes/abilities/class-block-configurator.php
  includes/abilities/configurators/class-configure-block-attributes.php
  includes/abilities/configurators/class-configure-shape-divider.php
  includes/abilities/inserters/class-insert-block-into.php
Labels: php

Remove broken container-content-width e2e test that stalls the suite (#185)
  tests/e2e/container-content-width.spec.js
Labels: javascript

Fix PHPCS array formatting in configure-shape-divider
  includes/abilities/configurators/class-configure-shape-divider.php
Labels: php

Harden color validation and block name input sanitization
  includes/abilities/configurators/class-configure-shape-divider.php
  includes/abilities/inserters/class-insert-block-into.php
Labels: php

Add block indexing and new configurator abilities for AI agents (#184)
  includes/abilities/class-block-configurator.php
  includes/abilities/configurators/class-configure-block-attributes.php
  includes/abilities/configurators/class-configure-shape-divider.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-block-into.php
Labels: php

Add abilities integration tests and Abilities API compatibility fixes
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-abstract-configurator-ability.php
  includes/abilities/configurators/class-delete-block.php
  includes/abilities/info/class-find-blocks.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/info/class-list-blocks.php
  tests/phpunit/abilities-security-test.php
  tests/phpunit/abilities-smoke-test.php
Labels: php

fix: prevent entity-encoded XSS bypass in sanitize_attributes()
  includes/abilities/class-block-configurator.php
  tests/phpunit/abilities-security-test.php
Labels: php

Add abilities integration tests and API compatibility fixes (#186)
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-abstract-configurator-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/configurators/class-delete-block.php
  includes/abilities/info/class-find-blocks.php
  includes/abilities/info/class-get-post-blocks.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/info/class-list-blocks.php
  tests/phpunit/abilities-security-test.php
  tests/phpunit/abilities-smoke-test.php
Labels: php

docs: Add 1.4.2 changelog with draft preview, AI abilities, and bug fixes
  CHANGELOG.md
  readme.txt
Labels: documentation

docs: Update changelog to 1.5.0 with full release notes
  CHANGELOG.md
  readme.txt
Labels: documentation

Release v1.5.0: New blocks, extensions, patterns, and features (#187)
  CHANGELOG.md
  readme.txt
Labels: documentation

Fix failing e2e tests: handle WordPress 6.4+ iframed editor
  tests/e2e/group-enhancements.spec.js
  tests/e2e/helpers/wordpress.js
Labels: javascript

Fix failing e2e tests: handle WordPress 6.4+ iframed editor (#188)
  tests/e2e/group-enhancements.spec.js
  tests/e2e/helpers/wordpress.js
Labels: javascript

Remove overflow: hidden from section block to fix content clipping
  src/blocks/scroll-accordion/view.js
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

Fix blob size UnitControl reverting to 100 when switching units
  src/blocks/blobs/edit.js
Labels: blocks, javascript

Apply lint auto-formatting to StickyHeaderPanel and e2e helpers
  src/admin/components/settings-panels/StickyHeaderPanel.js
  tests/e2e/helpers/wordpress.js
Labels: javascript

Fix icon-button stretching vertically in editor when inside grid > section
  src/blocks/icon-button/editor.scss
  src/blocks/section/editor.scss
Labels: blocks, styles
