Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

feat: Add header and footer block patterns (#249)
  includes/patterns/class-loader.php
  patterns/footer/footer-centered.php
  patterns/footer/footer-classic.php
  patterns/footer/footer-columns.php
  patterns/footer/footer-dark.php
  patterns/footer/footer-minimal.php
  patterns/header/header-centered.php
  patterns/header/header-classic.php
  patterns/header/header-cta.php
  patterns/header/header-dark.php
  patterns/header/header-topbar.php
Labels: php

feat(overlay-header): add 3 overlay header pattern variants
  patterns/header/header-classic-overlay.php
  patterns/header/header-cta-overlay.php
  patterns/header/header-dark-overlay.php
Labels: php

feat(overlay-header): add CSS positioning rules for overlay mode
  src/styles/utilities/_sticky-header.scss
Labels: styles

feat(overlay-header): add editor sidebar panel with webpack entry and enqueue
  src/overlay-header/index.js
  webpack.config.js
Labels: configuration, javascript

feat(overlay-header): wire Overlay_Header class into plugin init
  includes/class-plugin.php
Labels: php

feat(overlay-header): add PHP class for post meta and body class
  docs/plans/2026-02-14-overlay-header-design.md
  includes/class-overlay-header.php
Labels: documentation, php

test(overlay-header): add PHPUnit tests for Overlay_Header class
  tests/phpunit/overlay-header-test.php
Labels: php

feat(overlay-header): add overlay awareness to sticky header scroll handler
  src/utils/sticky-header.js
Labels: javascript

feat(overlay-header): add extra top padding to overlay-compatible hero patterns
  patterns/hero/hero-agency-dark.php
  patterns/hero/hero-centered.php
  patterns/hero/hero-split.php
Labels: php

fix(tests): update patterns-loader tests for header/footer categories
  tests/phpunit/patterns-loader-test.php
Labels: php

fix(overlay-header): pull content up under absolute-positioned header
  src/styles/utilities/_sticky-header.scss
Labels: styles

refactor(sticky-header): extract CSS into standalone webpack bundle
  includes/class-sticky-header.php
  src/styles/_utilities.scss
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
  src/utils/sticky-header.scss
Labels: php, javascript, styles

fix(overlay-header): address PR review feedback
  includes/class-overlay-header.php
  tests/phpunit/overlay-header-test.php
Labels: php

feat: Add per-page overlay header with transparent-to-sticky transition (#251)
  docs/plans/2026-02-14-overlay-header-design.md
  includes/class-overlay-header.php
  includes/class-plugin.php
  includes/class-sticky-header.php
  patterns/header/header-classic-overlay.php
  patterns/header/header-cta-overlay.php
  patterns/header/header-dark-overlay.php
  patterns/hero/hero-agency-dark.php
  patterns/hero/hero-centered.php
  patterns/hero/hero-split.php
  src/overlay-header/index.js
  src/styles/_utilities.scss
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
  src/utils/sticky-header.scss
  tests/phpunit/overlay-header-test.php
  tests/phpunit/patterns-loader-test.php
  webpack.config.js
Labels: documentation, configuration, php, javascript, styles

feat: Enhance llms.txt with full spec compliance (#248)
  includes/admin/class-settings.php
  includes/llms-txt/class-controller.php
  includes/llms-txt/class-generator.php
  includes/llms-txt/class-rest-controller.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
Labels: php, javascript

docs: Add 'Why This Matters' column to CoVe common mistakes table
  .claude/skills/chain-of-verification/SKILL.md
Labels: documentation

Add chain-of-verification skill for reducing hallucinations (#250)
  .claude/skills/chain-of-verification/SKILL.md
Labels: documentation

fix: Replace undefined wp_strlen/wp_substr with mb_strlen/mb_substr
  includes/llms-txt/class-generator.php
Labels: php

fix: Add vertical stretch support for section flex children
  patterns/hero/hero-bento.php
  patterns/hero/hero-double-image.php
  src/blocks/section/style.scss
Labels: blocks, php, styles

chore: Release version 2.0.26
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Make advanced heading segments flow inline with natural text wrapping
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/editor.scss
  src/blocks/advanced-heading/save.js
  src/blocks/advanced-heading/style.scss
Labels: blocks, javascript, styles

chore: Update package-lock.json version
  package-lock.json
Labels: configuration

fix: Stack inline form button below field on mobile
  src/blocks/form-builder/style.scss
Labels: blocks, styles

chore: Update package-lock.json from npm install
  package-lock.json
Labels: configuration

Fix slider block overflowing parent container in constrained layouts
  src/blocks/slider/editor.scss
  src/blocks/slider/style.scss
Labels: blocks, styles

chore: Sync package-lock.json version with package.json
  package-lock.json
Labels: configuration

refactor: Use shared convertPresetToCSSVar utility for block gap
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/save.js
Labels: blocks, javascript

fix: Address PR review comments for inline form mobile stacking
  src/blocks/form-builder/style.scss
Labels: blocks, styles

Reduce outside-arrow padding minimum for narrow containers
  src/blocks/slider/style.scss
Labels: blocks, styles

fix: Stack horizontal icon list on tablet and mobile
  src/blocks/icon-list/editor.scss
  src/blocks/icon-list/style.scss
Labels: blocks, block: icon-list, styles

chore: Update package-lock.json from npm install
  package-lock.json
Labels: configuration

feat: Add scroll-driven rotation to parallax extension
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/extension-configs/vertical-parallax.php
  src/extensions/vertical-scroll-parallax/attributes.js
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, php, javascript

chore: Update package-lock.json
  package-lock.json
Labels: configuration

feat: Add Fifty Fifty block for full-width 50/50 split layouts
  src/blocks/fifty-fifty/block.json
  src/blocks/fifty-fifty/edit.js
  src/blocks/fifty-fifty/editor.scss
  src/blocks/fifty-fifty/index.js
  src/blocks/fifty-fifty/save.js
  src/blocks/fifty-fifty/style.scss
Labels: blocks, javascript, styles

fix: Resolve lint issues in fifty-fifty block
  src/blocks/fifty-fifty/edit.js
  src/blocks/fifty-fifty/save.js
  src/blocks/fifty-fifty/style.scss
Labels: blocks, javascript, styles

chore: Update package-lock.json after npm install
  package-lock.json
Labels: configuration

Fix regex in test_generate_content_auto_generates_excerpt
  tests/phpunit/llms-txt-test.php
Labels: php

fix: Respect explicit max-width inside no-width-constraint flex containers
  src/blocks/row/style.scss
  src/styles/_utilities.scss
Labels: blocks, styles

Fix regex in test_generate_content_auto_generates_excerpt (#261)
  tests/phpunit/llms-txt-test.php
Labels: php

Add block gap support to Advanced Heading block (#253)
  package-lock.json
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/editor.scss
  src/blocks/advanced-heading/save.js
  src/blocks/advanced-heading/style.scss
Labels: blocks, configuration, javascript, styles
