Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

fix: row vertical alignment in editor when inside grid
  src/blocks/row/edit.js
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
Labels: blocks, javascript, styles

chore: Release version 2.0.44
  readme.txt
Labels: none

fix: refer to the upstream page generator by role, not by system name
  .claude/claude-memory.md
  CHANGELOG.md
  docs/plans/2026-07-01-shape-divider-theme-inheritance.md
  includes/blocks/forms/field-render-helpers.php
  readme.txt
  src/blocks/form-builder/deprecated.js
  src/blocks/form-email-field/deprecated.js
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-text-field/deprecated.js
  src/blocks/form-textarea-field/deprecated.js
  src/blocks/grid/deprecated.js
  src/blocks/map/render.php
  tests/e2e/blocks-dynamic-render.spec.js
  tests/unit/form-builder-compat-deprecation.test.js
  tests/unit/grid-compat-deprecation.test.js
  tests/unit/translation-resilience.test.js
Labels: blocks, documentation, php, javascript

fix: drop upstream-product references from comments, docs and examples
  .claude/claude-memory.md
  docs/guides/BEST-PRACTICES-SUMMARY.md
  docs/guides/BLOCK-DEVELOPMENT-BEST-PRACTICES-COMPREHENSIVE.md
  includes/admin/class-draft-mode-preview.php
  tests/unit/sticky-header-soft-reload.test.js
Labels: documentation, php, javascript

docs: fix the local path and repo slug in the GitHub setup docs
  .github/CONTRIBUTING.md
  .github/GITHUB-SETUP.md
Labels: documentation

docs: hold claude-memory.md to its own guidance
  .claude/claude-memory.md
Labels: documentation

feat: expose resolved theme design context ability
  includes/abilities/info/class-get-design-context.php
  tests/phpunit/design-context-ability-test.php
Labels: php

fix: match generated container and card markup to saved blocks
  includes/abilities/class-block-inserter.php
  tests/phpunit/abilities-generated-markup-fixture-test.php
  tests/unit/__fixtures__/ability-generated-markup.json
Labels: php

fix: complete row alignment serialization and cover zero spacing
  includes/abilities/class-block-inserter.php
  tests/phpunit/abilities-generated-markup-fixture-test.php
  tests/unit/__fixtures__/ability-generated-markup.json
Labels: php

fix: remediate plugin audit findings
  .github/workflows/ci.yml
  docs/plans/2026-09-09-audit-remediation.md
  includes/blocks/forms/class-form-handler.php
  includes/blocks/forms/class-form-security.php
  includes/blocks/query/class-query-filter-index.php
  includes/blocks/query/class-query.php
  includes/core/class-assets.php
  jest.config.js
  phpcs.xml
  phpstan.neon
  src/blocks/query/hooks/useQueryPreview.js
  src/blocks/query/hooks/useRenderedItems.js
  src/blocks/query/render-helpers.php
  src/blocks/query/render.php
  src/blocks/query/view-helpers.js
  src/blocks/query/view.js
  src/blocks/scroll-accordion/view.js
  src/blocks/tabs/test/view.test.js
  src/blocks/tabs/view.js
  tests/__mocks__/styleMock.js
  tests/phpunit/blocks/query/query-rest-render-test.php
  tests/phpunit/form-handler-test.php
  tests/unit/blocks/query/view-helpers.test.js
  tests/unit/blocks/scroll-accordion.test.js
Labels: blocks, documentation, php, javascript, ci/cd

fix: protect public query sources
  includes/blocks/query/class-query.php
  tests/phpunit/blocks/query/query-rest-render-test.php
Labels: php

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
