Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

fix(ci): Only run Claude review on PR creation, add manual re-review (#165)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

fix(timeline): Address PR review security and code quality issues
  includes/abilities/inserters/class-insert-timeline-item.php
  src/blocks/timeline-item/edit.js
  src/blocks/timeline-item/save.js
  src/blocks/timeline/edit.js
  src/blocks/timeline/view.js
Labels: blocks, php, javascript

fix(timeline): Address ESLint warnings
  src/blocks/timeline-item/edit.js
  src/blocks/timeline-item/save.js
  src/blocks/timeline/view.js
Labels: blocks, javascript

fix(draft-mode): Remove wp_kses_post sanitization that breaks block content
  includes/admin/class-draft-mode-rest.php
  tests/phpunit/draft-mode-rest-test.php
Labels: php

fix(draft-mode): Add custom sanitization for block content security
  includes/admin/class-draft-mode-rest.php
  tests/phpunit/draft-mode-rest-test.php
Labels: php

fix: Address plugin check issues for WordPress.org submission
  .distignore
  includes/admin/class-draft-mode.php
  includes/blocks/class-form-handler.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-file-manager.php
  patterns/faq/accordion-faq.php
Labels: php

fix(draft-mode): Remove wp_kses sanitization that breaks block content
  includes/admin/class-draft-mode-rest.php
Labels: php

fix: Add is_writable() fallback when WP_Filesystem fails
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-file-manager.php
Labels: php

style(draft-mode): Fix phpcs array formatting and comment
  includes/admin/class-draft-mode-rest.php
Labels: php

fix: Address plugin check issues for WordPress.org submission (#167)
  .distignore
  includes/admin/class-draft-mode.php
  includes/blocks/class-form-handler.php
  includes/llms-txt/class-conflict-detector.php
  includes/llms-txt/class-file-manager.php
  patterns/faq/accordion-faq.php
Labels: php

fix(draft-mode): Remove wp_kses_post sanitization that breaks block content (#166)
  includes/admin/class-draft-mode-rest.php
  tests/phpunit/draft-mode-rest-test.php
Labels: php

feat(draft-mode): Add site-wide preview mode for logged-in admins
  includes/admin/class-draft-mode-preview.php
  includes/admin/class-draft-mode.php
  includes/class-plugin.php
Labels: php

feat: Add responsive spacing controls to container blocks
  includes/class-plugin.php
  includes/class-responsive-spacing-renderer.php
  src/blocks/card/block.json
  src/blocks/card/edit.js
  src/blocks/card/save.js
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/row/block.json
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/section/block.json
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/components/responsive-spacing/DeviceToggle.js
  src/components/responsive-spacing/EditorStyleInjector.js
  src/components/responsive-spacing/ResponsiveSpacingControl.js
  src/components/responsive-spacing/editor.scss
  src/components/responsive-spacing/index.js
  src/styles/editor.scss
  src/utils/responsive-spacing.js
Labels: blocks, php, javascript, styles

fix: Address PR review feedback for responsive spacing
  includes/class-plugin.php
  includes/class-responsive-spacing-renderer.php
  src/blocks/card/edit.js
  src/blocks/grid/edit.js
  src/blocks/row/edit.js
  src/blocks/section/edit.js
  src/components/responsive-spacing/ResponsiveSpacingPanel.js
  src/components/responsive-spacing/index.js
  src/utils/responsive-spacing.js
Labels: blocks, php, javascript

fix(timeline): Fix horizontal marker alignment and mobile layout
  src/blocks/timeline-item/editor.scss
  src/blocks/timeline-item/style.scss
  src/blocks/timeline/block.json
  src/blocks/timeline/edit.js
  src/blocks/timeline/editor.scss
  src/blocks/timeline/index.js
  src/blocks/timeline/style.scss
Labels: blocks, javascript, styles

fix(draft-mode): Address security and code quality review feedback
  includes/admin/class-draft-mode-preview.php
Labels: php

feat(blocks): Add Timeline block for chronological content display (#164)
  includes/abilities/inserters/class-insert-timeline-item.php
  includes/abilities/inserters/class-insert-timeline.php
  src/blocks/timeline-item/block.json
  src/blocks/timeline-item/edit.js
  src/blocks/timeline-item/editor.scss
  src/blocks/timeline-item/index.js
  src/blocks/timeline-item/save.js
  src/blocks/timeline-item/style.scss
  src/blocks/timeline/block.json
  src/blocks/timeline/edit.js
  src/blocks/timeline/editor.scss
  src/blocks/timeline/index.js
  src/blocks/timeline/save.js
  src/blocks/timeline/style.scss
  src/blocks/timeline/view.js
Labels: blocks, php, javascript, styles

feat: Add responsive spacing to Abilities API
  includes/abilities/configurators/class-configure-responsive-spacing.php
  includes/abilities/inserters/class-insert-card.php
  includes/abilities/inserters/class-insert-flex-container.php
  includes/abilities/inserters/class-insert-grid-container.php
  includes/abilities/inserters/class-insert-section.php
Labels: php

feat(extensions): Add grid mobile order extension for section reordering
  src/extensions/grid-mobile-order/editor.scss
  src/extensions/grid-mobile-order/index.js
  src/extensions/grid-mobile-order/style.scss
  src/index.js
  src/style.scss
Labels: extensions, javascript, styles

style(timeline): Apply prettier formatting to edit and save components
  src/blocks/timeline/edit.js
  src/blocks/timeline/save.js
Labels: blocks, javascript

fix(toc): Read headings from block store instead of DOM to fix editor preview
  src/blocks/table-of-contents/components/useHeadingScanner.js
Labels: blocks, javascript

style(timeline): Auto-format from pre-commit lint-fix hook
  src/blocks/timeline/edit.js
  src/blocks/timeline/save.js
Labels: blocks, javascript

feat(blocks): Add Comparison Table block for product/plan feature comparison
  src/blocks/comparison-table/block.json
  src/blocks/comparison-table/edit.js
  src/blocks/comparison-table/editor.scss
  src/blocks/comparison-table/index.js
  src/blocks/comparison-table/save.js
  src/blocks/comparison-table/style.scss
  src/blocks/comparison-table/view.js
Labels: blocks, javascript, styles

fix(blocks): Suppress stylelint selector-class-pattern for WP rich-text class
  src/blocks/comparison-table/editor.scss
Labels: blocks, styles

fix(grid-mobile-order): Address code review feedback
  src/extensions/grid-mobile-order/index.js
Labels: extensions, javascript

fix(icon): prevent double-layered background color on icon block
  src/blocks/icon/edit.js
  src/blocks/icon/editor.scss
  src/blocks/icon/save.js
  src/blocks/icon/style.scss
Labels: blocks, block: icon, javascript, styles

fix(section): Enable vertical alignment (top/center/bottom/space-between) for child elements
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix(grid-mobile-order): Change default order from 0 to 1
  src/extensions/grid-mobile-order/index.js
  src/extensions/grid-mobile-order/style.scss
Labels: extensions, javascript, styles

Add Grid Mobile Order extension for reordering grid items on mobile (#170)
  src/blocks/timeline/edit.js
  src/blocks/timeline/save.js
  src/extensions/grid-mobile-order/editor.scss
  src/extensions/grid-mobile-order/index.js
  src/extensions/grid-mobile-order/style.scss
  src/index.js
  src/style.scss
Labels: blocks, extensions, javascript, styles

fix(toc): Use DOMParser instead of regex for HTML stripping
  src/blocks/table-of-contents/components/useHeadingScanner.js
Labels: blocks, javascript

fix(draft-mode): Resolve PHPStan analysis errors
  includes/admin/class-draft-mode-preview.php
  phpstan-constants.php
  phpstan.neon
Labels: php

fix(icon): prevent double-layered background color on icon block (#173)
  src/blocks/icon/edit.js
  src/blocks/icon/editor.scss
  src/blocks/icon/save.js
  src/blocks/icon/style.scss
Labels: blocks, block: icon, javascript, styles

fix(blocks): Modernize row controls, remove sticky header, address PR review feedback
  src/blocks/comparison-table/block.json
  src/blocks/comparison-table/edit.js
  src/blocks/comparison-table/editor.scss
  src/blocks/comparison-table/save.js
  src/blocks/comparison-table/style.scss
  src/blocks/comparison-table/view.js
Labels: blocks, javascript, styles

fix(section): Enable vertical alignment (top/center/bottom/space-between) for child elements (#174)
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix(draft-mode): Fix content swap timing and extract banner assets
  includes/admin/class-draft-mode-preview.php
  includes/admin/css/draft-mode-preview-banner.css
  includes/admin/js/draft-mode-preview-banner.js
Labels: php, javascript, styles

fix(section): Fix pill alignment inheritance in Grid > Section nesting
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

refactor(section): Address Copilot review comments
  src/blocks/section/editor.scss
Labels: blocks, styles

fix(section): Fix pill alignment inheritance in Grid > Section nesting (#175)
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

refactor(ci): Remove low-value checks, add E2E tests and dependency review
  .github/workflows/ci.yml
Labels: ci/cd

chore: Update claude.md
  .claude/claude.md
Labels: documentation

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
