Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

chore: Update package-lock.json
  package-lock.json
Labels: configuration

Replace Twitter bird icon with X logo SVG
  includes/abilities/generators/class-generate-team-section.php
  includes/icon-svg-library.php
  patterns/cta/cta-work-together.php
  patterns/hero/hero-portfolio-personal.php
  patterns/homepage/homepage-portfolio.php
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, php, javascript

fix: Transfer WP background color classes to blob instead of extracting values
  src/blocks/blobs/edit.js
  src/blocks/blobs/style.scss
  src/blocks/blobs/view.js
Labels: blocks, javascript, styles

fix: Resolve preset colors to hex before embedding in SVG data URIs
  includes/class-svg-pattern-renderer.php
  src/extensions/svg-patterns/editor.js
  tests/unit/svg-patterns.test.js
Labels: extensions, php, javascript

fix: Convert preset colors to CSS variables for shape divider rendering
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
Labels: blocks, javascript

chore: Sync package-lock.json version with package.json
  package-lock.json
Labels: configuration

Fix parallax scroll to center at 50% viewport
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, javascript

Add backward-compat aliases for renamed twitter icon
  includes/icon-svg-library.php
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, php, javascript

Sync package-lock.json version to 2.0.21
  package-lock.json
Labels: configuration

fix: Address PR review feedback for SVG color resolution
  includes/class-svg-pattern-renderer.php
  src/extensions/svg-patterns/editor.js
  tests/unit/svg-patterns.test.js
Labels: extensions, php, javascript

Fix parallax offset comments to reflect actual math
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, javascript

Add vertical alignment control for icons in icon-list block (#229)
  package-lock.json
  src/blocks/icon-list-item/block.json
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon-list/block.json
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon-list/edit.js
Labels: blocks, block: icon-list, configuration, javascript

Add icon search aliases and resolve canonical icon names (#230)
  docs/plans/2026-02-11-icon-search-aliases-design.md
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/shared/icon-utils.js
Labels: blocks, block: icon, documentation, javascript

fix: Extend Global Styles button inheritance to form builder submit button
  includes/class-button-global-styles.php
Labels: php

chore: Update package-lock.json
  package-lock.json
Labels: configuration

feat: Add default slide padding, inside/outside dot position, and fix arrow centering
  src/blocks/slider/block.json
  src/blocks/slider/deprecated.js
  src/blocks/slider/edit.js
  src/blocks/slider/index.js
  src/blocks/slider/style.scss
Labels: blocks, javascript, styles

Increase specificity of blob wrapper background reset styles (#232)
  src/blocks/blobs/edit.js
  src/blocks/blobs/editor.scss
  src/blocks/blobs/style.scss
  src/blocks/blobs/view.js
Labels: blocks, javascript, styles

Update Twitter social links to X platform (#233)
  includes/abilities/generators/class-generate-team-section.php
  includes/icon-svg-library.php
  patterns/cta/cta-work-together.php
  patterns/hero/hero-portfolio-personal.php
  patterns/homepage/homepage-portfolio.php
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, php, javascript

Resolve CSS preset colors in SVG patterns and shape dividers (#234)
  includes/class-svg-pattern-renderer.php
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/extensions/svg-patterns/editor.js
  tests/unit/svg-patterns.test.js
Labels: blocks, extensions, php, javascript

Fix vertical scroll parallax centering for natural element positioning (#235)
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, javascript

Make slider height optional with content-fit fallback (#231)
  src/blocks/slider/block.json
  src/blocks/slider/deprecated.js
  src/blocks/slider/edit.js
  src/blocks/slider/index.js
  src/blocks/slider/save.js
  src/blocks/slider/style.scss
Labels: blocks, javascript, styles

fix: Auto-size inline form button and fix vertical alignment
  includes/class-plugin.php
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/blocks/form-text-field/style.scss
Labels: blocks, php, javascript, styles

fix: Harden form button hover animation and editor CSS injection
  includes/class-button-global-styles.php
  includes/class-plugin.php
  src/blocks/form-builder/edit.js
Labels: blocks, php, javascript

Improve sticky nav color selectors with compact dropdown UI
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/admin/style.scss
Labels: javascript, styles

fix: Load form block editor styles and override WP editor defaults
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/index.js
  src/blocks/form-checkbox-field/index.js
  src/blocks/form-date-field/index.js
  src/blocks/form-email-field/index.js
  src/blocks/form-hidden-field/index.js
  src/blocks/form-number-field/index.js
  src/blocks/form-phone-field/index.js
  src/blocks/form-phone-field/style.scss
  src/blocks/form-select-field/index.js
  src/blocks/form-text-field/index.js
  src/blocks/form-textarea-field/index.js
  src/blocks/form-time-field/index.js
  src/blocks/form-url-field/index.js
Labels: blocks, javascript, styles

style: Fix PHPCS array declaration spacing in class-plugin.php
  includes/class-plugin.php
Labels: php

Fix form email deliverability: move email config to server-side only
  includes/blocks/class-form-handler.php
  src/blocks/form-builder/deprecated.js
  src/blocks/form-builder/index.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/view.js
Labels: blocks, php, javascript

Address PR review feedback on color dropdown controls
  src/admin/components/ColorDropdownControl.js
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/admin/style.scss
Labels: javascript, styles

Address PR review: add caching, logging, tests; fix double sanitization
  includes/blocks/class-form-handler.php
  tests/phpunit/form-handler-test.php
Labels: php

Move email config to server-side for form security (#240)
  includes/blocks/class-form-handler.php
  src/blocks/form-builder/deprecated.js
  src/blocks/form-builder/index.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/view.js
  tests/phpunit/form-handler-test.php
Labels: blocks, php, javascript

Refactor sticky header scroll colors to use dropdown UI (#239)
  src/admin/components/ColorDropdownControl.js
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/admin/style.scss
Labels: javascript, styles

Add form builder submit button to global styles inheritance (#237)
  includes/class-button-global-styles.php
  includes/class-plugin.php
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/blocks/form-text-field/style.scss
Labels: blocks, php, javascript, styles

fix: Load form block editor styles and override WP editor defaults (#238)
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/index.js
  src/blocks/form-checkbox-field/index.js
  src/blocks/form-date-field/index.js
  src/blocks/form-email-field/index.js
  src/blocks/form-hidden-field/index.js
  src/blocks/form-number-field/index.js
  src/blocks/form-phone-field/index.js
  src/blocks/form-phone-field/style.scss
  src/blocks/form-select-field/index.js
  src/blocks/form-text-field/index.js
  src/blocks/form-textarea-field/index.js
  src/blocks/form-time-field/index.js
  src/blocks/form-url-field/index.js
Labels: blocks, javascript, styles

chore: Release version 2.0.22
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

Fix responsive visibility E2E test failures
  includes/class-assets.php
  src/extensions/clickable-group/index.js
  src/extensions/responsive/index.js
Labels: extensions, php, javascript

fix: Add global safe_style_css filter to prevent KSES stripping block inline styles
  .claude/claude.md
  .claude/docs/KSES-ALLOWLIST-GUIDE.md
  includes/admin/class-draft-mode-rest.php
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: documentation, php

Address PR review feedback on class handling
  includes/class-assets.php
  src/extensions/clickable-group/index.js
  src/extensions/responsive/index.js
Labels: extensions, php, javascript

Fix responsive visibility and clickable group class handling (#241)
  includes/class-assets.php
  src/extensions/clickable-group/index.js
  src/extensions/responsive/index.js
Labels: extensions, php, javascript

fix: Address PR review — expand CSS function pattern, add null check and filter test
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: php

fix: Add global safe_style_css filter for block inline styles (#242)
  .claude/claude.md
  .claude/docs/KSES-ALLOWLIST-GUIDE.md
  includes/admin/class-draft-mode-rest.php
  includes/class-plugin.php
  tests/phpunit/plugin-test.php
Labels: documentation, php
