Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

feat: Add Breadcrumbs block with Schema.org markup
  designsetgo.php
  includes/breadcrumbs-functions.php
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/components/InspectorPanels.js
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/editor.scss
  src/blocks/breadcrumbs/index.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/save.js
  src/blocks/breadcrumbs/style.scss
  src/blocks/breadcrumbs/view.js
  src/styles/editor.scss
  src/styles/style.scss
Labels: blocks, php, javascript, styles, needs-review

fix(breadcrumbs): Resolve PR review issues and code standards violations
  includes/breadcrumbs-functions.php
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/components/InspectorPanels.js
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/hooks/useBreadcrumbData.js
  src/blocks/breadcrumbs/index.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/save.js
  src/blocks/breadcrumbs/style.scss
  src/blocks/breadcrumbs/view.js
Labels: blocks, php, javascript, styles

fix(breadcrumbs): Address Copilot security and best practice suggestions
  includes/breadcrumbs-functions.php
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/view.js
Labels: blocks, php, javascript

feat: Add Breadcrumbs block with Schema.org markup (#105)
  designsetgo.php
  includes/breadcrumbs-functions.php
  src/blocks/breadcrumbs/block.json
  src/blocks/breadcrumbs/components/InspectorPanels.js
  src/blocks/breadcrumbs/edit.js
  src/blocks/breadcrumbs/editor.scss
  src/blocks/breadcrumbs/hooks/useBreadcrumbData.js
  src/blocks/breadcrumbs/index.js
  src/blocks/breadcrumbs/render.php
  src/blocks/breadcrumbs/save.js
  src/blocks/breadcrumbs/style.scss
  src/blocks/breadcrumbs/view.js
  src/styles/editor.scss
  src/styles/style.scss
Labels: blocks, php, javascript, styles, needs-review

chore: Release version 1.2.0
  .claude/claude.md
  .claude/commands/README.md
  .claude/commands/review-pr.md
  SECURITY-REVIEW.md
  designsetgo.php
  package.json
  readme.txt
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/index.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
  src/blocks/modal/components/AnimationSettings.js
  src/blocks/modal/components/BehaviorSettings.js
  src/blocks/modal/components/CloseButtonSettings.js
  src/blocks/modal/components/GallerySettings.js
  src/blocks/modal/components/ModalPlaceholder.js
  src/blocks/modal/components/ModalSettings.js
  src/blocks/modal/components/OverlaySettings.js
  src/blocks/modal/components/TriggerSettings.js
  src/blocks/modal/components/modal-placeholder.scss
  src/blocks/modal/edit.js
  src/blocks/modal/index.js
  src/blocks/modal/save.js
  src/blocks/modal/style.scss
  src/blocks/modal/templates.js
  src/blocks/modal/utils/style-transfer.js
  src/blocks/modal/variations.js
  src/blocks/modal/view.js
  src/blocks/table-of-contents/components/HierarchicalList.js
  src/blocks/table-of-contents/components/InspectorPanels.js
  src/blocks/table-of-contents/components/useHeadingScanner.js
  src/blocks/table-of-contents/utils/hierarchy.js
  src/blocks/table-of-contents/utils/id-generator.js
  src/blocks/table-of-contents/utils/validation.js
  src/blocks/table-of-contents/view.js
  tests/__mocks__/styleMock.js
  tests/js/setup.js
  tests/unit/modal.test.js
Labels: blocks, documentation, configuration, php, javascript, styles, needs-review

fix(scroll-marquee): Fix animation not starting on first page load
  src/blocks/scroll-marquee/view.js
Labels: blocks, javascript

fix(security): Add CSRF protection and fix email notifications
  includes/blocks/class-form-handler.php
Labels: php

Update includes/blocks/class-form-handler.php
  includes/blocks/class-form-handler.php
Labels: php

fix(security): Add CSRF protection and fix email notifications (#106)
  includes/blocks/class-form-handler.php
Labels: php

fix(security): Restrict form submissions to admin-only access
  includes/blocks/class-form-submissions.php
Labels: php

fix(security): Add complete WordPress capability mappings for form submissions
  includes/blocks/class-form-submissions.php
Labels: php

fix(security): Restrict form submissions to admin-only access (#107)
  includes/blocks/class-form-submissions.php
Labels: php

fix: Align uninstall.php prefixes with codebase standards
  uninstall.php
Labels: php

fix(uninstall): CRITICAL - Use correct _dsg_ meta key prefix and add prepared statements
  uninstall.php
Labels: php

fix: Align uninstall.php prefixes with codebase standards (#108)
  uninstall.php
Labels: php

feat: Implement data retention enforcement and configurable anti-abuse settings
  designsetgo.php
  includes/blocks/class-form-handler.php
  package-lock.json
Labels: configuration, php, needs-review

fix: Remove cron scheduling from constructor to improve performance
  includes/blocks/class-form-handler.php
Labels: php

fix: Address Copilot review feedback
  includes/blocks/class-form-handler.php
  uninstall.php
Labels: php

feat: Implement data retention enforcement and configurable anti-abuse settings (#109)
  designsetgo.php
  includes/blocks/class-form-handler.php
  package-lock.json
  uninstall.php
Labels: configuration, php, needs-review

fix(security): Implement trusted proxy IP resolution to prevent spoofing
  includes/blocks/class-form-handler.php
Labels: php

feat: Implement Phase 1 CI/CD improvements
  .github/workflows/ci.yml
  .husky/pre-commit
  phpstan.neon
Labels: ci/cd

fix: Prevent webpack cache corruption and build hangs
  .github/workflows/ci.yml
  docs/TROUBLESHOOTING.md
  package.json
Labels: documentation, configuration, ci/cd

fix(security): Add CIDR notation support for trusted proxies
  includes/blocks/class-form-handler.php
Labels: php

fix: Update WordPress compatibility matrix for current versions
  .github/workflows/ci.yml
Labels: ci/cd

fix(security): Implement trusted proxy IP resolution to prevent spoofing (#110)
  includes/blocks/class-form-handler.php
Labels: php

perf(icons): Implement lazy loading infrastructure for icon blocks
  AUDIT.md
  CICD-AUDIT.md
  COMPREHENSIVE-AUDIT-REPORT.md
  includes/class-icon-injector.php
  includes/class-plugin.php
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/frontend/lazy-icon-injector.js
  webpack.config.js
Labels: blocks, documentation, configuration, php, javascript

perf(icons): Convert icon-button and icon blocks to frontend lazy loading
  includes/class-icon-injector.php
  src/blocks/icon-button/edit.js
  src/blocks/icon/save.js
  src/blocks/scroll-marquee/view.js
  src/frontend/lazy-icon-injector.js
  webpack.config.js
Labels: blocks, block: icon, configuration, php, javascript

fix(icons): Add deprecations for icon-button and icon blocks
  src/blocks/icon-button/deprecated.js
  src/blocks/icon/deprecated.js
  src/blocks/icon/index.js
Labels: blocks, block: icon, javascript

perf(icons): Convert remaining blocks to frontend lazy loading
  src/blocks/divider/save.js
  src/blocks/icon-list-item/save.js
  src/blocks/modal-trigger/save.js
Labels: blocks, javascript

fix(icons): Add deprecations for icon-list-item, divider, and modal-trigger
  src/blocks/divider/deprecated.js
  src/blocks/divider/index.js
  src/blocks/icon-list-item/deprecated.js
  src/blocks/icon-list-item/index.js
  src/blocks/modal-trigger/deprecated.js
  src/blocks/modal-trigger/index.js
Labels: blocks, javascript

fix(lint): Remove unused import in modal-trigger
  src/blocks/modal-trigger/index.js
Labels: blocks, javascript

fix(tabs): Convert tabs to use lazy loading icon system
  src/blocks/tabs/view.js
Labels: blocks, javascript

fix(tabs): Fix icon injection timing issue for dynamically built tabs
  src/blocks/tabs/view.js
  src/frontend/lazy-icon-injector.js
Labels: blocks, javascript

style: Fix prettier indentation in tabs/view.js
  src/blocks/tabs/view.js
Labels: blocks, javascript

fix(tabs): Fix getIcon() parameters in editor
  src/blocks/tabs/edit.js
Labels: blocks, javascript

fix(tabs): Add CSS sizing for tab icons
  src/blocks/tabs/style.scss
Labels: blocks, styles

style: Fix tabs indentation in tabs/style.scss
  src/blocks/tabs/style.scss
Labels: blocks, styles

feat(tab): Add 'none' icon position option for cleaner UX
  src/blocks/tab/block.json
  src/blocks/tab/edit.js
  src/blocks/tab/save.js
Labels: blocks, javascript

fix(tab): Add deprecation for iconPosition default change
  src/blocks/tab/deprecated.js
  src/blocks/tab/index.js
Labels: blocks, javascript

fix(tab): Correct deprecation to match old save structure
  src/blocks/tab/deprecated.js
Labels: blocks, javascript

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
