Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

Make icon list grid layout stack to 1 column on mobile
  src/blocks/icon-list/editor.scss
  src/blocks/icon-list/style.scss
Labels: blocks, block: icon-list, styles

Make icon list grid layout stack to 1 column on mobile (#272)
  src/blocks/icon-list/editor.scss
  src/blocks/icon-list/style.scss
Labels: blocks, block: icon-list, styles

chore: Release version 2.0.28
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

feat: Enable Claude bot to approve/request-changes on PRs
  .github/workflows/claude-code-review.yml
Labels: ci/cd

feat: Add starter design patterns for Advanced Heading block
  .claude/skills/add-pattern/references/block-catalog.md
  .claude/skills/add-pattern/references/markup-conventions.md
  includes/patterns/class-loader.php
  patterns/headings/bold-plus-light.php
  patterns/headings/color-pop.php
  patterns/headings/gradient-accent.php
  patterns/headings/hero-centered-heading.php
  patterns/headings/hero-split-heading.php
  patterns/headings/highlighted-word.php
  patterns/headings/section-label-title.php
  patterns/headings/uppercase-plus-italic.php
Labels: documentation, php

feat: Add top icon position to tab block for full-width pill layout
  src/blocks/tab/block.json
  src/blocks/tab/edit.js
  src/blocks/tab/save.js
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/blocks/tabs/view.js
Labels: blocks, javascript, styles

chore: Sync package-lock.json version to 2.0.28
  package-lock.json
Labels: configuration

fix: Add form elements to global KSES allowlist for REST API imports
  designsetgo.php
  includes/class-plugin.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

feat: Register overlay header text color post meta
  includes/class-overlay-header.php
  tests/phpunit/overlay-header-test.php
Labels: php

feat: Output overlay text color CSS custom property on frontend
  includes/class-overlay-header.php
  tests/phpunit/overlay-header-test.php
Labels: php

style: Add SCSS rules for overlay header text color
  src/styles/utilities/_sticky-header.scss
Labels: styles

feat: Add overlay text color picker to Header Display panel
  src/overlay-header/index.js
Labels: javascript

fix: Address PR review feedback for overlay header text color
  includes/class-overlay-header.php
  src/overlay-header/index.js
  src/styles/utilities/_sticky-header.scss
Labels: php, javascript, styles

fix: Update patterns loader test for headings category
  tests/phpunit/patterns-loader-test.php
Labels: php

feat: Add Product Showcase Hero block (WooCommerce integration)
  includes/class-plugin.php
  src/blocks/product-showcase-hero/block.json
  src/blocks/product-showcase-hero/components/ProductPicker.js
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
  src/blocks/product-showcase-hero/editor.scss
  src/blocks/product-showcase-hero/index.js
  src/blocks/product-showcase-hero/render.php
  src/blocks/product-showcase-hero/style.scss
Labels: blocks, php, javascript, styles

fix: Add stylelint-disable for WooCommerce class selectors
  src/blocks/product-showcase-hero/style.scss
Labels: blocks, styles

chore: Update package-lock.json
  package-lock.json
Labels: configuration

fix: Address code review issues for Product Showcase Hero block
  src/blocks/product-showcase-hero/block.json
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
  src/blocks/product-showcase-hero/render.php
Labels: blocks, php, javascript

feat: Add current product context mode to Product Showcase Hero
  src/blocks/product-showcase-hero/block.json
  src/blocks/product-showcase-hero/components/DisplayOptionsPanel.js
  src/blocks/product-showcase-hero/components/LayoutPanel.js
  src/blocks/product-showcase-hero/components/ProductPicker.js
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
  src/blocks/product-showcase-hero/editor.scss
  src/blocks/product-showcase-hero/render.php
  src/blocks/product-showcase-hero/style.scss
Labels: blocks, php, javascript, styles

fix: Slider block now grows to the height of its content
  src/blocks/slide/style.scss
  src/blocks/slider/style.scss
Labels: blocks, styles

Fix slider block not growing to content height
  src/blocks/slide/style.scss
  src/blocks/slider/style.scss
Labels: blocks, styles

feat: Add click-and-drag and mouse wheel scroll to scrolling gallery
  src/blocks/scroll-marquee/style.scss
  src/blocks/scroll-marquee/view.js
Labels: blocks, javascript, styles

chore: Update package-lock.json
  package-lock.json
Labels: configuration

Address PR review feedback: update height UI labels and add flex comment
  src/blocks/slider/edit.js
  src/blocks/slider/style.scss
Labels: blocks, javascript, styles

Fix test_allowed_categories_defined to include 'headings' category
  tests/phpunit/patterns-loader-test.php
Labels: php

Fix test_allowed_categories_defined to include 'headings' category (#280)
  tests/phpunit/patterns-loader-test.php
Labels: php

fix: Address PR review feedback for gallery scroll interactions
  src/blocks/scroll-marquee/style.scss
  src/blocks/scroll-marquee/view.js
Labels: blocks, javascript, styles

fix: Address remaining PR review issues for Product Showcase Hero block
  includes/class-plugin.php
  src/blocks/product-showcase-hero/block.json
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
  src/blocks/product-showcase-hero/style.scss
  tests/phpunit/patterns-loader-test.php
Labels: blocks, php, javascript, styles

fix: Resolve lint errors in Product Showcase Hero block
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
Labels: blocks, javascript

Add click-drag and wheel scroll interactions to scroll marquee (#279)
  package-lock.json
  src/blocks/scroll-marquee/view.js
Labels: blocks, configuration, javascript

fix: Remove pointer-events overlay blocking inner block selection in slider editor
  src/blocks/slider/editor.scss
Labels: blocks, styles

Add Product Showcase Hero block for WooCommerce integration (#277)
  includes/class-plugin.php
  src/blocks/product-showcase-hero/block.json
  src/blocks/product-showcase-hero/components/DisplayOptionsPanel.js
  src/blocks/product-showcase-hero/components/LayoutPanel.js
  src/blocks/product-showcase-hero/components/ProductPicker.js
  src/blocks/product-showcase-hero/components/ProductPreview.js
  src/blocks/product-showcase-hero/edit.js
  src/blocks/product-showcase-hero/editor.scss
  src/blocks/product-showcase-hero/index.js
  src/blocks/product-showcase-hero/render.php
  src/blocks/product-showcase-hero/style.scss
Labels: blocks, php, javascript, styles

Fix slider block not growing to content height (#278)
  src/blocks/slide/style.scss
  src/blocks/slider/edit.js
  src/blocks/slider/editor.scss
  src/blocks/slider/style.scss
Labels: blocks, javascript, styles

fix: Ensure overlay text color CSS always outputs regardless of sticky header state
  includes/class-overlay-header.php
  tests/phpunit/overlay-header-test.php
Labels: php

feat: Add overlay header text color setting (#275)
  includes/class-overlay-header.php
  src/overlay-header/index.js
  src/styles/utilities/_sticky-header.scss
  tests/phpunit/overlay-header-test.php
Labels: php, javascript, styles

feat: Skip top bar when sticky header scrolls into position
  src/extensions/sticky-header-controls/edit.js
  src/extensions/sticky-header-controls/index.js
  src/utils/sticky-header.js
Labels: extensions, javascript

Add CodeQL workflow to replace GitHub Default setup
  .github/workflows/codeql.yml
Labels: ci/cd

fix: Address code review issues in sticky-header skip-top-bar
  src/extensions/sticky-header-controls/edit.js
  src/utils/sticky-header.js
Labels: extensions, javascript

Add CodeQL workflow to replace GitHub Default setup (#282)
  .github/workflows/codeql.yml
Labels: ci/cd

feat: Skip top bar for overlay header mode
  includes/class-overlay-header.php
  src/overlay-header/index.js
  src/utils/sticky-header.js
Labels: php, javascript
