Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

fix: Flex container block spacing now uses gap correctly
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/save.js
Labels: blocks, javascript

fix: Stack and Flex container width and spacing issues
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/blocks/grid/block.json
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/index.js
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
  tasks.md
Labels: blocks, documentation, javascript, styles

fix: Nested containers width in editor and content size support
  src/blocks/blobs/edit.js
  src/blocks/blobs/editor.scss
  src/blocks/blobs/view.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
Labels: blocks, javascript, styles

feat: Prevent paste from replacing container blocks
  src/blocks/flex/edit.js
  src/blocks/grid/edit.js
  src/blocks/stack/edit.js
Labels: blocks, javascript

docs: Mark paste behavior task as complete
  tasks.md
Labels: documentation

fix: Use stable reference in paste handler to prevent replacement
  src/blocks/flex/edit.js
  src/blocks/grid/edit.js
  src/blocks/stack/edit.js
Labels: blocks, javascript

refactor: Remove custom paste handler from container blocks
  src/blocks/flex/edit.js
  src/blocks/grid/edit.js
  src/blocks/stack/edit.js
  tasks.md
Labels: blocks, documentation, javascript

feat: FSE integration, block renames, and responsive fixes
  homepage.html
  performance-tasks.md
  src/blocks/blobs/block.json
  src/blocks/blobs/deprecated.js
  src/blocks/grid/block.json
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/index.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/icon-button/style.scss
  src/blocks/row/block.json
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/editor.scss
  src/blocks/row/index.js
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/row/transforms.js
  src/blocks/section/block.json
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/index.js
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/blocks/section/transforms.js
  src/extensions/grid-span/index.js
  src/extensions/grid-span/style.scss
  src/index.js
  src/style.scss
  src/styles/editor.scss
Labels: blocks, extensions, documentation, javascript, styles

security: Fix critical vulnerabilities before production
  SECURITY-REVIEW.md
  includes/admin/class-admin-menu.php
  includes/class-section-styles.php
  src/blocks/icon/save.js
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
  src/blocks/section/block.json
  src/blocks/section/style.scss
  src/extensions/clickable-group/frontend.js
Labels: blocks, block: icon, extensions, documentation, php, javascript, styles

fix: Set default alignment to full for Section block
  src/blocks/section/block.json
Labels: blocks

refactor: Migrate Sass @import to @use for future compatibility
  docs/LAYOUT-BLOCKS.md
  src/blocks/form-builder/editor.scss
  src/blocks/form-date-field/style.scss
  src/blocks/form-email-field/style.scss
  src/blocks/form-number-field/style.scss
  src/blocks/form-phone-field/style.scss
  src/blocks/form-select-field/style.scss
  src/blocks/form-textarea/style.scss
  src/blocks/form-time-field/style.scss
  src/blocks/form-url-field/style.scss
  src/blocks/slide/editor.scss
  src/blocks/slider/editor.scss
  src/styles/style.scss
Labels: blocks, documentation, styles

docs: Add CSS optimization analysis and findings
  CSS-OPTIMIZATION-ANALYSIS.md
  docs/FORM-BUILDER.md
  docs/INTERACTIVE-BLOCKS.md
  docs/VISUAL-UI-BLOCKS.md
  src/blocks/form-select-field/style.scss
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, documentation, styles

refactor: Integrate video overlay with WordPress color system and fix container layouts
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
  src/extensions/background-video/editor.scss
  src/extensions/background-video/frontend.js
  src/extensions/background-video/index.js
  src/extensions/background-video/style.scss
  src/extensions/overlay/editor.scss
  src/extensions/overlay/frontend.js
  src/extensions/overlay/index.js
  src/extensions/overlay/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
Labels: blocks, extensions, javascript, styles

fix: Update extensions to use new block names (section/row)
  src/blocks/form-select-field/style.scss
  src/extensions/clickable-group/index.js
  src/extensions/max-width/index.js
  src/extensions/reveal-control/index.js
Labels: blocks, extensions, javascript, styles

docs: Add comprehensive width and layout patterns documentation
  docs/WIDTH-LAYOUT-PATTERNS.md
Labels: documentation

fix: Apply dsg-no-width-constraint class when constrainWidth is false
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/section/save.js
Labels: blocks, javascript, styles

fix: Remove borders and backgrounds from default tab style
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
Labels: blocks, styles

fix: Remove scrollbar from vertical tabs navigation
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
Labels: blocks, styles

fix: Divider block width and color targeting issues
  src/blocks/divider/block.json
  src/blocks/divider/editor.scss
  src/blocks/divider/style.scss
Labels: blocks, styles

fix: Remove focus outline from tab buttons
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
Labels: blocks, styles

fix: Slider block collapsing to 0 width inside container blocks
  src/blocks/slider/style.scss
Labels: blocks, styles

feat: Add margin and blockGap spacing controls to image accordion item block
  src/blocks/image-accordion-item/block.json
Labels: blocks

fix: Make tab background color control work by using CSS variables instead of hardcoded values
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
Labels: blocks, styles

fix: Remove focus outlines from all DesignSetGo blocks
  src/blocks/accordion-item/style.scss
  src/blocks/flip-card/style.scss
  src/blocks/form-text-field/style.scss
  src/blocks/icon-button/style.scss
  src/blocks/icon-list-item/style.scss
  src/blocks/icon/style.scss
  src/blocks/image-accordion-item/style.scss
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/slider/style.scss
  src/blocks/tabs/style.scss
Labels: blocks, block: icon, styles

fix: Scroll accordion overlay visibility and item spacing
  src/blocks/scroll-accordion/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: blocks, styles

feat: Add slider enhancements, fix slide overlay controls, and improve flip card heights
  context.html
  src/blocks/accordion-item/block.json
  src/blocks/flip-card/style.scss
  src/blocks/image-accordion-item/block.json
  src/blocks/scroll-accordion-item/block.json
  src/blocks/scroll-accordion-item/edit.js
  src/blocks/scroll-accordion-item/editor.scss
  src/blocks/scroll-accordion-item/save.js
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/section/block.json
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/blocks/slide/block.json
  src/blocks/slide/edit.js
  src/blocks/slide/editor.scss
  src/blocks/slide/save.js
  src/blocks/slider/block.json
  src/blocks/slider/edit.js
  src/blocks/slider/save.js
  src/blocks/tabs/style.scss
  src/styles/_utilities.scss
Labels: blocks, javascript, styles

fix: Scroll accordion stacking and section overflow handling
  performance-tasks.md
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-accordion/style.scss
  src/blocks/scroll-accordion/view.js
  src/blocks/section/edit.js
  src/blocks/section/style.scss
Labels: blocks, documentation, javascript, styles

Fix scroll gallery editor and alignment issues
  src/blocks/scroll-marquee/edit.js
  src/blocks/scroll-marquee/editor.scss
  src/blocks/scroll-marquee/index.js
  src/blocks/scroll-marquee/style.scss
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
  src/blocks/shared/components/WidthPanel.js
  src/extensions/custom-css/index.js
  src/extensions/reveal-control/index.js
Labels: blocks, extensions, javascript, styles

feat: Improve tabs block with default padding, icon colors, and background alignment
  composer.json
  docs/scroll-accordion-stacking-notes.md
  src/blocks/accordion-item/edit.js
  src/blocks/accordion-item/editor.scss
  src/blocks/divider/edit.js
  src/blocks/divider/editor.scss
  src/blocks/divider/save.js
  src/blocks/divider/style.scss
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/utils/padding.js
  src/blocks/progress-bar/editor.scss
  src/blocks/progress-bar/style.scss
  src/blocks/row/block.json
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/editor.scss
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/slide/deprecated.js
  src/blocks/slide/index.js
  src/blocks/slider/edit.js
  src/blocks/slider/editor.scss
  src/blocks/slider/save.js
  src/blocks/slider/style.scss
  src/blocks/slider/view.js
  src/blocks/tab/block.json
  src/blocks/tabs/block.json
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/save.js
  src/blocks/tabs/style.scss
  src/extensions/clickable-group/index.js
  src/frontend.js
  src/styles/_utilities.scss
  src/utils/focus-outline.js
  tests/e2e/auth.setup.js
  tests/e2e/cleanup.teardown.js
  tests/phpunit/test-block-loader.php
  tests/phpunit/test-plugin.php
  tests/unit/utils.test.js
Labels: blocks, extensions, documentation, configuration, php, javascript, styles

fix: Resolve critical security vulnerabilities
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
Labels: php

feat: Add security improvements and monitoring (97/100 score)
  SECURITY.md
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  tests/phpunit/security-fixes-test.php
Labels: documentation, php

feat: Add GDPR compliance features for form submissions
  SECURITY.md
  docs/GDPR-COMPLIANCE.md
  includes/admin/class-gdpr-compliance.php
  includes/class-plugin.php
Labels: documentation, php

fix: Add missing require for GDPR compliance class
  includes/class-plugin.php
Labels: php

fix: Add GDPR compliance property declaration for PHP 8.2+
  includes/class-plugin.php
Labels: php

feat: Complete Phase 2 performance optimizations and fix per-block CSS loading
  .claude/commands/performance-audit.md
  .gitignore
  SECURITY-REVIEW.md
  docs/OPTIMIZATION-SUMMARY.md
  docs/PERFORMANCE-AUDIT.md
  docs/PERFORMANCE-OPTIMIZATIONS-README.md
  includes/admin/class-gdpr-compliance.php
  includes/class-assets.php
  package-lock.json
  package.json
  src/blocks/grid/block.json
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/grid/view.js
  src/blocks/slider/view.js
  src/blocks/tabs/view.js
  src/style.scss
  src/styles/editor.scss
  src/utils/lazy-icon-library.js
  tests/phpunit/block-loader-test.php
  tests/phpunit/bootstrap.php
  tests/phpunit/custom-css-renderer-test.php
  tests/phpunit/helpers-test.php
  tests/phpunit/plugin-test.php
  webpack.config.js
Labels: blocks, documentation, configuration, php, javascript, styles

fix: Correct block.json asset references for per-block CSS loading
  SECURITY-REVIEW.md
  docs/SECURITY-REVIEW.md
  src/blocks/flip-card-back/block.json
  src/blocks/flip-card-front/block.json
  src/blocks/flip-card/block.json
  src/blocks/form-checkbox-field/block.json
  src/blocks/form-date-field/block.json
  src/blocks/form-file-upload/block.json
  src/blocks/form-hidden-field/block.json
  src/blocks/form-number-field/block.json
  src/blocks/form-phone-field/block.json
  src/blocks/form-select-field/block.json
  src/blocks/form-time-field/block.json
  src/blocks/form-url-field/block.json
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/reveal/block.json
  src/blocks/row/block.json
  src/blocks/scroll-accordion-item/block.json
  src/blocks/scroll-accordion/block.json
  src/blocks/section/block.json
  src/blocks/section/edit.js
  src/blocks/slide/block.json
  src/blocks/slider/block.json
  src/extensions/max-width/index.js
Labels: blocks, extensions, documentation, javascript

feat: Add Full Site Editing (FSE) sticky header controls
  includes/admin/class-settings.php
  includes/class-plugin.php
  includes/class-sticky-header.php
  src/admin/components/Settings.js
  src/extensions/sticky-header-controls/index.js
  src/index.js
  src/styles/_utilities.scss
  src/styles/editor.scss
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
  webpack.config.js
Labels: extensions, configuration, php, javascript, styles

feat: Add responsive visibility controls extension
  docs/RESPONSIVE-VISIBILITY-EXTENSION-SPEC.md
  docs/RESPONSIVE-VISIBILITY-TESTING-PLAN.md
  src/extensions/responsive/editor.scss
  src/extensions/responsive/index.js
  src/index.js
Labels: extensions, documentation, javascript, styles

feat: Implement comprehensive width/layout pattern improvements for container blocks
  WIDTH-CSS-STRATEGY-IMPLEMENTATION.md
  docs/CSS-WIDTH-LAYOUT.md
  docs/WIDTH-LAYOUT-PATTERNS.md
  src/blocks/accordion/block.json
  src/blocks/accordion/edit.js
  src/blocks/accordion/save.js
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/row/block.json
  src/blocks/row/edit.js
  src/blocks/row/editor.scss
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-accordion/style.scss
  src/blocks/section/block.json
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/styles/utilities/_width-layout.scss
Labels: blocks, documentation, javascript, styles

refactor: Improve responsive visibility visual feedback in editor
  src/admin/style.scss
  src/extensions/responsive/editor.scss
  src/extensions/responsive/index.js
Labels: extensions, javascript, styles
