Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

fix: use strict equality in scrollSpeed null guard
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript

refactor: stabilize experimental block.json support keys
  src/blocks/accordion-item/block.json
  src/blocks/accordion/block.json
  src/blocks/advanced-heading/block.json
  src/blocks/blobs/block.json
  src/blocks/breadcrumbs/block.json
  src/blocks/card/block.json
  src/blocks/comparison-table/block.json
  src/blocks/countdown-timer/block.json
  src/blocks/counter/block.json
  src/blocks/flip-card-back/block.json
  src/blocks/flip-card-front/block.json
  src/blocks/grid/block.json
  src/blocks/heading-segment/block.json
  src/blocks/icon-button/block.json
  src/blocks/icon-list/block.json
  src/blocks/icon/block.json
  src/blocks/image-accordion-item/block.json
  src/blocks/image-accordion/block.json
  src/blocks/map/block.json
  src/blocks/modal-trigger/block.json
  src/blocks/modal/block.json
  src/blocks/pill/block.json
  src/blocks/progress-bar/block.json
  src/blocks/reveal/block.json
  src/blocks/row/block.json
  src/blocks/scroll-accordion-item/block.json
  src/blocks/section/block.json
  src/blocks/slider/block.json
  src/blocks/tab/block.json
  src/blocks/table-of-contents/block.json
  src/blocks/tabs/block.json
  src/blocks/timeline-item/block.json
  src/blocks/timeline/block.json
Labels: blocks, block: counter, block: icon, block: icon-list

refactor: replace global wp.* with module imports
  src/block-category-filter.js
  src/blocks/grid/transforms.js
  src/blocks/icon-button/transforms.js
  src/blocks/row/transforms.js
  src/blocks/section/transforms.js
Labels: blocks, javascript

fix: migrate useSetting to useSettings in heading-segment
  src/blocks/heading-segment/edit.js
  src/blocks/scroll-marquee/edit.js
Labels: blocks, javascript

chore: add WP 7.0 testing infrastructure
  .gitignore
  .wp-env.7.override.json
  .wp-env.json
  docs/plans/2026-03-04-wp7-testing-plan.md
  package.json
Labels: documentation, configuration

chore: Release version 2.0.35
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: resolve npm audit vulnerabilities with dependency overrides
  package-lock.json
  package.json
Labels: configuration

fix: resolve icon aliases on frontend so aliased icons render correctly
  includes/class-icon-injector.php
  includes/icon-svg-library.php
  src/frontend/lazy-icon-injector.js
Labels: php, javascript

refactor: extract icon aliases to shared JSON single source of truth
  docs/plans/2026-03-07-icon-aliases-single-source.md
  includes/icon-svg-library.php
  src/blocks/icon/utils/svg-icons.js
  src/data/icon-aliases.json
  src/frontend/lazy-icon-injector.js
Labels: blocks, block: icon, documentation, php, javascript

fix: move icon-aliases.json to includes/data/ for production builds
  docs/plans/2026-03-07-icon-aliases-single-source.md
  includes/data/icon-aliases.json
  includes/icon-svg-library.php
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, documentation, php, javascript

chore: change wp-env dev port to 9449
  .wp-env.json
Labels: configuration

fix: remove invalid WP_Ability properties causing PHP notices on WP 6.9+
  includes/abilities/configurators/class-configure-block-attributes.php
  includes/abilities/configurators/class-configure-shape-divider.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/inserters/class-insert-block-into.php
  includes/abilities/inserters/class-insert-timeline-item.php
  includes/abilities/inserters/class-insert-timeline.php
Labels: php

chore: change wp-env dev port to 9449
  .wp-env.json
Labels: configuration

fix: remove ./ prefix from glob patterns for glob v10 compatibility
  webpack.config.js
Labels: configuration, javascript

docs: fix stale icon-aliases.json paths in docblocks
  includes/icon-svg-library.php
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, php, javascript

fix: update Playwright default port to match wp-env config
  playwright.config.js
Labels: javascript

docs: update stale port comment in Playwright config
  playwright.config.js
Labels: javascript

fix: resolve jsdoc/no-undefined-types ESLint errors for DOM and JSX types
  .eslintrc.js
Labels: javascript

fix: resolve WP 6.8 compatibility by using proper theme.json filter pattern
  .wp-env.json
  includes/blocks/class-loader.php
  includes/class-section-styles.php
Labels: configuration, php

fix: address PR review comments for WP 6.8 compatibility
  .wp-env.json
  includes/blocks/class-loader.php
  includes/class-section-styles.php
Labels: configuration, php

fix: shape divider color inherits from background color instead of text color
  src/blocks/section/components/ShapeDivider.js
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

fix: add v3 deprecation for shape divider currentColor to background color migration
  src/blocks/section/deprecated.js
Labels: blocks, javascript

fix: address PR review feedback for shape divider color inheritance
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
Labels: blocks, javascript

fix: detect REST requests with plain permalinks for pattern registration
  .wp-env.json
  includes/patterns/class-loader.php
Labels: configuration, php

feat: Add top icon position to tab block for full-width pill layout
  src/blocks/tab/block.json
  src/blocks/tab/edit.js
  src/blocks/tab/save.js
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/blocks/tabs/view.js
Labels: blocks, javascript, styles

fix: move .has-icon-top and icon styles inside .dsgo-tabs__tab in editor.scss
  src/blocks/tabs/editor.scss
Labels: blocks, styles

fix: align E2E test port with wp-env configuration (9449)
  .github/workflows/ci.yml
  tests/e2e/auth.setup.js
Labels: javascript, ci/cd

feat: shape divider background inherits section text color
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
Labels: blocks, javascript

fix: WP 7.0 console warnings — unstable useSelect refs, block validation, password fields
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/breadcrumbs/hooks/useBreadcrumbData.js
  src/blocks/modal-trigger/edit.js
  src/blocks/scroll-marquee/deprecated.js
  src/blocks/scroll-marquee/index.js
Labels: blocks, javascript

fix: scroll-marquee block validation by adding items schema and HTML-based deprecation
  src/blocks/scroll-marquee/block.json
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript

refactor: stabilize experimental block.json support keys
  src/blocks/accordion-item/block.json
  src/blocks/accordion/block.json
  src/blocks/advanced-heading/block.json
  src/blocks/blobs/block.json
  src/blocks/breadcrumbs/block.json
  src/blocks/card/block.json
  src/blocks/comparison-table/block.json
  src/blocks/countdown-timer/block.json
  src/blocks/counter/block.json
  src/blocks/flip-card-back/block.json
  src/blocks/flip-card-front/block.json
  src/blocks/grid/block.json
  src/blocks/heading-segment/block.json
  src/blocks/icon-button/block.json
  src/blocks/icon-list/block.json
  src/blocks/icon/block.json
  src/blocks/image-accordion-item/block.json
  src/blocks/image-accordion/block.json
  src/blocks/map/block.json
  src/blocks/modal-trigger/block.json
  src/blocks/modal/block.json
  src/blocks/pill/block.json
  src/blocks/progress-bar/block.json
  src/blocks/reveal/block.json
  src/blocks/row/block.json
  src/blocks/scroll-accordion-item/block.json
  src/blocks/section/block.json
  src/blocks/slider/block.json
  src/blocks/tab/block.json
  src/blocks/table-of-contents/block.json
  src/blocks/tabs/block.json
  src/blocks/timeline-item/block.json
  src/blocks/timeline/block.json
Labels: blocks, block: counter, block: icon, block: icon-list

fix: use strict equality in scrollSpeed null guard
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript

fix: migrate useSetting to useSettings in heading-segment
  src/blocks/heading-segment/edit.js
  src/blocks/scroll-marquee/edit.js
Labels: blocks, javascript

refactor: replace global wp.* with module imports
  src/block-category-filter.js
  src/blocks/grid/transforms.js
  src/blocks/icon-button/transforms.js
  src/blocks/row/transforms.js
  src/blocks/section/transforms.js
Labels: blocks, javascript

fix: address PR review comments — scrollSpeed zero guard and autoComplete consistency
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript

chore: add WP 7.0 testing infrastructure
  .gitignore
  .wp-env.7.override.json
  docs/plans/2026-03-04-wp7-testing-plan.md
  package.json
Labels: documentation, configuration

Update src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/components/ShapeDividerControls.js
Labels: blocks, javascript

refactor: stabilize remaining experimental block.json support keys
  src/blocks/countdown-timer/block.json
  src/blocks/icon-list/block.json
  src/blocks/product-categories-grid/block.json
  src/blocks/product-showcase-hero/block.json
Labels: blocks, block: icon-list

fix: address remaining PR review items
  docs/plans/2026-03-04-wp7-testing-plan.md
  src/blocks/blobs/block.json
  src/blocks/scroll-marquee/edit.js
Labels: blocks, documentation, javascript

feat: add optional redirect URL to form builder block
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/view.js
Labels: blocks, javascript
