Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

feat: Add polka-dots pattern, opacity support, and remove moroccan pattern
  src/extensions/svg-patterns/pattern-data.js
  src/extensions/svg-patterns/patterns.js
Labels: extensions, javascript

Add full page design patterns for designsetgoblocks.com
  includes/patterns/class-loader.php
  patterns/pages/page-blocks.php
  patterns/pages/page-contribute.php
  patterns/pages/page-form-blocks.php
  patterns/pages/page-home.php
  patterns/pages/page-interactive-elements.php
  patterns/pages/page-layout-systems.php
  patterns/pages/page-visual-ui-blocks.php
Labels: php

feat: Add animations and live demos to full page patterns
  includes/patterns/class-loader.php
  patterns/pages/page-home.php
  patterns/pages/page-interactive-elements.php
  patterns/pages/page-visual-ui-blocks.php
  src/blocks/section/transforms.js
Labels: blocks, php, javascript

feat: Update full page pattern content and layouts
  patterns/pages/page-blocks.php
  patterns/pages/page-contribute.php
  patterns/pages/page-form-blocks.php
  patterns/pages/page-home.php
  patterns/pages/page-interactive-elements.php
Labels: php

fix: Change icon list item default template from heading to paragraph
  src/blocks/icon-list-item/edit.js
Labels: blocks, javascript

fix: Change icon list item default template from heading to paragraph (#222)
  src/blocks/icon-list-item/edit.js
Labels: blocks, javascript

feat: Add global default hover animation for Icon Button blocks
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/settings-panels/AnimationsPanel.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, php, javascript, styles

fix: Harden hover animation injection with sanitize_key and DRY constant
  includes/class-plugin.php
Labels: php

feat: Enable alpha channel on Section block hover/scroll color pickers
  src/blocks/section/edit.js
Labels: blocks, javascript

fix: Show hover animation in editor and change default to fill-diagonal
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/settings-panels/AnimationsPanel.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
Labels: blocks, php, javascript

feat: Add global default hover animation for Icon Button blocks (#223)
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/settings-panels/AnimationsPanel.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, php, javascript, styles

chore: Release version 2.0.1
  SECURITY-REVIEW.md
  designsetgo.php
  package.json
  readme.txt
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  tests/e2e/group-enhancements.spec.js
Labels: blocks, documentation, configuration, php, javascript, needs-review

fix: Flush rewrite rules when llms.txt feature is toggled in settings
  includes/llms-txt/class-controller.php
Labels: php

feat: Expose extension attributes in REST API block-types endpoint
  includes/class-extension-attributes.php
  includes/class-plugin.php
Labels: php

fix: Address PR review - extract configs, add tests, fix exclusion logic
  includes/class-extension-attributes.php
  includes/extension-configs/background-video.php
  includes/extension-configs/block-animations.php
  includes/extension-configs/clickable-group.php
  includes/extension-configs/custom-css.php
  includes/extension-configs/expanding-background.php
  includes/extension-configs/grid-mobile-order.php
  includes/extension-configs/grid-span.php
  includes/extension-configs/max-width.php
  includes/extension-configs/responsive.php
  includes/extension-configs/reveal-container.php
  includes/extension-configs/reveal-control.php
  includes/extension-configs/sticky-header-controls.php
  includes/extension-configs/svg-patterns.php
  includes/extension-configs/text-reveal.php
  includes/extension-configs/vertical-parallax.php
  tests/phpunit/extension-attributes-test.php
Labels: php

feat: Expose extension attributes in REST API (#225)
  includes/class-extension-attributes.php
  includes/class-plugin.php
  includes/extension-configs/background-video.php
  includes/extension-configs/block-animations.php
  includes/extension-configs/clickable-group.php
  includes/extension-configs/custom-css.php
  includes/extension-configs/expanding-background.php
  includes/extension-configs/grid-mobile-order.php
  includes/extension-configs/grid-span.php
  includes/extension-configs/max-width.php
  includes/extension-configs/responsive.php
  includes/extension-configs/reveal-container.php
  includes/extension-configs/reveal-control.php
  includes/extension-configs/sticky-header-controls.php
  includes/extension-configs/svg-patterns.php
  includes/extension-configs/text-reveal.php
  includes/extension-configs/vertical-parallax.php
  tests/phpunit/extension-attributes-test.php
Labels: php

refactor: Stop saving inline SVG data URI in post_content
  src/extensions/svg-patterns/editor.js
Labels: extensions, javascript

feat: Add server-side SVG pattern rendering via render_block filter
  includes/class-plugin.php
  includes/class-svg-pattern-renderer.php
  includes/svg-pattern-data.php
Labels: php

fix: Harden SVG pattern renderer security and add performance cache
  includes/class-svg-pattern-renderer.php
Labels: php

feat: Server-side SVG pattern rendering (#224)
  includes/class-plugin.php
  includes/class-svg-pattern-renderer.php
  includes/svg-pattern-data.php
  src/extensions/svg-patterns/editor.js
Labels: extensions, php, javascript

fix: Remove blockTypes restriction from patterns to fix multi-plugin visibility
  includes/patterns/class-loader.php
  tests/phpunit/patterns-loader-test.php
Labels: php

chore: Release version 2.0.2
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Inherit Global Styles button element styles in icon-button and modal-trigger
  includes/class-plugin.php
  src/blocks/icon-button/style.scss
  src/blocks/modal-trigger/style.scss
Labels: blocks, php, styles

fix: Address PR review feedback
  src/blocks/accordion/edit.js
  src/utils/encode-color-value.js
Labels: blocks, javascript

fix: Use wp.data store for reliable block selection in E2E tests
  tests/e2e/helpers/wordpress.js
Labels: javascript

fix: Address PR #227 review feedback — security, architecture, performance
  includes/class-button-global-styles.php
  includes/class-plugin.php
  src/blocks/modal-trigger/style.scss
Labels: blocks, php, styles

fix: Inherit Global Styles button styles in icon-button and modal-trigger (#227)
  includes/class-button-global-styles.php
  includes/class-plugin.php
  src/blocks/icon-button/style.scss
  src/blocks/modal-trigger/style.scss
Labels: blocks, php, styles

chore: Release version 2.0.21
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Address PR review feedback for E2E test helpers
  tests/e2e/helpers/wordpress.js
Labels: javascript

Add icon search aliases for improved discoverability
  docs/plans/2026-02-11-icon-search-aliases-design.md
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/shared/icon-utils.js
Labels: blocks, block: icon, documentation, javascript

Improve block selection and class detection in e2e tests (#228)
  tests/e2e/helpers/wordpress.js
Labels: javascript

feat: Add vertical alignment option for icon list items
  src/blocks/icon-list-item/block.json
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon-list/block.json
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon-list/edit.js
Labels: blocks, block: icon-list, javascript

chore: Update package-lock.json
  package-lock.json
Labels: configuration

fix: Add enum constraint to iconVerticalAlignment attribute
  src/blocks/icon-list/block.json
Labels: blocks, block: icon-list

Address PR review feedback on icon aliases
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, javascript

Fix slider to auto-fit content height when no height is set
  src/blocks/slider/block.json
  src/blocks/slider/edit.js
  src/blocks/slider/save.js
  src/blocks/slider/style.scss
Labels: blocks, javascript, styles

Update package-lock.json after npm install
  package-lock.json
Labels: configuration

Fix arrow size to control icon size, and arrow padding to work
  src/blocks/slider/block.json
  src/blocks/slider/style.scss
Labels: blocks, styles

Fix slider height min value to prevent invisible sliders
  src/blocks/slider/edit.js
Labels: blocks, javascript

fix: Blob background color now applies to shape instead of container
  src/blocks/blobs/editor.scss
  src/blocks/blobs/style.scss
Labels: blocks, styles
