Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

docs: Add security contact email to SECURITY.md
  .github/SECURITY.md
Labels: documentation, security

fix: Add package-lock.json to resolve CI failures
  .gitignore
  package-lock.json
Labels: configuration

style: Improve icon color handling and content width in Icon List Item
  src/blocks/icon-list-item/style.scss
Labels: blocks, styles

fix: Resolve additional CI linting errors blocking workflow
  src/blocks/accordion/view.js
  src/blocks/counter-group/view.js
  src/blocks/counter/edit.js
  src/blocks/counter/save.js
  src/blocks/icon-list/edit.js
  src/blocks/icon-list/save.js
  src/blocks/icon/edit.js
  src/blocks/progress-bar/view.js
  src/blocks/tabs/edit.js
  src/blocks/tabs/view.js
  src/extensions/block-animations/frontend.js
Labels: blocks, block: counter, block: icon, block: icon-list, extensions, javascript

fix: Resolve final CI linting errors (unused vars, shadowing, JSDoc)
  .eslintignore
  src/blocks/progress-bar/view.js
  src/blocks/tabs/view.js
  src/extensions/block-animations/editor.js
  src/extensions/block-animations/frontend.js
Labels: blocks, extensions, javascript

fix: Resolve JSDoc documentation errors in CI
  src/blocks/counter-group/index.js
  tests/e2e/helpers/wordpress.js
Labels: blocks, javascript

fix: Add eslint-disable comments for all experimental WordPress APIs
  src/blocks/accordion/edit.js
  src/blocks/container/components/inspector/OverlayPanel.js
  src/blocks/counter-group/index.js
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon/components/inspector/IconSettingsPanel.js
  src/blocks/icon/edit.js
  src/blocks/progress-bar/edit.js
Labels: blocks, block: container, block: icon, block: icon-list, javascript

fix: Correct PHP syntax check logic in CI workflow
  .github/workflows/ci.yml
Labels: ci/cd

chore: Remove admin menu and update readme with latest improvements
  includes/admin/class-global-styles.php
  readme.txt
Labels: php

fix: Update domain from designsetgo.com to designsetgoblocks.com
  designsetgo.php
  readme.txt
Labels: php, needs-review

fix: Enable layout-constrained support for Container block margin handling
  src/blocks/container/block.json
  src/blocks/container/style.scss
  src/blocks/pill/block.json
  src/blocks/pill/edit.js
  src/blocks/pill/editor.scss
  src/blocks/pill/index.js
  src/blocks/pill/save.js
  src/blocks/pill/style.scss
  src/index.js
  src/style.scss
Labels: blocks, block: container, javascript, styles

refactor: Convert Container block styles to JSON-based variations
  includes/blocks/class-loader.php
  src/blocks/container/styles/bordered.json
  src/blocks/container/styles/card.json
  src/blocks/container/styles/elevated.json
  src/blocks/container/styles/glass.json
  src/blocks/container/styles/gradient.json
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
  src/styles/block-variations.scss
Labels: blocks, block: container, php, styles

feat: Add Pill block and update documentation
  README.md
  readme.txt
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon-list-item/style.scss
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon-list/edit.js
  src/blocks/icon-list/save.js
  src/blocks/pill/edit.js
Labels: blocks, block: icon-list, documentation, javascript, styles

fix: Set default border radius to 0 for Container block
  src/blocks/container/index.js
Labels: blocks, block: container, javascript

fix: Exclude buttons from Container color inheritance to preserve theme/FSE styles
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

docs: Update README to point to new GitHub Wiki
  README.md
Labels: documentation

docs: Add documentation audit and wiki setup summary
  docs/DOCUMENTATION-AUDIT.md
  docs/WIKI-SETUP-SUMMARY.md
Labels: documentation

feat: Add Icon Button block and improve icon list
  .claude/claude.md
  src/blocks/container/block.json
  src/blocks/counter-group/block.json
  src/blocks/counter-group/index.js
  src/blocks/counter-group/save.js
  src/blocks/counter/block.json
  src/blocks/counter/edit.js
  src/blocks/counter/save.js
  src/blocks/counter/style.scss
  src/blocks/icon-button/block.json
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/editor.scss
  src/blocks/icon-button/index.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/index.js
  wiki-content/Home.md
Labels: blocks, block: container, block: counter, documentation, javascript, styles

docs: Add comprehensive wiki documentation session summary
  docs/WIKI-SESSION-SUMMARY.md
Labels: documentation

perf: Optimize webpack build and migrate Sass to modern module system
  docs/SASS-MIGRATION.md
  docs/WEBPACK-OPTIMIZATION.md
  src/blocks/accordion-item/editor.scss
  src/blocks/accordion/editor.scss
  src/blocks/icon-button/editor.scss
  src/blocks/icon/editor.scss
  src/style.scss
  src/styles/_mixins.scss
  src/styles/_utilities.scss
  src/styles/editor.scss
  webpack.config.js
Labels: blocks, block: icon, documentation, configuration, javascript, styles

fix: Add WordPress 6.8+ component props to resolve deprecation warnings
  src/blocks/accordion-item/edit.js
  src/blocks/accordion/edit.js
  src/blocks/container/components/inspector/BackgroundVideoPanel.js
  src/blocks/container/components/inspector/ContentWidthPanel.js
  src/blocks/container/components/inspector/GridPanel.js
  src/blocks/container/components/inspector/GridSpanPanel.js
  src/blocks/container/components/inspector/LayoutPanel.js
  src/blocks/container/components/inspector/LinkPanel.js
  src/blocks/container/components/inspector/OverlayPanel.js
  src/blocks/container/components/inspector/VisibilityPanel.js
  src/blocks/counter-group/index.js
  src/blocks/counter/components/inspector/AnimationPanel.js
  src/blocks/counter/components/inspector/CounterSettingsPanel.js
  src/blocks/counter/components/inspector/IconSettingsPanel.js
  src/blocks/counter/components/inspector/LabelSettingsPanel.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-list-item/components/inspector/LinkSettingsPanel.js
  src/blocks/icon-list-item/components/inspector/TextSettingsPanel.js
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon/components/inspector/IconSettingsPanel.js
  src/blocks/icon/components/inspector/LinkSettingsPanel.js
  src/blocks/icon/components/inspector/ShapeSettingsPanel.js
  src/blocks/icon/edit.js
  src/blocks/progress-bar/edit.js
  src/blocks/tab/edit.js
  src/blocks/tabs/edit.js
  src/extensions/block-animations/components/AnimationPanel.js
Labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, javascript

fix: Add missing style imports to accordion and icon-list blocks
  src/blocks/accordion-item/index.js
  src/blocks/accordion/index.js
  src/blocks/icon-list-item/index.js
  src/blocks/icon-list/index.js
Labels: blocks, block: icon-list, javascript

fix: Add missing script references and correct CSS file paths in block.json
  src/blocks/accordion-item/block.json
  src/blocks/accordion/block.json
  src/blocks/container/block.json
  src/blocks/counter-group/block.json
  src/blocks/counter/block.json
  src/blocks/icon-button/block.json
  src/blocks/icon-list-item/block.json
  src/blocks/icon-list/block.json
  src/blocks/icon/block.json
  src/blocks/pill/block.json
  src/blocks/progress-bar/block.json
  src/blocks/tab/block.json
  src/blocks/tabs/block.json
Labels: blocks, block: container, block: counter, block: icon, block: icon-list

fix: Update CI to handle webpack code-split bundles
  .github/workflows/ci.yml
Labels: ci/cd

refactor: Fix ESLint warnings and improve code quality
  .claude/claude.md
  .wp-env.json
  console.txt
  includes/class-assets.php
  src/blocks/container/block.json
  src/blocks/container/components/inspector/FlexPanel.js
  src/blocks/container/edit.js
  src/blocks/container/save.js
  src/blocks/container/style.scss
  src/blocks/container/utils/style-calculator.js
  src/blocks/counter-group/save.js
  src/blocks/counter/edit.js
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon/edit.js
  src/blocks/icon/save.js
  src/blocks/icon/style.scss
  src/blocks/pill/edit.js
  src/blocks/pill/index.js
  webpack.config.js
Labels: blocks, block: container, block: counter, block: icon, documentation, configuration, php, javascript, styles

feat: Add icon library expansion and fix container margin rules
  .claude/claude.md
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/components/icon-picker.scss
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: container, block: icon, documentation, javascript, styles

feat: Add Author URI to plugin metadata for clickable author link
  designsetgo.php
Labels: php, needs-review

feat: Add block alignment controls and theme contentSize integration to Container block
  .claude/claude.md
  src/blocks/container/block.json
  src/blocks/container/components/inspector/ContentWidthPanel.js
  src/blocks/container/edit.js
  src/blocks/container/editor.scss
  src/blocks/container/save.js
  src/blocks/container/style.scss
  src/blocks/container/utils/style-calculator.js
  src/blocks/icon/editor.scss
Labels: blocks, block: container, block: icon, documentation, javascript, styles

fix: Override WordPress auto-centering in container constrained layouts
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Revert centering override to embrace WordPress constrained layout pattern
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Add conditional centering override based on constrainWidth setting
  src/blocks/container/edit.js
  src/blocks/container/editor.scss
  src/blocks/container/save.js
  src/blocks/container/style.scss
Labels: blocks, block: container, javascript, styles

fix: Add missing constrainWidth destructuring in edit.js
  src/blocks/container/edit.js
Labels: blocks, block: container, javascript

feat: Add "Match Item Heights" toggle for grid layouts
  src/blocks/container/block.json
  src/blocks/container/components/inspector/GridPanel.js
  src/blocks/container/edit.js
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
  src/blocks/container/utils/style-calculator.js
  src/blocks/icon-button/style.scss
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, block: container, javascript, styles

fix: Exclude block appender from grid stretch to prevent overlay
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Override WordPress margin rules for containers inside grids
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Override WordPress adjacent sibling margin selector for grid items
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Add attribute selector to match WordPress auto-generated container classes
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Simplify grid alignment - add margin to first child instead of fighting WordPress
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Correct selector nesting to target grid item content
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

fix: Target first-child container content instead of all containers
  console.txt
  output.txt
  src/blocks/container/editor.scss
  src/blocks/container/style.scss
Labels: blocks, block: container, styles

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
