Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

fix: Icon button border-radius not displaying on frontend
  src/blocks/icon-button/style.scss
Labels: blocks, styles

refactor: Move Icon Button visual styles to outer wrapper
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/index.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

refactor: Simplify Icon Button to single-element structure and fix hover animations
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

fix: Address critical issues in Icon Button single-element refactor
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

fix: Address critical security issue and refactor Draft Mode components
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode-admin.php
  includes/admin/class-draft-mode.php
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/components/DraftModeBanner.js
  src/extensions/draft-mode/components/DraftModeHeaderControl.js
  src/extensions/draft-mode/components/DraftModeModals.js
  src/extensions/draft-mode/components/DraftStatusViews.js
  src/extensions/draft-mode/components/ErrorModal.js
  src/extensions/draft-mode/hooks/usePublishIntercept.js
  src/extensions/draft-mode/utils/dom-helpers.js
Labels: extensions, documentation, php, javascript

fix: Address critical PR review issues for draft mode
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-draft-mode.php
  src/admin/components/settings-panels/DraftModePanel.js
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/hooks/usePublishIntercept.js
Labels: extensions, php, javascript

refactor: Address PR review feedback for draft mode
  .claude/claude.md
  src/admin/components/settings-panels/DraftModePanel.js
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/hooks/useDraftModePanel.js
  src/extensions/draft-mode/hooks/useHeaderContainer.js
  tests/unit/draft-mode-controls.test.js
  tests/unit/draft-mode-panel.test.js
  tests/unit/draft-mode-settings-panel.test.js
Labels: extensions, documentation, javascript, styles

feat: Add draft mode for published pages (#125)
  .claude/claude-memory.md
  .claude/claude.md
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode-admin.php
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  package-lock.json
  package.json
  src/admin/components/Settings.js
  src/admin/components/settings-panels/DraftModePanel.js
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/api.js
  src/extensions/draft-mode/components/DraftModeBanner.js
  src/extensions/draft-mode/components/DraftModeHeaderControl.js
  src/extensions/draft-mode/components/DraftModeModals.js
  src/extensions/draft-mode/components/DraftStatusViews.js
  src/extensions/draft-mode/components/ErrorModal.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/hooks/useDraftModePanel.js
  src/extensions/draft-mode/hooks/useHeaderContainer.js
  src/extensions/draft-mode/hooks/usePublishIntercept.js
  src/extensions/draft-mode/index.js
  src/extensions/draft-mode/utils.js
  src/extensions/draft-mode/utils/dom-helpers.js
  src/extensions/expanding-background/frontend.js
  src/index.js
  tests/DRAFT-MODE-TESTS.md
  tests/phpunit/draft-mode-admin-test.php
  tests/phpunit/draft-mode-rest-test.php
  tests/phpunit/draft-mode-test.php
  tests/unit/draft-mode-controls.test.js
  tests/unit/draft-mode-panel.test.js
  tests/unit/draft-mode-settings-panel.test.js
Labels: extensions, documentation, configuration, php, javascript, styles

docs: Update border-radius comment for clarity
  src/blocks/icon-button/style.scss
Labels: blocks, styles

feat: Add visual revision comparison for block-based content
  .wp-env.json
  includes/admin/class-revision-comparison.php
  includes/class-plugin.php
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/index.js
  src/admin/revisions/style.scss
  webpack.config.js
Labels: configuration, php, javascript, styles

feat: Enhance visual revision comparison with tab navigation and simplified UX
  includes/admin/class-revision-comparison.php
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/style.scss
Labels: php, javascript, styles

fix: Address code review findings for visual revision comparison
  includes/admin/class-revision-comparison.php
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/style.scss
Labels: php, javascript, styles

fix: Icon button border-radius not displaying on frontend (#141)
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/index.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

feat: Add settings to control visual revision comparison
  includes/admin/class-revision-comparison.php
  includes/admin/class-settings.php
Labels: php

fix: Add 14 missing icons to PHP library for frontend display
  includes/icon-svg-library.php
Labels: php

fix: Add 14 missing icons to PHP library for frontend display (#142)
  includes/icon-svg-library.php
Labels: php

refactor: Split oversized revision comparison files for maintainability
  includes/admin/class-block-differ.php
  includes/admin/class-revision-comparison.php
  includes/admin/class-revision-renderer.php
  includes/admin/class-revision-rest-api.php
  includes/admin/views/revision-comparison-page.php
  includes/admin/views/revision-tabs-script.php
  includes/class-plugin.php
  src/admin/revisions/_actions.scss
  src/admin/revisions/_diff.scss
  src/admin/revisions/_preview.scss
  src/admin/revisions/_slider.scss
  src/admin/revisions/_variables.scss
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/style.scss
Labels: php, javascript, styles

fix: Address code review findings for revision comparison
  includes/admin/class-revision-comparison.php
  includes/admin/class-revision-rest-api.php
  src/admin/revisions/_slider.scss
  src/admin/revisions/components/RevisionSlider.js
Labels: php, javascript, styles

style: Fix PHPCS short ternary and formatting violations
  includes/admin/class-revision-comparison.php
  includes/admin/class-revision-rest-api.php
Labels: php

fix: Store param in variable for pass-by-reference function
  includes/admin/class-revision-rest-api.php
Labels: php

chore: Update minimum PHP version requirement from 7.4 to 8.0
  README.md
  composer.json
  designsetgo.php
  docs/TROUBLESHOOTING.md
  readme.txt
  wiki-content/Home.md
Labels: documentation, configuration, php, needs-review

chore: Update remaining PHP 7.4 references to 8.0
  CHANGELOG.md
  deployment-package/designsetgo/readme.txt
  docs/ARCHITECTURE.md
  docs/GETTING-STARTED.md
Labels: documentation

feat: Add visual revision comparison for block-based content (#126)
  .wp-env.json
  includes/admin/class-block-differ.php
  includes/admin/class-revision-comparison.php
  includes/admin/class-revision-renderer.php
  includes/admin/class-revision-rest-api.php
  includes/admin/class-settings.php
  includes/admin/views/revision-comparison-page.php
  includes/admin/views/revision-tabs-script.php
  includes/class-plugin.php
  src/admin/revisions/_actions.scss
  src/admin/revisions/_diff.scss
  src/admin/revisions/_preview.scss
  src/admin/revisions/_slider.scss
  src/admin/revisions/_variables.scss
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/index.js
  src/admin/revisions/style.scss
  webpack.config.js
Labels: configuration, php, javascript, styles

fix: Address additional code review feedback for block exclusion
  docs/guides/BLOCK-EXCLUSION-GUIDE.md
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/BlocksExtensions.js
Labels: documentation, php, javascript

fix: Remove blank line before control structure end
  includes/class-plugin.php
Labels: php

feat: Add comprehensive, flexible test coverage
  tests/phpunit/form-handler-test.php
  tests/unit/block-schema-validation.test.js
  tests/unit/breakpoints.test.js
  tests/unit/css-generator.test.js
  tests/unit/extensions.test.js
  tests/unit/setup.js
  tests/unit/test-utils.js
Labels: php, javascript

feat: Add llms.txt support for AI language models
  includes/admin/class-settings.php
  includes/class-llms-txt.php
  includes/class-plugin.php
  src/admin/components/Settings.js
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/llms-txt/index.js
  webpack.config.js
Labels: configuration, php, javascript

fix: Address Copilot review feedback for llms.txt
  designsetgo.php
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/llms-txt/index.js
  src/styles/editor.scss
Labels: php, javascript, styles, needs-review

feat: Add markdown REST API endpoint for individual posts
  includes/class-llms-txt.php
  includes/class-markdown-converter.php
  includes/class-plugin.php
Labels: php

feat: Add cache clear button to llms.txt settings
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

feat: Add markdown API links to llms.txt output
  includes/class-llms-txt.php
Labels: php

fix: Address Copilot review feedback for llms.txt feature
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  tests/phpunit/llms-txt-test.php
  webpack.config.js
Labels: configuration, php, javascript

feat: Add block exclusion system to prevent REST API conflicts (#139)
  CHANGELOG.md
  docs/guides/BEST-PRACTICES-SUMMARY.md
  docs/guides/BLOCK-EXCLUSION-GUIDE.md
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/BlocksExtensions.js
  src/admin/style.scss
  src/extensions/background-video/index.js
  src/extensions/block-animations/attributes.js
  src/extensions/clickable-group/index.js
  src/extensions/custom-css/index.js
  src/extensions/expanding-background/attributes.js
  src/extensions/grid-span/index.js
  src/extensions/max-width/index.js
  src/extensions/responsive/index.js
  src/extensions/reveal-control/index.js
  src/extensions/sticky-header-controls/index.js
  src/extensions/text-alignment-inheritance/index.js
  src/extensions/text-reveal/attributes.js
  src/extensions/vertical-scroll-parallax/attributes.js
  src/utils/should-extend-block.js
  tests/unit/utils.test.js
Labels: extensions, documentation, php, javascript, styles

feat: Add static markdown file generation for llms.txt
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

chore: Update husky pre-commit hook to v9+ format
  .husky/pre-commit
Labels: none

Bump minimum PHP requirement from 7.4 to 8.0 (#143)
  CHANGELOG.md
  README.md
  composer.json
  deployment-package/designsetgo/readme.txt
  designsetgo.php
  docs/ARCHITECTURE.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
  readme.txt
  wiki-content/Home.md
Labels: documentation, configuration, php, needs-review

style: Rename llms-txt panel class to dsgo- prefix
  includes/class-plugin.php
  src/llms-txt/index.js
  src/styles/editor.scss
Labels: php, javascript, styles

refactor: Move llms.txt panel to Features tab and add performance help text
  src/admin/components/Settings.js
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: javascript

style: Apply linting and formatting fixes
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/index.js
  src/blocks/icon-button/deprecated.js
  webpack.config.js
Labels: blocks, configuration, javascript

fix: Resolve modal test issues for jsdom environment
  tests/unit/modal.test.js
Labels: javascript

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
