Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

fix: Address PR review feedback
  src/extensions/text-reveal/components/TextRevealPanel.js
  src/extensions/text-reveal/constants.js
  src/extensions/text-reveal/frontend.js
  src/styles/style.scss
Labels: extensions, javascript, styles

feat: Add vertical scroll parallax extension
  src/extensions/vertical-scroll-parallax/attributes.js
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
  src/extensions/vertical-scroll-parallax/index.js
  src/frontend.js
  src/index.js
Labels: extensions, javascript

fix: Make parallax option labels translatable
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
Labels: extensions, javascript

feat: Add horizontal direction options (left/right) to scroll parallax
  src/extensions/vertical-scroll-parallax/attributes.js
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, javascript

fix: Address PR review feedback
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, javascript

fix: Address PR review feedback
  src/extensions/text-reveal/frontend.js
Labels: extensions, javascript

fix: Address PR review feedback
  includes/blocks/class-form-handler.php
  includes/class-plugin.php
  src/blocks/form-builder/edit.js
Labels: blocks, php, javascript

fix: Address PR review feedback
  src/extensions/expanding-background/components/ExpandingBackgroundPanel.js
  src/extensions/expanding-background/editor.js
Labels: extensions, javascript

fix: Sync missing icons from JS to PHP library and fix icon injection
  includes/icon-svg-library.php
  src/frontend/lazy-icon-injector.js
Labels: php, javascript

fix: Icon Button respects WordPress width constraints and inherits theme.json button styles
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/editor.scss
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

fix: Address Copilot review comments
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

feat: Add Text Style RichText format for inline text styling
  includes/class-assets.php
  src/formats/text-style/components/ColorSection.js
  src/formats/text-style/components/SizeSection.js
  src/formats/text-style/components/TextStylePopover.js
  src/formats/text-style/constants.js
  src/formats/text-style/editor.scss
  src/formats/text-style/index.js
  src/formats/text-style/style.scss
  src/formats/text-style/utils.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: php, javascript, styles

refactor: Clean up text-style format code
  src/formats/text-style/components/SizeSection.js
  src/formats/text-style/components/TextStylePopover.js
  src/formats/text-style/editor.scss
  src/formats/text-style/index.js
  src/formats/text-style/style.scss
Labels: javascript, styles

feat: Add scroll-driven expanding background extension (#114)
  includes/class-assets.php
  src/extensions/expanding-background/attributes.js
  src/extensions/expanding-background/components/ExpandingBackgroundPanel.js
  src/extensions/expanding-background/constants.js
  src/extensions/expanding-background/editor.js
  src/extensions/expanding-background/editor.scss
  src/extensions/expanding-background/frontend.js
  src/extensions/expanding-background/index.js
  src/extensions/expanding-background/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: extensions, php, javascript, styles

feat: Add Cloudflare Turnstile integration for form spam protection (#116)
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  includes/class-plugin.php
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/form-builder/block.json
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/save.js
  src/blocks/form-builder/style.scss
  src/blocks/form-builder/view.js
Labels: blocks, php, javascript, styles

feat: Add text reveal scroll animation extension (#117)
  src/extensions/text-reveal/attributes.js
  src/extensions/text-reveal/components/TextRevealPanel.js
  src/extensions/text-reveal/constants.js
  src/extensions/text-reveal/editor.js
  src/extensions/text-reveal/frontend.js
  src/extensions/text-reveal/index.js
  src/extensions/text-reveal/style.scss
  src/frontend.js
  src/index.js
  src/style.scss
Labels: extensions, javascript, styles

feat: Add vertical scroll parallax extension (#118)
  src/extensions/vertical-scroll-parallax/attributes.js
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
  src/extensions/vertical-scroll-parallax/index.js
  src/frontend.js
  src/index.js
Labels: extensions, javascript

fix: Icon Button respects WordPress width constraints and inherits theme.json button styles (#120)
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/editor.scss
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
Labels: blocks, javascript, styles

feat: Add Text Style RichText format for inline text styling (#121)
  includes/class-assets.php
  src/formats/text-style/components/ColorSection.js
  src/formats/text-style/components/SizeSection.js
  src/formats/text-style/components/TextStylePopover.js
  src/formats/text-style/constants.js
  src/formats/text-style/editor.scss
  src/formats/text-style/index.js
  src/formats/text-style/style.scss
  src/formats/text-style/utils.js
  src/index.js
  src/style.scss
  src/styles/editor.scss
  src/styles/style.scss
Labels: php, javascript, styles

docs: Add v1.3.0 changelog and documentation for new extensions
  docs/extensions/EXPANDING-BACKGROUND.md
  docs/extensions/SCROLL-PARALLAX.md
  docs/extensions/TEXT-REVEAL.md
  docs/formats/TEXT-STYLE.md
  readme.txt
Labels: documentation

feat: Add WordPress 6.9 Abilities API support and new abilities
  composer.json
  designsetgo.php
  docs/api/ABILITIES-API.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/configurators/class-apply-expanding-background.php
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/abilities/configurators/class-apply-text-reveal.php
  includes/abilities/generators/class-generate-contact-section.php
  includes/abilities/inserters/class-insert-card.php
  includes/abilities/inserters/class-insert-slider.php
  includes/class-plugin.php
  package.json
  readme.txt
Labels: documentation, configuration, php, needs-review

feat: Add 20 new abilities for comprehensive AI integration
  docs/api/ABILITIES-API.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/configurators/class-configure-background-video.php
  includes/abilities/configurators/class-configure-clickable-group.php
  includes/abilities/configurators/class-configure-custom-css.php
  includes/abilities/configurators/class-configure-max-width.php
  includes/abilities/configurators/class-configure-responsive-visibility.php
  includes/abilities/generators/class-generate-cta-section.php
  includes/abilities/generators/class-generate-gallery-section.php
  includes/abilities/generators/class-generate-pricing-section.php
  includes/abilities/generators/class-generate-team-section.php
  includes/abilities/generators/class-generate-testimonial-section.php
  includes/abilities/inserters/class-insert-breadcrumbs.php
  includes/abilities/inserters/class-insert-countdown-timer.php
  includes/abilities/inserters/class-insert-counter.php
  includes/abilities/inserters/class-insert-divider.php
  includes/abilities/inserters/class-insert-form-builder.php
  includes/abilities/inserters/class-insert-image-accordion.php
  includes/abilities/inserters/class-insert-map.php
  includes/abilities/inserters/class-insert-pill.php
  includes/abilities/inserters/class-insert-section.php
  includes/abilities/inserters/class-insert-table-of-contents.php
Labels: documentation, php

fix: Address PR review comments for Abilities API
  includes/abilities/configurators/class-apply-expanding-background.php
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/abilities/configurators/class-apply-text-reveal.php
  includes/abilities/generators/class-generate-contact-section.php
  includes/abilities/generators/class-generate-cta-section.php
  includes/abilities/generators/class-generate-gallery-section.php
  includes/abilities/generators/class-generate-hero-section.php
  includes/abilities/generators/class-generate-pricing-section.php
  includes/abilities/generators/class-generate-team-section.php
  includes/abilities/generators/class-generate-testimonial-section.php
  includes/abilities/inserters/class-insert-card.php
  includes/abilities/inserters/class-insert-slider.php
Labels: php

fix: Update admin settings and abilities with correct block names
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/class-block-inserter.php
  includes/abilities/generators/class-generate-faq-section.php
  includes/abilities/generators/class-generate-feature-grid.php
  includes/abilities/generators/class-generate-hero-section.php
  includes/abilities/info/class-list-blocks.php
  includes/admin/class-settings.php
Labels: php

style: Fix PHPCS array formatting in pricing section generator
  includes/abilities/generators/class-generate-pricing-section.php
Labels: php

feat: Add WordPress 6.9 Abilities API support and new abilities (#122)
  composer.json
  designsetgo.php
  docs/api/ABILITIES-API.md
  includes/abilities/class-abilities-registry.php
  includes/abilities/configurators/class-apply-expanding-background.php
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/abilities/configurators/class-apply-text-reveal.php
  includes/abilities/configurators/class-configure-background-video.php
  includes/abilities/configurators/class-configure-clickable-group.php
  includes/abilities/configurators/class-configure-custom-css.php
  includes/abilities/configurators/class-configure-max-width.php
  includes/abilities/configurators/class-configure-responsive-visibility.php
  includes/abilities/generators/class-generate-contact-section.php
  includes/abilities/generators/class-generate-cta-section.php
  includes/abilities/generators/class-generate-gallery-section.php
  includes/abilities/generators/class-generate-hero-section.php
  includes/abilities/generators/class-generate-pricing-section.php
  includes/abilities/generators/class-generate-team-section.php
  includes/abilities/generators/class-generate-testimonial-section.php
  includes/abilities/inserters/class-insert-breadcrumbs.php
  includes/abilities/inserters/class-insert-card.php
  includes/abilities/inserters/class-insert-countdown-timer.php
  includes/abilities/inserters/class-insert-counter.php
  includes/abilities/inserters/class-insert-divider.php
  includes/abilities/inserters/class-insert-form-builder.php
  includes/abilities/inserters/class-insert-image-accordion.php
  includes/abilities/inserters/class-insert-map.php
  includes/abilities/inserters/class-insert-pill.php
  includes/abilities/inserters/class-insert-section.php
  includes/abilities/inserters/class-insert-slider.php
  includes/abilities/inserters/class-insert-table-of-contents.php
  includes/class-plugin.php
  package.json
  readme.txt
Labels: documentation, configuration, php, needs-review

fix: Correct form submissions link URL and post type prefix
  docs/compliance/GDPR-COMPLIANCE.md
  src/admin/components/Dashboard.js
  tests/phpunit/security-fixes-test.php
Labels: documentation, php, javascript

chore: Release version 1.3.0
  package-lock.json
  readme.txt
  src/blocks/icon-button/editor.scss
  src/formats/text-style/components/ColorSection.js
  src/formats/text-style/utils.js
Labels: blocks, configuration, javascript, styles

fix: Add missing configure_block() method to Block_Configurator
  includes/abilities/class-block-configurator.php
Labels: php

docs: Update documentation with complete Abilities API reference
  CHANGELOG.md
  README.md
Labels: documentation

chore: Add Node version pinning and fix security vulnerabilities
  .nvmrc
  includes/admin/class-admin-menu.php
  package-lock.json
  src/admin/components/BlocksExtensions.js
  src/blocks/scroll-marquee/view.js
  src/blocks/slider/view.js
Labels: blocks, configuration, php, javascript

chore: Release version 1.3.1
  designsetgo.php
  package.json
  readme.txt
  src/admin/components/BlocksExtensions.js
  src/blocks/slider/view.js
Labels: blocks, configuration, php, javascript, needs-review

feat: Add draft mode for published pages
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/class-plugin.php
  src/extensions/draft-mode/DraftModeHeader.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/api.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/index.js
  src/index.js
Labels: extensions, documentation, php, javascript, styles

fix: Address Copilot review comments for draft mode
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  src/extensions/draft-mode/DraftModeHeader.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/index.js
Labels: extensions, documentation, php, javascript, styles

fix: Remove auto-save and fix "Leave site?" warnings in draft mode
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
Labels: extensions, javascript

fix: Add spacing below discard button to prevent banner overlap
  includes/admin/class-draft-mode-admin.php
  includes/admin/class-draft-mode-rest.php
  src/admin/components/settings-panels/DraftModePanel.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/utils.js
Labels: extensions, php, javascript, styles

feat: Add visual revision comparison for block-based content
  .wp-env.json
  includes/admin/class-revision-comparison.php
  includes/class-plugin.php
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/index.js
  src/admin/revisions/style.scss
  webpack.config.js
Labels: configuration, php, javascript, styles

fix: Address Copilot review feedback for draft mode
  .claude/claude-memory.md
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/BlocksExtensions.js
  src/admin/components/Settings.js
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/api.js
  src/extensions/draft-mode/index.js
Labels: extensions, documentation, php, javascript

feat: Add llms.txt support for AI language models
  includes/admin/class-settings.php
  includes/class-llms-txt.php
  includes/class-plugin.php
  src/admin/components/Settings.js
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/llms-txt/index.js
  webpack.config.js
Labels: configuration, php, javascript

fix: Address Copilot review feedback for llms.txt
  designsetgo.php
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
  src/llms-txt/index.js
  src/styles/editor.scss
Labels: php, javascript, styles, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
