Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

docs: add GitHub Copilot instructions for AI code review
  .github/copilot-instructions.md
Labels: documentation

docs: update all documentation to reflect 43 blocks and 11 extensions
  README.md
  assets/screenshot-2.png
  assets/screenshot-4.png
  assets/screenshot-8.png
  designsetgo.php
  docs/AI-ASSISTED-DEVELOPMENT.md
  docs/BLOCKS-ROADMAP.md
  docs/jtbd.md
  readme.txt
Labels: documentation, php, needs-review

chore: clean up repository and remove duplicate files
  .gitignore
  console.txt
  designsetgologo.png
  docs/BLOCKS-FUTURE-IDEAS.md
  images/icon copy.svg
  push-svn-assets.sh
Labels: documentation

chore: clean up repository and remove duplicate files (#57)
  .gitignore
  console.txt
  designsetgologo.png
  docs/BLOCKS-FUTURE-IDEAS.md
  images/icon copy.svg
  push-svn-assets.sh
Labels: documentation

fix: address HIGH and MEDIUM severity security vulnerabilities from CodeQL scan
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  src/blocks/counter-group/view.js
  src/blocks/counter/utils/number-formatter.js
Labels: blocks, block: counter, javascript, ci/cd

chore: release version 1.1.1
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

feat: add filter hooks for Custom CSS output (#27)
  docs/CUSTOM-CSS-FILTERS.md
  includes/class-custom-css-renderer.php
Labels: documentation, php

fix: ensure section content stays above hover background overlay
  build/blocks/section/index-rtl.css
  build/blocks/section/index.asset.php
  build/blocks/section/index.css
  build/blocks/section/style-index-rtl.css
  build/blocks/section/style-index.asset.php
  build/blocks/section/style-index.css
  src/blocks/section/style.scss
Labels: blocks, php, styles

fix: correct custom CSS attribute name typo (dsgCustomCSS -> dsgoCustomCSS)
  includes/class-custom-css-renderer.php
Labels: php

feat: upgrade Custom CSS editor with syntax highlighting
  build/blocks/counter-group/view.asset.php
  build/blocks/counter-group/view.js
  build/blocks/counter/index.asset.php
  build/blocks/counter/index.js
  build/frontend.asset.php
  build/frontend.js
  build/index.asset.php
  build/index.js
  src/extensions/custom-css/index.js
Labels: extensions, php, javascript

fix: revert CodeEditor to TextareaControl with improvements
  build/index.asset.php
  build/index.js
  src/extensions/custom-css/index.js
Labels: extensions, php, javascript

fix: ensure section content stays above hover background overlay (#85)
  build/blocks/section/index-rtl.css
  build/blocks/section/index.asset.php
  build/blocks/section/index.css
  build/blocks/section/style-index-rtl.css
  build/blocks/section/style-index.asset.php
  build/blocks/section/style-index.css
  src/blocks/section/style.scss
Labels: blocks, php, styles

chore: configure Copilot to review only changed lines in PRs
  .github/copilot-instructions.md
  .github/pull_request_template.md
Labels: documentation

docs: update custom CSS property doc comment and add defensive check
  includes/class-custom-css-renderer.php
Labels: php

docs: fix markdown lint issues and improve filter parameter documentation
  docs/CUSTOM-CSS-FILTERS.md
Labels: documentation

feat: add filter hooks for Custom CSS output (#84)
  build/blocks/counter-group/view.asset.php
  build/blocks/counter-group/view.js
  build/blocks/counter/index.asset.php
  build/blocks/counter/index.js
  build/frontend.asset.php
  build/frontend.js
  build/index.asset.php
  build/index.js
  docs/CUSTOM-CSS-FILTERS.md
  includes/class-custom-css-renderer.php
  src/extensions/custom-css/index.js
Labels: extensions, documentation, php, javascript

feat: enhance Card block with lazy loading, image controls, and text color
  src/blocks/card/block.json
  src/blocks/card/edit.js
  src/blocks/card/save.js
Labels: blocks, javascript

chore: exclude build files from git, generate fresh on deploy
  .gitignore
Labels: none

perf: optimize JavaScript to eliminate forced reflows
  .gitignore
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-accordion/view.js
  src/blocks/scroll-marquee/view.js
  src/blocks/slider/view.js
Labels: blocks, javascript, styles

perf: optimize JavaScript to eliminate forced reflows (#91)
  .gitignore
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-accordion/view.js
  src/blocks/scroll-marquee/view.js
  src/blocks/slider/view.js
Labels: blocks, javascript, styles

perf: optimize CSS loading strategy for 100-160ms improvement
  docs/PERFORMANCE-CSS-STRATEGY.md
  includes/class-assets.php
Labels: documentation, php

fix: address Copilot PR feedback on CSS optimization
  docs/PERFORMANCE-CSS-STRATEGY.md
  includes/class-assets.php
Labels: documentation, php

Performance: Optimize CSS loading strategy (#92) (#93)
  docs/PERFORMANCE-CSS-STRATEGY.md
  includes/class-assets.php
Labels: documentation, php

fix: flip card back not showing background color/text in editor
  src/blocks/flip-card/editor.scss
Labels: blocks, styles

Revert "fix: flip card back not showing background color/text in editor"
  src/blocks/flip-card/editor.scss
Labels: blocks, styles

fix: flip card back not showing background color/text in editor
  src/blocks/flip-card/editor.scss
Labels: blocks, styles

fix: add alignment options to countdown timer block
  src/blocks/countdown-timer/editor.scss
  src/blocks/countdown-timer/style.scss
Labels: blocks, styles

docs: update WordPress.org screenshots
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-8.png
Labels: none

fix: flip card back not showing background color/text in editor (#94)
  src/blocks/flip-card/editor.scss
Labels: blocks, styles

fix: add alignment options to countdown timer block (#95)
  src/blocks/countdown-timer/editor.scss
  src/blocks/countdown-timer/style.scss
Labels: blocks, styles

chore: Release version 1.1.3
  SECURITY-REVIEW.md
  designsetgo.php
  package.json
  readme.txt
  src/blocks/card/edit.js
  src/blocks/scroll-accordion-item/style.scss
  src/blocks/scroll-marquee/view.js
Labels: blocks, documentation, configuration, php, javascript, styles, needs-review

fix: slider initialization on uncached first load
  src/blocks/slider/view.js
Labels: blocks, javascript

fix: slider initialization on uncached first load (#96)
  src/blocks/slider/view.js
Labels: blocks, javascript

refactor: address code review feedback for slider initialization
  src/blocks/slider/view.js
Labels: blocks, javascript

refactor: address code review feedback for slider initialization
  src/blocks/slider/view.js
Labels: blocks, javascript

perf: eliminate redundant Array.from conversion in getImageLoadState
  src/blocks/slider/view.js
Labels: blocks, javascript

fix: critical double-counting bug and complete JSDoc
  src/blocks/slider/view.js
Labels: blocks, javascript

docs: restore error handler explanation comment
  src/blocks/slider/view.js
Labels: blocks, javascript

Fix: Slider optimization - address code review feedback (#97)
  src/blocks/slider/view.js
Labels: blocks, javascript

chore: Release version 1.1.4
  SECURITY-REVIEW.md
  designsetgo.php
  package.json
  readme.txt
  src/blocks/slider/view.js
Labels: blocks, documentation, configuration, php, javascript, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
