Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

feat: Add Responsive Visibility extension with comprehensive documentation
  docs/wiki/Responsive-Visibility.md
  docs/wiki/Sticky-Header.md
  docs/wiki/WIKI-UPLOAD-INSTRUCTIONS.md
  languages/designsetgo.pot
  src/extensions/responsive/editor.scss
  src/extensions/responsive/index.js
Labels: extensions, documentation, javascript, styles

fix: Update plugin description to reflect 47 blocks + 7 extensions
  designsetgo.php
Labels: php, needs-review

fix: Make Plugin URI and Author URI different for WordPress.org compliance
  designsetgo.php
Labels: php, needs-review

fix: Use designsetgoblocks.com paths for Plugin and Author URIs
  designsetgo.php
Labels: php, needs-review

fix: Remove deprecated load_plugin_textdomain() for WP.org compliance
  includes/class-plugin.php
Labels: php

fix: Update readme.txt "Tested up to" version format for WordPress.org compliance
  readme.txt
Labels: none

refactor: Standardize prefix from dsg to dsgo in extensions and utilities
  src/extensions/animation/index.js
  src/extensions/background-video/editor.scss
  src/extensions/background-video/frontend.js
  src/extensions/background-video/index.js
  src/extensions/background-video/style.scss
  src/extensions/block-animations/animations.scss
  src/extensions/block-animations/attributes.js
  src/extensions/block-animations/components/AnimationPanel.js
  src/extensions/block-animations/components/AnimationToolbar.js
  src/extensions/block-animations/editor.js
  src/extensions/block-animations/frontend.js
  src/extensions/clickable-group/editor.scss
  src/extensions/clickable-group/frontend.js
  src/extensions/clickable-group/index.js
  src/extensions/clickable-group/styles.scss
  src/extensions/custom-css/index.js
  src/extensions/grid-span/editor.scss
  src/extensions/grid-span/index.js
  src/extensions/grid-span/style.scss
  src/extensions/max-width/editor.scss
  src/extensions/max-width/index.js
  src/extensions/max-width/style.scss
  src/extensions/responsive/editor.scss
  src/extensions/responsive/index.js
  src/extensions/reveal-control/editor.scss
  src/extensions/reveal-control/index.js
  src/extensions/reveal-control/styles.scss
  src/extensions/sticky-header-controls/index.js
  src/styles/_animations.scss
  src/styles/_utilities.scss
  src/styles/block-variations.scss
  src/styles/editor.scss
  src/styles/utilities/_sticky-header.scss
  src/styles/utilities/_width-layout.scss
  src/utils/css-generator.js
  src/utils/focus-outline.js
  src/utils/sticky-header.js
Labels: extensions, javascript, styles

refactor: Standardize prefix from dsg to dsgo in PHP backend and patterns
  includes/abilities/class-block-inserter.php
  includes/admin/class-admin-menu.php
  includes/admin/class-gdpr-compliance.php
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/block-animation-attributes.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-submissions.php
  includes/class-assets.php
  includes/class-custom-css-renderer.php
  includes/class-plugin.php
  includes/class-sticky-header.php
  includes/helpers.php
  includes/icon-svg-library.php
  includes/patterns/class-loader.php
  patterns/faq/accordion-faq.php
Labels: php

test: Update tests for dsgo prefix standardization
  tests/e2e/container-content-width.spec.js
  tests/e2e/group-enhancements.spec.js
  tests/phpunit/helpers-test.php
Labels: php, javascript

chore: Remove obsolete root documentation files
  SECURITY-REVIEW.md
  WIDTH-CSS-STRATEGY-IMPLEMENTATION.md
  WP-ORG-SUBMISSION-READY.md
  context.html
Labels: documentation

chore: Update package-lock and readme
  package-lock.json
  readme.txt
Labels: configuration

chore: Remove remaining obsolete analysis files
  CSS-OPTIMIZATION-ANALYSIS.md
  PERFORMANCE-ANALYSIS.md
  PLUGIN-REVIEW.md
  PRE-DEPLOYMENT-CHECKLIST.md
Labels: documentation

fix: Remove duplicate CSS selectors in section block
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

docs: Add Jobs To Be Done (JTBD) framework for product strategy
  docs/jtbd.md
Labels: documentation

docs: Add comprehensive changelog for v1.0.0 release
  CHANGELOG.md
Labels: documentation

docs: Streamline readme.txt with JTBD-focused messaging
  build/blocks/section/index.asset.php
  build/blocks/section/index.js
  readme.txt
Labels: php, javascript

ci: Add GitHub Actions workflow for WordPress.org auto-deployment
  .github/workflows/deploy.yml
Labels: ci/cd

fix: Correct stable tag, shorten description, add .wordpress-org assets
  .gitignore
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
  .wordpress-org/screenshot-6.png
  .wordpress-org/screenshot-7.png
  readme.txt
Labels: none

chore: Improve .distignore to minimize SVN deployment size
  .distignore
Labels: none

fix: Use absolute paths in .distignore for proper SVN exclusion
  .distignore
Labels: none

docs: Add comprehensive product roadmaps based on JTBD framework
  designsetgo.php
  docs/BLOCKS-ROADMAP.md
  docs/ROADMAP.md
Labels: documentation, php, needs-review

docs: Consolidate JTBD framework with horizon-based roadmap
  docs/BLOCKS-ROADMAP.md
  docs/jtbd.md
Labels: documentation

fix: Update plugin version to 1.0.1 in main plugin file
  .claude/commands/deploy.md
Labels: documentation

feat: add Map block with Google Maps integration
  src/blocks/map/block.json
  src/blocks/map/components/inspector/MapSettingsPanel.js
  src/blocks/map/deprecated.js
  src/blocks/map/edit.js
  src/blocks/map/editor.scss
  src/blocks/map/handlers/DSGMap.js
  src/blocks/map/handlers/googlemaps-handler.js
  src/blocks/map/handlers/openstreetmap-handler.js
  src/blocks/map/index.js
  src/blocks/map/save.js
  src/blocks/map/style.scss
  src/blocks/map/utils/geocoding.js
  src/blocks/map/utils/script-loader.js
  src/blocks/map/view.js
Labels: blocks, javascript, styles

feat: add Card block with multiple layout presets and visual styles
  src/blocks/card/block.json
  src/blocks/card/components/inspector/BadgeSettingsPanel.js
  src/blocks/card/components/inspector/ContentSettingsPanel.js
  src/blocks/card/components/inspector/ImageSettingsPanel.js
  src/blocks/card/components/inspector/LayoutSettingsPanel.js
  src/blocks/card/edit.js
  src/blocks/card/editor.scss
  src/blocks/card/index.js
  src/blocks/card/save.js
  src/blocks/card/style.scss
Labels: blocks, javascript, styles

feat: enhance admin dashboard with comprehensive plugin statistics
  src/admin/components/settings-panels/AnimationsPanel.js
  src/admin/components/settings-panels/FormsPanel.js
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/admin/components/settings-panels/PerformancePanel.js
  src/admin/components/settings-panels/SecurityPanel.js
  src/admin/components/settings-panels/StickyHeaderPanel.js
Labels: javascript

docs: add Card block security and performance audit
  docs/CARD-BLOCK-AUDIT.md
Labels: documentation

fix: restore missing RangeControl and Divider imports in Card block
  src/blocks/card/edit.js
Labels: blocks, javascript

fix: add missing TextControl import to Card block
  src/blocks/card/edit.js
Labels: blocks, javascript

docs: add import verification tools to prevent linting errors
  docs/HANDLING-LINT-ERRORS.md
  scripts/verify-imports.sh
Labels: documentation

fix: Simplify blueprint to avoid post ID errors
  .wordpress-org/blueprints/blueprint.json
Labels: none

fix: actually add ToggleControl import to Card block
  build/blocks/card/block.json
  build/blocks/card/index-rtl.css
  build/blocks/card/index.asset.php
  build/blocks/card/index.css
  build/blocks/card/index.js
  build/blocks/card/style-index-rtl.css
  build/blocks/card/style-index.asset.php
  build/blocks/card/style-index.css
  build/blocks/card/style-index.js
  build/blocks/map/block.json
  build/blocks/map/index-rtl.css
  build/blocks/map/index.asset.php
  build/blocks/map/index.css
  build/blocks/map/index.js
  build/blocks/map/style-index-rtl.css
  build/blocks/map/style-index.asset.php
  build/blocks/map/style-index.css
  build/blocks/map/style-index.js
  build/blocks/map/view.asset.php
  build/blocks/map/view.js
  src/blocks/card/edit.js
Labels: blocks, php, javascript, styles

security: fix js-yaml prototype pollution vulnerability
  package-lock.json
  package.json
Labels: configuration

docs: add comprehensive contributor documentation
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/GETTING-STARTED.md
  docs/README.md
Labels: documentation

docs: add branch protection and PR workflow documentation
  CONTRIBUTING.md
  package.json
Labels: documentation, configuration

docs: add branch protection and PR workflow documentation (#2)
  CONTRIBUTING.md
  package.json
Labels: documentation, configuration

docs: add comprehensive AI-assisted development guide
  README.md
  docs/AI-ASSISTED-DEVELOPMENT.md
  docs/README.md
Labels: documentation

feat: add automated AI code review for pull requests
  .coderabbit.yaml
  .github/AI-CODE-REVIEW-SETUP.md
  .github/workflows/ai-code-review.yml
Labels: documentation, ci/cd

feat: add automated AI code review for pull requests (#26)
  .coderabbit.yaml
  .github/AI-CODE-REVIEW-SETUP.md
  .github/workflows/ai-code-review.yml
Labels: documentation, ci/cd

fix: correct AI code review pricing and add free alternatives
  .github/AI-CODE-REVIEW-SETUP.md
  .github/workflows/README-AI-REVIEW.md
  .github/workflows/ai-code-review-coderabbit.yml.template
Labels: documentation, ci/cd
