Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

feat: Add markdown REST API endpoint for individual posts
  includes/class-llms-txt.php
  includes/class-markdown-converter.php
  includes/class-plugin.php
Labels: php

feat: Add markdown API links to llms.txt output
  includes/class-llms-txt.php
Labels: php

feat: Add cache clear button to llms.txt settings
  includes/class-llms-txt.php
  src/admin/components/settings-panels/LLMSTxtPanel.js
Labels: php, javascript

fix: Stop overriding theme.json fontFamilies
  includes/admin/class-global-styles.php
Labels: php

fix: Stop overriding theme.json fontFamilies (#134)
  includes/admin/class-global-styles.php
Labels: php

fix: Stop overriding theme.json color palette and spacing presets
  includes/admin/class-global-styles.php
  patterns/faq/accordion-faq.php
  src/blocks/grid/block.json
  src/blocks/row/block.json
  src/blocks/section/block.json
Labels: blocks, php

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci/cd

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci/cd

Add Claude Code GitHub Workflow (#136)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

fix: Ensure block styles work with all theme spacing configurations
  includes/admin/class-global-styles.php
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/modal/templates.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/index.js
  src/styles/block-variations.scss
Labels: blocks, php, javascript, styles

fix: Stop overriding theme.json color palette and spacing presets (#135)
  includes/admin/class-global-styles.php
  patterns/faq/accordion-faq.php
  src/blocks/grid/block.json
  src/blocks/grid/editor.scss
  src/blocks/grid/style.scss
  src/blocks/modal/templates.js
  src/blocks/row/block.json
  src/blocks/section/block.json
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/index.js
  src/styles/block-variations.scss
Labels: blocks, php, javascript, styles

fix: Prevent double background layer on Icon Button with rounded corners
  src/blocks/icon-button/block.json
Labels: blocks

fix: Prevent double background layer on Icon Button with rounded corners (#137)
  src/blocks/icon-button/block.json
Labels: blocks

fix: Extract padding from outer to inner div for alignfull/alignwide blocks
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

refactor: Migrate commands to modern Claude Code skills format
  .claude/skills/README.md
  .claude/skills/README/SKILL.md
  .claude/skills/add-block/SKILL.md
  .claude/skills/add-extension/SKILL.md
  .claude/skills/add-variation/SKILL.md
  .claude/skills/block-supports-audit/SKILL.md
  .claude/skills/build/SKILL.md
  .claude/skills/check-compat/SKILL.md
  .claude/skills/color-controls-migrate/SKILL.md
  .claude/skills/deploy/SKILL.md
  .claude/skills/i18n-update/SKILL.md
  .claude/skills/lint/SKILL.md
  .claude/skills/performance-audit/SKILL.md
  .claude/skills/plugin-info/SKILL.md
  .claude/skills/plugin-review/SKILL.md
  .claude/skills/quick-fix/SKILL.md
  .claude/skills/refactor/SKILL.md
  .claude/skills/review-extension/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/security-audit/SKILL.md
  .claude/skills/test/SKILL.md
Labels: documentation

fix: Address PR #138 review comments and resolve alignfull/alignwide spacing issues
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/style.scss
  src/styles/_utilities.scss
  src/utils/index.js
  src/utils/padding-utils.js
Labels: blocks, javascript, styles

style: Fix linting issues
  src/blocks/grid/deprecated.js
  src/blocks/row/deprecated.js
  src/style.scss
  src/styles/_utilities.scss
Labels: blocks, javascript, styles

fix: Extract padding from outer to inner div for alignfull/alignwide blocks (#138)
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

feat: Add block exclusion system to prevent REST API conflicts
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/BlocksExtensions.js
  src/extensions/background-video/index.js
  src/extensions/block-animations/attributes.js
  src/extensions/clickable-group/index.js
  src/extensions/custom-css/index.js
  src/extensions/expanding-background/attributes.js
  src/extensions/grid-span/index.js
  src/extensions/max-width/index.js
  src/extensions/responsive/index.js
  src/extensions/reveal-control/index.js
  src/extensions/sticky-header-controls/index.js
  src/extensions/text-alignment-inheritance/index.js
  src/extensions/text-reveal/attributes.js
  src/extensions/vertical-scroll-parallax/attributes.js
  src/utils/is-dynamic-block.js
  src/utils/should-extend-block.js
Labels: extensions, php, javascript

fix: Address all code review feedback for block exclusion system
  CHANGELOG.md
  docs/guides/BEST-PRACTICES-SUMMARY.md
  docs/guides/BLOCK-EXCLUSION-GUIDE.md
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/BlocksExtensions.js
  src/admin/style.scss
  src/utils/is-dynamic-block.js
  src/utils/should-extend-block.js
  tests/unit/utils.test.js
Labels: documentation, php, javascript, styles

refactor: Replace WordPress alignment with custom DSG alignment system
  docs/CONTAINER-ALIGNMENT-WIDTH-GUIDE.md
  src/blocks/grid/block.json
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/row/block.json
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/section/block.json
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/styles/_utilities.scss
  src/styles/editor.scss
Labels: blocks, documentation, javascript, styles

fix: Account for nested Group block padding in full-width alignment
  src/styles/_utilities.scss
Labels: styles

fix: Simplify full-width alignment to match WordPress core approach
  src/styles/_utilities.scss
  src/styles/editor.scss
Labels: styles

fix: Improve alignment system for theme settings and nested containers
  src/styles/_utilities.scss
  src/styles/editor.scss
Labels: styles

Revert "fix: Extract padding from outer to inner div for alignfull/alignwide …"
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

Revert "fix: Extract padding from outer to inner div for alignfull/alignwide …" (#140)
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/row/style.scss
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
  src/blocks/section/style.scss
Labels: blocks, javascript, styles

test: Temporarily disable post content alignfull fix
  src/styles/_utilities.scss
Labels: styles

chore: Release version 1.3.2
  designsetgo.php
  package.json
  readme.txt
  src/styles/_utilities.scss
Labels: configuration, php, styles, needs-review

fix: Icon button font size, padding, and border-radius inheritance
  src/blocks/icon-button/block.json
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/blocks/icon-button/utils/padding.js
  src/blocks/pill/block.json
Labels: blocks, javascript, styles

chore: Release version 1.3.3
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

chore: Release version 1.3.4
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Address Claude PR review feedback for draft mode
  includes/admin/class-draft-mode-admin.php
  includes/admin/class-draft-mode-rest.php
  src/extensions/draft-mode/DraftModeControls.js
Labels: extensions, php, javascript

feat: Add draft mode for published pages
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/class-plugin.php
  src/extensions/draft-mode/DraftModeHeader.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/api.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/index.js
  src/index.js
Labels: extensions, documentation, php, javascript, styles

fix: Address Copilot review feedback for draft mode
  .claude/claude-memory.md
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  includes/class-plugin.php
  src/admin/components/Settings.js
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/api.js
  src/extensions/draft-mode/index.js
Labels: extensions, documentation, php, javascript

fix: Remove auto-save and fix "Leave site?" warnings in draft mode
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
Labels: extensions, javascript

fix: Address Copilot review comments for draft mode
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  src/extensions/draft-mode/DraftModeHeader.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/index.js
Labels: extensions, documentation, php, javascript, styles

fix: Add spacing below discard button to prevent banner overlap
  includes/admin/class-draft-mode-admin.php
  includes/admin/class-draft-mode-rest.php
  src/admin/components/settings-panels/DraftModePanel.js
  src/extensions/draft-mode/editor.scss
  src/extensions/draft-mode/utils.js
Labels: extensions, php, javascript, styles

fix: Remove unused properties causing PHPStan errors in Draft_Mode
  includes/admin/class-draft-mode.php
Labels: php

test: Add comprehensive test suite for draft mode feature
  includes/admin/class-draft-mode-admin.php
  package-lock.json
  package.json
  src/extensions/draft-mode/DraftModeControls.js
  src/extensions/draft-mode/DraftModePanel.js
  src/extensions/expanding-background/frontend.js
  tests/DRAFT-MODE-TESTS.md
  tests/phpunit/draft-mode-admin-test.php
  tests/phpunit/draft-mode-rest-test.php
  tests/phpunit/draft-mode-test.php
  tests/unit/draft-mode-controls.test.js
  tests/unit/draft-mode-panel.test.js
Labels: extensions, documentation, configuration, php, javascript

fix: Address Copilot PR review feedback for draft mode
  docs/api/DRAFT-MODE-API.md
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-draft-mode.php
  includes/admin/class-settings.php
  tests/DRAFT-MODE-TESTS.md
Labels: documentation, php
