Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

Add comment explaining why overflow is not set on .dsgo-stack
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Scope button height fix to grid context and add missing inline block types
  src/blocks/icon-button/editor.scss
  src/blocks/section/editor.scss
Labels: blocks, styles

Fix blob size: use dynamic top-level min/max instead of per-unit props
  src/blocks/blobs/edit.js
Labels: blocks, javascript

Fix paragraph text alignment overridden by section content justification
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Refactor: Improve code formatting and add unit constraints (#191)
  src/admin/components/settings-panels/StickyHeaderPanel.js
  src/blocks/blobs/edit.js
  tests/e2e/helpers/wordpress.js
Labels: blocks, javascript

Add comprehensive technical debt inventory report
  TECHNICAL-DEBT-REPORT.md
Labels: documentation

Fix vertical stretching of buttons in grid layout contexts (#192)
  src/blocks/icon-button/editor.scss
  src/blocks/section/editor.scss
Labels: blocks, styles

Address PR review comments: add browser compat and scope docs
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Fix icon block extra spacing in editor
  src/blocks/icon/editor.scss
Labels: blocks, block: icon, styles

Use overflow: clip instead of hidden on video background sections
  src/extensions/background-video/editor.scss
  src/extensions/background-video/style.scss
Labels: extensions, styles

Fix text alignment in sections with content justification (#193)
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Refactor overflow handling for sections and accordions (#190)
  src/blocks/scroll-accordion/view.js
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
  src/extensions/background-video/editor.scss
  src/extensions/background-video/style.scss
Labels: blocks, extensions, javascript, styles

fix: update pattern markup for block compatibility
  patterns/contact/contact-consultation-form.php
  patterns/contact/contact-consultation.php
  patterns/contact/contact-map-split.php
  patterns/content/content-about-blobs.php
  patterns/content/content-alternating-rows.php
  patterns/content/content-event-schedule.php
  patterns/content/content-image-overlay.php
  patterns/content/content-portfolio-cards.php
  patterns/content/content-process-steps.php
  patterns/content/content-slider-cards.php
  patterns/content/content-split-image.php
  patterns/content/content-stats-counters.php
  patterns/content/content-why-choose-us.php
  patterns/cta/cta-banner-gradient.php
  patterns/cta/cta-banner.php
  patterns/cta/cta-newsletter.php
  patterns/faq/faq-accordion-categories.php
  patterns/features/features-grid-icons.php
  patterns/hero/hero-event-countdown.php
  patterns/team/team-grid-social.php
  patterns/testimonials/testimonials-rating-cards.php
  patterns/testimonials/testimonials-video.php
Labels: php

feat: add separate height control to blobs block
  src/blocks/blobs/block.json
  src/blocks/blobs/edit.js
  src/blocks/blobs/save.js
  src/blocks/blobs/style.scss
Labels: blocks, javascript, styles

fix: deduplicate concurrent script and stylesheet loading in map block
  src/blocks/map/utils/script-loader.js
Labels: blocks, javascript

fix: add blobs block to section editor width allowlist
  src/blocks/section/editor.scss
Labels: blocks, styles

Add inline tab title editing in the block editor
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
Labels: blocks, javascript, styles

Fix E2E test failures: update block inserter selector for WP 6.9
  tests/e2e/helpers/wordpress.js
Labels: javascript

Address PR review: add SVG/line-height rules to style.scss for parity
  src/blocks/icon/editor.scss
  src/blocks/icon/style.scss
Labels: blocks, block: icon, styles

Fix row block overflow when padding/border is applied inside constrained containers
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
Labels: blocks, styles

Fix animation extension: PHP/JS attribute mismatch, accessibility, and performance
  includes/abilities/configurators/class-apply-animation.php
  includes/block-animation-attributes.php
  src/extensions/animation/index.js
  src/extensions/block-animations/animations.scss
  src/extensions/block-animations/frontend.js
Labels: extensions, php, javascript, styles

Only serialize non-default animation attributes to keep markup lean
  includes/block-animation-attributes.php
  src/extensions/block-animations/editor.js
  src/extensions/block-animations/frontend.js
Labels: extensions, php, javascript

fix: update pattern markup for block compatibility
  patterns/content/content-location-hours.php
  patterns/content/content-progress-skills.php
  patterns/content/content-slider-cards.php
  patterns/faq/faq-accordion-animated.php
  patterns/faq/faq-accordion-categories.php
  patterns/features/features-benefit-cards.php
  patterns/features/features-grid-icons.php
  patterns/features/features-portfolio-services.php
  patterns/features/features-practice-areas.php
  patterns/features/features-tabs.php
  patterns/hero/hero-event-conference.php
  patterns/hero/hero-fitness-bold.php
  patterns/hero/hero-luxury-realestate.php
  patterns/hero/hero-nonprofit-cause.php
  patterns/hero/hero-saas-startup.php
  patterns/homepage/homepage-ecommerce.php
  patterns/homepage/homepage-education.php
  patterns/homepage/homepage-event.php
  patterns/homepage/homepage-portfolio.php
  patterns/homepage/homepage-professional.php
  patterns/homepage/homepage-saas.php
Labels: php

fix: add new icons, extend slide context fixes, simplify section alignment
  includes/icon-svg-library.php
  src/blocks/icon-button/editor.scss
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/progress-bar/editor.scss
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, block: icon, php, javascript, styles

Fix icon block vertical alignment and SVG rendering in editor (#194)
  src/blocks/icon/editor.scss
  src/blocks/icon/style.scss
Labels: blocks, block: icon, styles

Fix row block overflow when padding/border is applied inside constrained containers (#196)
  src/blocks/row/editor.scss
  src/blocks/row/style.scss
Labels: blocks, styles

Use accessible role selector with CSS class fallback for inserter toggle
  tests/e2e/helpers/wordpress.js
Labels: javascript

Address PR review feedback on technical debt report
  TECHNICAL-DEBT-REPORT.md
Labels: documentation

Fix block inserter selector for WordPress 6.8+ compatibility (#197)
  tests/e2e/helpers/wordpress.js
Labels: javascript

Address PR review feedback for animation extension
  includes/block-animation-attributes.php
  src/extensions/block-animations/editor.js
  src/extensions/block-animations/frontend.js
Labels: extensions, php, javascript

Address PR review feedback for inline tab editing
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
Labels: blocks, javascript, styles

Reduce bundle size by ~100 KiB via lazy-loading and deduplication
  src/admin/index.js
  src/blocks/flip-card/block.json
  src/blocks/flip-card/view.js
  src/extensions/background-video/edit.js
  src/extensions/background-video/index.js
  src/extensions/block-animations/editor.js
  src/extensions/clickable-group/edit.js
  src/extensions/clickable-group/index.js
  src/extensions/custom-css/edit.js
  src/extensions/custom-css/index.js
  src/extensions/draft-mode/index.js
  src/extensions/expanding-background/index.js
  src/extensions/max-width/edit.js
  src/extensions/max-width/index.js
  src/extensions/responsive/edit.js
  src/extensions/responsive/index.js
  src/extensions/sticky-header-controls/edit.js
  src/extensions/sticky-header-controls/index.js
  src/formats/text-style/index.js
  src/frontend.js
  webpack.config.js
Labels: blocks, extensions, configuration, javascript

Fix lint errors in lazy-loaded extension modules
  src/extensions/background-video/index.js
  src/extensions/block-animations/editor.js
  src/extensions/clickable-group/index.js
  src/extensions/custom-css/edit.js
  src/extensions/custom-css/index.js
  src/extensions/draft-mode/index.js
  src/extensions/max-width/index.js
  src/extensions/responsive/index.js
  src/extensions/sticky-header-controls/index.js
  src/formats/text-style/index.js
Labels: extensions, javascript

fix: Address PR #201 review feedback
  package-lock.json
  src/utils/convert-preset-to-css-var.js
Labels: configuration, javascript

fix: add counter and icon blocks to section inline block override lists
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix: Cast integers to string for esc_attr() PHPStan compliance
  includes/block-animation-attributes.php
Labels: php

Fix block editor styling and add new icons (#200)
  includes/icon-svg-library.php
  src/blocks/icon-button/editor.scss
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/progress-bar/editor.scss
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, block: icon, php, javascript, styles

fix: Remove composer.lock from tracking (PHP version compatibility)
  .gitignore
  composer.lock
Labels: none

Refactor animation attributes and optimize frontend performance (#198)
  includes/abilities/configurators/class-apply-animation.php
  includes/block-animation-attributes.php
  src/extensions/animation/index.js
  src/extensions/block-animations/animations.scss
  src/extensions/block-animations/editor.js
  src/extensions/block-animations/frontend.js
Labels: extensions, php, javascript, styles

fix: Address medium-priority technical debt items (DOC/CQ/DA/DD/INF/PF)
  .github/workflows/ci.yml
  docs/api/REST-API-REFERENCE.md
  includes/admin/blocks-registry.json
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/blocks/class-loader.php
  package.json
  src/blocks/divider/deprecated.js
  src/blocks/divider/edit.js
  src/blocks/shared/icon-utils.js
Labels: blocks, documentation, configuration, php, javascript, ci/cd

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
