Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

fix: Preserve top bar background in overlay skip-top-bar mode
  src/styles/utilities/_sticky-header.scss
Labels: styles

feat: Skip top bar when sticky header scrolls into position (#281)
  includes/class-overlay-header.php
  src/extensions/sticky-header-controls/edit.js
  src/extensions/sticky-header-controls/index.js
  src/overlay-header/index.js
  src/styles/utilities/_sticky-header.scss
  src/utils/sticky-header.js
Labels: extensions, php, javascript, styles

chore: Release version 2.0.30
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

chore: Update GitHub username from jnealey88 to jnealey-godaddy
  .claude/skills/deploy/SKILL.md
  .github/AI-CODE-REVIEW-SETUP.md
  .github/SECURITY.md
  .github/scripts/sync-wiki.mjs
  .github/workflows/README-AI-REVIEW.md
  .github/workflows/ai-code-review-coderabbit.yml.template
  .github/workflows/sync-wiki.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
  docs/blocks/COUNTER-GROUP.md
  docs/blocks/ICON-LIST.md
  docs/blocks/IMAGE-ACCORDION.md
  docs/blocks/PROGRESS-BAR.md
  docs/blocks/REVEAL.md
  docs/blocks/ROW.md
  docs/blocks/SCROLL-ACCORDION.md
  docs/blocks/SCROLL-GALLERY.md
  docs/blocks/SECTION.md
  docs/blocks/SLIDER.md
  docs/blocks/TABS.md
  docs/guides/AI-ASSISTED-DEVELOPMENT.md
  docs/guides/BLOCK-EXCLUSION-GUIDE.md
  docs/patterns/CUSTOM-CSS-FILTERS.md
  src/blocks/table-of-contents/README.md
  wiki-content/Home.md
Labels: blocks, documentation, security, ci/cd

fix: Bundle Leaflet locally to fix map in CSP-restricted iframes
  package-lock.json
  package.json
  src/blocks/map/handlers/openstreetmap-handler.js
  src/blocks/map/utils/script-loader.js
  webpack.config.js
Labels: blocks, configuration, javascript

fix: Prevent sub-pixel border gaps on shape dividers at small screen sizes
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

chore: Exempt map view.js from performance budget warning
  webpack.config.js
Labels: configuration, javascript

refactor: Extract shape divider bleed into SCSS variable and clarify comments
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix: Bundle Leaflet locally to fix map in CSP-restricted iframes (#283)
  package-lock.json
  package.json
  src/blocks/map/handlers/openstreetmap-handler.js
  src/blocks/map/utils/script-loader.js
  webpack.config.js
Labels: blocks, configuration, javascript

fix: Prevent sub-pixel border gaps on shape dividers at small screen sizes (#284)
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

chore: Remove custom CodeQL workflow in favor of GitHub Default Setup
  .github/workflows/codeql.yml
Labels: ci/cd

chore: Release version 2.0.31
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Register view.css as viewStyle to enqueue Leaflet CSS on frontend
  src/blocks/map/block.json
Labels: blocks

fix: Register view.css as viewStyle to enqueue Leaflet CSS on frontend
  src/blocks/map/block.json
Labels: blocks

chore: Release version 2.0.32
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

fix: Resolve form block kses validation failures and add map address geocoding
  includes/class-plugin.php
  src/blocks/form-phone-field/country-codes.js
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-phone-field/edit.js
  src/blocks/form-phone-field/index.js
  src/blocks/form-phone-field/save.js
  src/blocks/form-phone-field/view.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-select-field/editor.scss
  src/blocks/form-select-field/index.js
  src/blocks/form-select-field/save.js
  src/blocks/map/edit.js
  src/blocks/map/handlers/DSGMap.js
Labels: blocks, php, javascript, styles

fix: Make Deactivate the primary action in deactivation modal
  includes/admin/class-block-migrator.php
Labels: php

fix: Address PR review findings for geocoding and phone field
  src/blocks/form-phone-field/save.js
  src/blocks/map/handlers/DSGMap.js
Labels: blocks, javascript

fix: Resolve form block kses validation and add map geocoding (#285)
  includes/admin/class-block-migrator.php
  includes/class-plugin.php
  src/blocks/form-phone-field/country-codes.js
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-phone-field/edit.js
  src/blocks/form-phone-field/index.js
  src/blocks/form-phone-field/save.js
  src/blocks/form-phone-field/view.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-select-field/editor.scss
  src/blocks/form-select-field/index.js
  src/blocks/form-select-field/save.js
  src/blocks/map/edit.js
  src/blocks/map/handlers/DSGMap.js
Labels: blocks, php, javascript, styles

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Labels: documentation

chore: Release version 2.0.33
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

chore: Release version 2.0.34
  designsetgo.php
  package.json
  readme.txt
  src/blocks/form-builder/deprecated.js
  src/blocks/form-email-field/deprecated.js
  src/blocks/form-email-field/index.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-text-field/deprecated.js
  src/blocks/form-text-field/index.js
  src/blocks/form-textarea-field/deprecated.js
  src/blocks/map/utils/geocoding.js
Labels: blocks, configuration, php, javascript, needs-review

feat: scaffold product categories grid block
  includes/class-plugin.php
  src/blocks/product-categories-grid/block.json
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/editor.scss
  src/blocks/product-categories-grid/index.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/save.js
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

feat: add render.php, frontend styles, and GridPreview component
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

fix: resolve SCSS lint issues in product categories grid
  src/blocks/product-categories-grid/style.scss
Labels: blocks, styles

feat: implement edit.js with all-categories mode and CategoryPicker
  src/blocks/product-categories-grid/components/CategoryPicker.js
  src/blocks/product-categories-grid/edit.js
Labels: blocks, javascript

feat: add CategoryList, manual mode wiring, and editor styles
  src/blocks/product-categories-grid/components/CategoryList.js
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/editor.scss
Labels: blocks, javascript, styles

fix: category exclusion bug, image sizing, and overlay card redesign
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

fix: image specificity on WooCommerce archives and default wide alignment
  src/blocks/product-categories-grid/block.json
  src/blocks/product-categories-grid/style.scss
Labels: blocks, styles

Revert "Merge pull request #287 from jnealey-godaddy/claude/product-categories-grid"
  includes/class-plugin.php
  src/blocks/product-categories-grid/block.json
  src/blocks/product-categories-grid/components/CategoryList.js
  src/blocks/product-categories-grid/components/CategoryPicker.js
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/editor.scss
  src/blocks/product-categories-grid/index.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/save.js
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

Reapply "Merge pull request #287 from jnealey-godaddy/claude/product-categories-grid"
  includes/class-plugin.php
  src/blocks/product-categories-grid/block.json
  src/blocks/product-categories-grid/components/CategoryList.js
  src/blocks/product-categories-grid/components/CategoryPicker.js
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/editor.scss
  src/blocks/product-categories-grid/index.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/save.js
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

fix: nest show_in_rest and annotations inside meta for WP 6.9 Abilities API
  includes/abilities/class-abstract-ability.php
Labels: php

docs: update skill docs and docblock to reflect WP 6.9 meta nesting
  .claude/skills/wp-abilities-api/SKILL.md
  .claude/skills/wp-abilities-api/references/php-registration.md
  includes/abilities/class-abstract-ability.php
Labels: documentation, php

fix: address PR review feedback for Product Categories Grid block
  src/blocks/product-categories-grid/components/CategoryPicker.js
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/hooks/useProductCategories.js
  src/blocks/product-categories-grid/style.scss
Labels: blocks, javascript, styles

feat: add text position control and sidebar spacing to Product Categories Grid
  src/blocks/product-categories-grid/block.json
  src/blocks/product-categories-grid/components/GridPreview.js
  src/blocks/product-categories-grid/edit.js
  src/blocks/product-categories-grid/render.php
  src/blocks/product-categories-grid/style.scss
Labels: blocks, php, javascript, styles

fix: WP 7.0 console warnings — unstable useSelect refs, block validation, password fields
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/breadcrumbs/hooks/useBreadcrumbData.js
  src/blocks/modal-trigger/edit.js
  src/blocks/scroll-marquee/deprecated.js
  src/blocks/scroll-marquee/index.js
Labels: blocks, javascript

fix: scroll-marquee block validation by adding items schema and HTML-based deprecation
  src/blocks/scroll-marquee/block.json
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript

fix: add isEligible+migrate to all block deprecations for silent auto-migration
  .claude/claude.md
  src/blocks/blobs/deprecated.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/divider/deprecated.js
  src/blocks/form-builder/deprecated.js
  src/blocks/form-email-field/deprecated.js
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-text-field/deprecated.js
  src/blocks/form-textarea-field/deprecated.js
  src/blocks/grid/deprecated.js
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-list-item/deprecated.js
  src/blocks/map/deprecated.js
  src/blocks/modal-trigger/deprecated.js
  src/blocks/row/deprecated.js
  src/blocks/section/deprecated.js
  src/blocks/slide/deprecated.js
Labels: blocks, documentation, javascript

fix: narrow overlapping isEligible conditions in deprecations
  .claude/claude.md
  src/blocks/blobs/deprecated.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/icon-button/deprecated.js
  src/blocks/row/deprecated.js
Labels: blocks, documentation, javascript

fix: address PR review comments — scrollSpeed zero guard and autoComplete consistency
  src/admin/components/settings-panels/IntegrationsPanel.js
  src/blocks/scroll-marquee/deprecated.js
Labels: blocks, javascript
