Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

fix: Address PR review feedback for Fifty Fifty block
  src/blocks/card/edit.js
  src/blocks/card/save.js
  src/blocks/fifty-fifty/edit.js
  src/blocks/fifty-fifty/save.js
  src/blocks/fifty-fifty/style.scss
  src/utils/is-valid-image-url.js
Labels: blocks, javascript, styles

Add inline button layout styles for form builder (#254)
  src/blocks/form-builder/style.scss
Labels: blocks, styles

Fix slider layout issues in flex/grid containers (#255)
  src/blocks/slider/editor.scss
  src/blocks/slider/style.scss
Labels: blocks, styles

Fix icon list horizontal layout stacking on tablet (#258)
  src/blocks/icon-list/editor.scss
  src/blocks/icon-list/style.scss
Labels: blocks, block: icon-list, styles

fix: Address PR review feedback for parallax rotation
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/extension-configs/vertical-parallax.php
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, php, javascript

Add scroll-driven rotation support to parallax extension (#259)
  includes/abilities/configurators/class-apply-scroll-parallax.php
  includes/extension-configs/vertical-parallax.php
  src/extensions/vertical-scroll-parallax/attributes.js
  src/extensions/vertical-scroll-parallax/components/ParallaxPanel.js
  src/extensions/vertical-scroll-parallax/constants.js
  src/extensions/vertical-scroll-parallax/editor.js
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, php, javascript

fix: Use .dsgo-has-max-width class for no-width-constraint exclusions and default row to nowrap
  src/blocks/grid/style.scss
  src/blocks/row/block.json
  src/blocks/row/style.scss
  src/blocks/section/style.scss
  src/styles/_utilities.scss
Labels: blocks, styles

Revert "Update package-lock.json"
  package-lock.json
Labels: configuration

feat: Add deprecation transforms to core blocks for section, row, grid, and icon-button
  src/blocks/grid/transforms.js
  src/blocks/icon-button/index.js
  src/blocks/icon-button/transforms.js
  src/blocks/row/transforms.js
  src/blocks/section/transforms.js
Labels: blocks, javascript

fix: Address PR review comments on deprecation transforms
  src/blocks/grid/transforms.js
  src/blocks/icon-button/transforms.js
  src/blocks/row/transforms.js
  src/blocks/section/transforms.js
Labels: blocks, javascript

Remove unused attributes check in max-width HOC (#262)
  src/extensions/max-width/index.js
Labels: extensions, javascript

fix: Respect explicit max-width inside no-width-constraint flex containers (#260)
  src/blocks/grid/style.scss
  src/blocks/row/block.json
  src/blocks/row/style.scss
  src/blocks/section/style.scss
  src/styles/_utilities.scss
Labels: blocks, styles

Add Hideout, Brick Wall, and Wiggle SVG background patterns
  includes/svg-pattern-data.php
  src/extensions/svg-patterns/pattern-data.js
Labels: extensions, php, javascript

feat: Add deactivation block migrator modal
  docs/plans/2026-02-15-deactivation-block-migrator-design.md
  includes/admin/class-block-migrator.php
  includes/class-plugin.php
Labels: documentation, php

Add Fifty Fifty block for 50/50 split layouts with edge-to-edge media (#257)
  src/blocks/card/edit.js
  src/blocks/card/save.js
  src/blocks/fifty-fifty/block.json
  src/blocks/fifty-fifty/edit.js
  src/blocks/fifty-fifty/editor.scss
  src/blocks/fifty-fifty/index.js
  src/blocks/fifty-fifty/save.js
  src/blocks/fifty-fifty/style.scss
  src/utils/is-valid-image-url.js
Labels: blocks, javascript, styles

fix: Address PR review feedback on block migrator
  includes/admin/class-block-migrator.php
Labels: php

docs: Add Fifty Fifty block documentation to CHANGELOG, README, readme.txt, and Blocks Reference
  CHANGELOG.md
  README.md
  readme.txt
  wiki-content/Blocks-Reference.md
Labels: documentation

feat: Add batch processing and focus trap to block migrator
  includes/admin/class-block-migrator.php
Labels: php

fix: Address code review feedback on batch processing
  includes/admin/class-block-migrator.php
Labels: php

Add block transforms to core blocks for plugin deactivation (#256)
  docs/plans/2026-02-15-deactivation-block-migrator-design.md
  includes/admin/class-block-migrator.php
  includes/class-plugin.php
  src/blocks/grid/transforms.js
  src/blocks/icon-button/index.js
  src/blocks/icon-button/transforms.js
  src/blocks/row/transforms.js
  src/blocks/section/transforms.js
Labels: blocks, documentation, php, javascript

docs: Add Fifty Fifty block documentation to CHANGELOG, README, readme.txt, and Blocks Reference (#264)
  CHANGELOG.md
  README.md
  readme.txt
  wiki-content/Blocks-Reference.md
Labels: documentation

Fix button alignment override: treat core/buttons as block-level element
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix: Use WP shorthand format for spacing defaults in block.json files
  src/blocks/fifty-fifty/block.json
  src/blocks/grid/block.json
  src/blocks/row/block.json
  src/blocks/section/block.json
Labels: blocks

Address PR review: handle buttons block in constrained sections and restore :has() alignment
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Fix form inline button alignment in editor and remove messages placeholder
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/style.scss
Labels: blocks, javascript, styles

fix: Remove default padding on sections nested inside sections
  src/blocks/section/edit.js
Labels: blocks, javascript

fix: Use WP shorthand format for spacing defaults in block.json files (#267)
  src/blocks/fifty-fifty/block.json
  src/blocks/grid/block.json
  src/blocks/row/block.json
  src/blocks/section/block.json
Labels: blocks

Fix form inline button alignment in editor and remove messages placeholder (#268)
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/editor.scss
  src/blocks/form-builder/style.scss
Labels: blocks, javascript, styles

Reclassify wp-block-buttons as block-level layout container (#266)
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Add Hideout, Brick Wall, and Wiggle SVG background patterns (#265)
  includes/svg-pattern-data.php
  src/extensions/svg-patterns/pattern-data.js
Labels: extensions, php, javascript

fix: Replace JSON.stringify comparison with direct property checks
  src/blocks/section/edit.js
Labels: blocks, javascript

fix: Remove default padding on nested sections (#269)
  src/blocks/section/edit.js
Labels: blocks, javascript

chore: Release version 2.0.27
  designsetgo.php
  package.json
  readme.txt
Labels: configuration, php, needs-review

Fix icon-button stretching to full height inside fifty-fifty block
  src/blocks/icon-button/editor.scss
Labels: blocks, styles

Sync package-lock.json version with package.json
  package-lock.json
Labels: configuration

fix: Declare $block_migrator property to resolve PHP 8.2 deprecation
  includes/class-plugin.php
Labels: php

Fix icon button height in fifty-fifty layout context (#270)
  package-lock.json
  src/blocks/icon-button/editor.scss
Labels: blocks, configuration, styles

feat: Enable Claude bot to approve/request-changes on PRs
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

fix: Restrict review approvals to authorized users only
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

feat: Enable Claude bot to approve/request-changes on PRs (#271)
  .github/workflows/claude.yml
Labels: ci/cd
