Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

Add query loop integration analysis for DesignSetGo blocks
  QUERY_LOOP_INTEGRATION.md
Labels: documentation

Fix strict mode violation in insertBlock helper
  tests/e2e/helpers/wordpress.js
Labels: javascript

refactor: Extract security module from Form_Handler, form field generators from Block_Inserter, and remove duplicate form-textarea block
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-block-inserter.php
  includes/abilities/class-form-field-html-generator.php
  includes/abilities/configurators/class-configure-form-textarea.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-security.php
  includes/class-plugin.php
  src/blocks/form-textarea/block.json
  src/blocks/form-textarea/edit.js
  src/blocks/form-textarea/editor.scss
  src/blocks/form-textarea/index.js
  src/blocks/form-textarea/save.js
  src/blocks/form-textarea/style.scss
Labels: blocks, php, javascript, styles

fix: Invalidate Settings cache in llms-txt tests to prevent stale state
  tests/phpunit/llms-txt-test.php
Labels: php

fix: Address PR #203 review feedback — data loss, validation, i18n
  includes/admin/blocks-registry-i18n.php
  includes/admin/class-settings.php
  includes/blocks/class-loader.php
Labels: php

Address PR #202 review feedback
  src/admin/index.js
  src/extensions/background-video/edit.js
  src/extensions/clickable-group/edit.js
  src/extensions/custom-css/edit.js
  src/formats/text-style/index.js
Labels: extensions, javascript

Refactor CI/CD: Separate build and PHP testing into distinct jobs (#203)
  .github/workflows/ci.yml
  docs/api/REST-API-REFERENCE.md
  includes/admin/blocks-registry-i18n.php
  includes/admin/blocks-registry.json
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/blocks/class-loader.php
  package.json
  src/blocks/divider/deprecated.js
  src/blocks/divider/edit.js
  src/blocks/shared/icon-utils.js
Labels: blocks, documentation, configuration, php, javascript, ci/cd

Fix Dependabot alerts #14 and #15: update webpack and diff overrides
  package-lock.json
  package.json
Labels: configuration

fix: Address PR #204 review feedback and fix test failures
  includes/blocks/class-form-security.php
  tests/phpunit/form-handler-test.php
  tests/phpunit/llms-txt-test.php
Labels: php

Add Post Slider (query-slider) dynamic block
  src/blocks/query-slider/block.json
  src/blocks/query-slider/edit.js
  src/blocks/query-slider/editor.scss
  src/blocks/query-slider/index.js
  src/blocks/query-slider/render.php
  src/blocks/query-slider/style.scss
  src/blocks/query-slider/view.js
Labels: blocks, php, javascript, styles

Fix lint and formatting issues in query-slider block
  src/blocks/query-slider/edit.js
  src/blocks/query-slider/editor.scss
  src/blocks/query-slider/style.scss
Labels: blocks, javascript, styles

Guard inserter toggle open with aria-pressed check
  tests/e2e/helpers/wordpress.js
Labels: javascript

fix: Sync package-lock.json with @wordpress/components ^32.0.0 bump
  package-lock.json
  src/utils/convert-preset-to-css-var.js
Labels: configuration, javascript

Fix block inserter selector to avoid strict-mode violations (#205)
  tests/e2e/helpers/wordpress.js
Labels: javascript

fix: Address Copilot review feedback for a11y, i18n, and defensive coding
  includes/abilities/class-form-field-html-generator.php
  includes/blocks/class-loader.php
  tests/unit/utils.test.js
Labels: php, javascript

Align webpack override with installed version per review feedback
  package.json
Labels: configuration

Update dependencies: webpack, browserslist, and related packages (#206)
  package-lock.json
  package.json
Labels: configuration

refactor: Tech debt sprint 2 — decompose God objects, remove duplicates (#204)
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-block-inserter.php
  includes/abilities/class-form-field-html-generator.php
  includes/abilities/configurators/class-configure-form-textarea.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-form-security.php
  includes/blocks/class-loader.php
  includes/class-plugin.php
  src/blocks/form-textarea/block.json
  src/blocks/form-textarea/edit.js
  src/blocks/form-textarea/editor.scss
  src/blocks/form-textarea/index.js
  src/blocks/form-textarea/save.js
  src/blocks/form-textarea/style.scss
  tests/phpunit/form-handler-test.php
  tests/phpunit/llms-txt-test.php
  tests/unit/utils.test.js
Labels: blocks, php, javascript, styles

Implement code splitting with lazy loading for extensions and admin (#202)
  src/admin/index.js
  src/blocks/flip-card/block.json
  src/blocks/flip-card/view.js
  src/extensions/background-video/edit.js
  src/extensions/background-video/index.js
  src/extensions/block-animations/editor.js
  src/extensions/clickable-group/edit.js
  src/extensions/clickable-group/index.js
  src/extensions/custom-css/edit.js
  src/extensions/custom-css/index.js
  src/extensions/draft-mode/index.js
  src/extensions/expanding-background/index.js
  src/extensions/max-width/edit.js
  src/extensions/max-width/index.js
  src/extensions/responsive/edit.js
  src/extensions/responsive/index.js
  src/extensions/sticky-header-controls/edit.js
  src/extensions/sticky-header-controls/index.js
  src/formats/text-style/index.js
  src/frontend.js
  webpack.config.js
Labels: blocks, extensions, configuration, javascript

Address code review findings for query-slider block
  src/blocks/query-slider/block.json
  src/blocks/query-slider/edit.js
  src/blocks/query-slider/render.php
Labels: blocks, php, javascript

Fix pill blocks stretching to fill Row/flex containers
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, styles

fix: Remove min-height and reduce min-width on icon block in editor
  src/blocks/icon/editor.scss
Labels: blocks, block: icon, styles

fix: Fix background-image not rendering on frontend for patterns with URL query params
  patterns/content/content-image-overlay.php
  patterns/testimonials/testimonials-video.php
Labels: php

Improve comments to reflect both flex and grid container contexts
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, styles

Fix pill block stretching in flex/grid containers (#209)
  src/blocks/pill/editor.scss
  src/blocks/pill/style.scss
Labels: blocks, styles

Streamline CI workflow: build once, test smarter
  .github/workflows/ci.yml
Labels: ci/cd

Streamline CI workflow: build once, test smarter (#210)
  .github/workflows/ci.yml
Labels: ci/cd

docs: Update 1.5.0 changelog with missing items from recent PRs
  CHANGELOG.md
  readme.txt
Labels: documentation

chore: Bump version to 1.5.0 and fix deploy prep
  .claude/skills/deploy/SKILL.md
  designsetgo.php
  package.json
  readme.txt
  tests/unit/extensions.test.js
Labels: documentation, configuration, php, javascript, needs-review

style: Clean up formatting and remove tech debt report
  TECHNICAL-DEBT-REPORT.md
  includes/admin/css/draft-mode-preview-banner.css
  src/blocks/timeline/style.scss
  src/extensions/max-width/edit.js
  src/extensions/responsive/edit.js
  src/extensions/sticky-header-controls/edit.js
Labels: blocks, extensions, documentation, javascript, styles

Replace icon button URL text input with LinkControl for page search
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
Labels: blocks, javascript

chore: Sync package-lock.json version to 1.5.0
  package-lock.json
Labels: configuration

feat: Add Advanced Heading block with multi-font segments
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/editor.scss
  src/blocks/advanced-heading/index.js
  src/blocks/advanced-heading/save.js
  src/blocks/advanced-heading/style.scss
  src/blocks/heading-segment/block.json
  src/blocks/heading-segment/edit.js
  src/blocks/heading-segment/editor.scss
  src/blocks/heading-segment/index.js
  src/blocks/heading-segment/save.js
  src/blocks/heading-segment/style.scss
Labels: blocks, javascript, styles

chore: Update package-lock.json
  package-lock.json
Labels: configuration

fix: Scope sticky nav scroll colors to navigation elements only
  src/styles/utilities/_sticky-header.scss
Labels: styles

fix: Preserve custom rel values when toggling open in new tab
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
Labels: blocks, javascript

fix: Address PR review feedback for Advanced Heading block
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/editor.scss
  src/blocks/advanced-heading/save.js
  src/blocks/heading-segment/block.json
  src/blocks/heading-segment/index.js
  src/blocks/heading-segment/save.js
Labels: blocks, javascript, styles

Add Advanced Heading block with multi-segment typography support (#212)
  package-lock.json
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/editor.scss
  src/blocks/advanced-heading/index.js
  src/blocks/advanced-heading/save.js
  src/blocks/advanced-heading/style.scss
  src/blocks/heading-segment/block.json
  src/blocks/heading-segment/edit.js
  src/blocks/heading-segment/editor.scss
  src/blocks/heading-segment/index.js
  src/blocks/heading-segment/save.js
  src/blocks/heading-segment/style.scss
Labels: blocks, configuration, javascript, styles

fix: Update pattern loader tests to include services category
  tests/phpunit/patterns-loader-test.php
Labels: php

fix: Add full pseudo-class coverage and .wp-block-navigation a fallback
  src/styles/utilities/_sticky-header.scss
Labels: styles
