Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

Fix map to show fallback location when address geocoding fails
  src/blocks/map/handlers/DSGMap.js
Labels: blocks, javascript

fix: remove extra blank line before class closing brace
  includes/abilities/class-abstract-ability.php
Labels: php

fix: validate redirect URL protocol to prevent XSS
  src/blocks/form-builder/view.js
Labels: blocks, javascript

Add console.warn on geocode failure and extract fallback coordinates to constants
  src/blocks/map/handlers/DSGMap.js
Labels: blocks, javascript

fix: address PR review — prefix map and per-post capability checks
  includes/abilities/configurators/class-update-block.php
  includes/abilities/info/class-list-abilities.php
  includes/abilities/inserters/class-add-block.php
  includes/abilities/inserters/class-add-child-block.php
Labels: php

fix: prevent button flicker on redirect, disable field when AJAX off
  src/blocks/form-builder/edit.js
  src/blocks/form-builder/view.js
Labels: blocks, javascript

fix: compact phone country code dropdown, fix abilities test imports
  src/blocks/form-phone-field/country-codes.js
  src/blocks/form-phone-field/edit.js
  src/blocks/form-phone-field/view.js
  tests/phpunit/abilities-security-test.php
  tests/phpunit/abilities-smoke-test.php
  tests/phpunit/abilities-test.php
Labels: blocks, php, javascript

chore: Release version 2.0.36
  designsetgo.php
  includes/admin/class-draft-mode.php
  includes/class-custom-css-renderer.php
  includes/llms-txt/class-rest-controller.php
  includes/patterns/class-loader.php
  package.json
  readme.txt
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/save.js
Labels: blocks, configuration, php, javascript, needs-review

fix: add supports to block deprecations for silent migration
  src/blocks/blobs/deprecated.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/divider/deprecated.js
  src/blocks/form-email-field/deprecated.js
  src/blocks/form-phone-field/deprecated.js
  src/blocks/form-select-field/deprecated.js
  src/blocks/form-text-field/deprecated.js
  src/blocks/form-textarea-field/deprecated.js
  src/blocks/grid/deprecated.js
  src/blocks/icon-button/deprecated.js
  src/blocks/icon-list-item/deprecated.js
  src/blocks/icon/deprecated.js
  src/blocks/map/deprecated.js
  src/blocks/modal-trigger/deprecated.js
  src/blocks/row/deprecated.js
  src/blocks/section/deprecated.js
  src/blocks/slide/deprecated.js
  src/blocks/tab/deprecated.js
Labels: blocks, block: icon, javascript

chore: remove visual revision comparison in favor of WP 7.0 native support
  CHANGELOG.md
  includes/admin/class-block-differ.php
  includes/admin/class-revision-comparison.php
  includes/admin/class-revision-renderer.php
  includes/admin/class-revision-rest-api.php
  includes/admin/class-settings.php
  includes/admin/views/revision-comparison-page.php
  includes/admin/views/revision-tabs-script.php
  includes/class-plugin.php
  src/admin/revisions/_actions.scss
  src/admin/revisions/_diff.scss
  src/admin/revisions/_preview.scss
  src/admin/revisions/_slider.scss
  src/admin/revisions/_variables.scss
  src/admin/revisions/components/DiffSummary.js
  src/admin/revisions/components/RevisionComparison.js
  src/admin/revisions/components/RevisionMeta.js
  src/admin/revisions/components/RevisionPreview.js
  src/admin/revisions/components/RevisionSlider.js
  src/admin/revisions/index.js
  src/admin/revisions/style.scss
  webpack.config.js
Labels: documentation, configuration, php, javascript, styles

fix: use json_decode in pattern cache test, clarify v1 align comment
  src/blocks/section/deprecated.js
  tests/phpunit/patterns-loader-test.php
Labels: blocks, php, javascript

docs: update changelog with revision removal and deprecation fix
  readme.txt
Labels: none

fix: add empty permissions to setup-wp-matrix CI job
  .github/workflows/ci.yml
Labels: ci/cd

feat: scaffold scroll-slide child block with navHeading attribute
  src/blocks/scroll-slide/block.json
  src/blocks/scroll-slide/edit.js
  src/blocks/scroll-slide/editor.scss
  src/blocks/scroll-slide/index.js
  src/blocks/scroll-slide/save.js
  src/blocks/scroll-slide/style.scss
Labels: blocks, javascript, styles

feat: scaffold scroll-slides parent block with nav preview and inner blocks
  src/blocks/scroll-slides/block.json
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/editor.scss
  src/blocks/scroll-slides/index.js
  src/blocks/scroll-slides/save.js
  src/blocks/scroll-slides/style.scss
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript, styles

style: add frontend CSS for scroll-slides pinned layout and slide transitions
  src/blocks/scroll-slide/style.scss
  src/blocks/scroll-slides/style.scss
Labels: blocks, styles

feat: implement scroll-pinned slideshow engine with crossfade transitions
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript

fix: resolve 4 issues found during testing
  src/blocks/scroll-slide/style.scss
  src/blocks/scroll-slides/block.json
  src/blocks/scroll-slides/style.scss
Labels: blocks, styles

fix: nav click scrolls to center of slide range to avoid boundary issues
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript

feat: rework editor to match frontend layout with editable nav headings
  src/blocks/scroll-slide/editor.scss
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/editor.scss
Labels: blocks, javascript, styles

Fix shape divider sub-pixel coverage gaps at certain zoom levels
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

Update package-lock.json from npm install
  package-lock.json
Labels: configuration

feat: add template chooser, block registration, and editor refinements
  includes/admin/blocks-registry-i18n.php
  includes/admin/blocks-registry.json
  includes/blocks/class-loader.php
  src/blocks/scroll-slide/block.json
  src/blocks/scroll-slide/edit.js
  src/blocks/scroll-slide/style.scss
  src/blocks/scroll-slides/block.json
  src/blocks/scroll-slides/components/ScrollSlidesPlaceholder.js
  src/blocks/scroll-slides/components/scroll-slides-placeholder.scss
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/editor.scss
  src/blocks/scroll-slides/save.js
  src/blocks/scroll-slides/style.scss
  src/blocks/scroll-slides/templates.js
  src/blocks/scroll-slides/view.js
  src/blocks/shared/constants.js
  src/styles/style.scss
Labels: blocks, php, javascript, styles

feat: add scroll-driven horizontal mode to slider block
  src/blocks/slider/block.json
  src/blocks/slider/edit.js
  src/blocks/slider/save.js
  src/blocks/slider/style.scss
  src/blocks/slider/view.js
Labels: blocks, javascript, styles

fix: address PR review feedback for scroll-slides block
  src/blocks/scroll-slides/components/scroll-slides-placeholder.scss
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/editor.scss
  src/blocks/scroll-slides/save.js
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript, styles

fix: nav input onFocus now selects child block for all slides
  src/blocks/scroll-slides/edit.js
Labels: blocks, javascript

Fix stale comment on $shape-divider-bleed variable
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
Labels: blocks, styles

fix: address code review feedback for scroll-slides block
  src/blocks/scroll-slide/index.js
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/index.js
  src/blocks/scroll-slides/view.js
  src/blocks/shared/constants.js
Labels: blocks, javascript

fix: address PR #306 review comments for scroll-slides block
  src/blocks/scroll-slides/components/scroll-slides-placeholder.scss
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/editor.scss
  src/blocks/scroll-slides/templates.js
Labels: blocks, javascript, styles

feat: add tap-to-navigate mode for mobile viewports
  src/blocks/scroll-slide/style.scss
  src/blocks/scroll-slides/style.scss
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript, styles

fix: mobile layout for scroll-slides frontend and editor
  src/blocks/scroll-slides/editor.scss
  src/blocks/scroll-slides/style.scss
Labels: blocks, styles

fix: address outstanding review comments for slider and scroll-slides blocks
  src/blocks/scroll-slides/view.js
  src/blocks/slider/edit.js
  src/blocks/slider/style.scss
  src/blocks/slider/view.js
Labels: blocks, javascript, styles

fix: reduce mobile gap between nav and slide content
  src/blocks/scroll-slides/style.scss
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript, styles

chore: update package-lock.json after npm install
  package-lock.json
Labels: configuration

refactor: split scroll-slides edit.js and view.js to meet 300-line limit
  src/blocks/scroll-slides/block.json
  src/blocks/scroll-slides/components/ScrollSlidesInspector.js
  src/blocks/scroll-slides/edit.js
  src/blocks/scroll-slides/frontend/scroll-engine.js
  src/blocks/scroll-slides/frontend/setup-dom.js
  src/blocks/scroll-slides/frontend/tap-engine.js
  src/blocks/scroll-slides/view.js
Labels: blocks, javascript

feat: center scroll-driven slider vertically in viewport
  src/blocks/slider/index.js
  src/blocks/slider/view.js
Labels: blocks, javascript

fix: inline stickyTop variable to satisfy lint rule
  src/blocks/slider/view.js
Labels: blocks, javascript

feat: add Sticky Sections block for card-stacking scroll effect
  src/blocks/sticky-sections/block.json
  src/blocks/sticky-sections/components/StickySectionsPlaceholder.js
  src/blocks/sticky-sections/components/sticky-sections-placeholder.scss
  src/blocks/sticky-sections/edit.js
  src/blocks/sticky-sections/editor.scss
  src/blocks/sticky-sections/index.js
  src/blocks/sticky-sections/save.js
  src/blocks/sticky-sections/style.scss
  src/blocks/sticky-sections/templates.js
  src/blocks/sticky-sections/view.js
Labels: blocks, javascript, styles

fix: restore accordion color control UX help text lost during migration
  src/blocks/accordion/edit.js
Labels: blocks, javascript

fix: address review feedback for sticky sections block
  src/blocks/sticky-sections/editor.scss
  src/blocks/sticky-sections/style.scss
  src/blocks/sticky-sections/view.js
Labels: blocks, javascript, styles
