Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

Replace TextControl with LinkControl in icon-button inspector (#211)
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  tests/phpunit/patterns-loader-test.php
Labels: blocks, php, javascript

Refine sticky header text color selectors to target navigation only (#213)
  src/styles/utilities/_sticky-header.scss
Labels: styles

feat: Add SVG background patterns extension for sections
  src/extensions/svg-patterns/attributes.js
  src/extensions/svg-patterns/components/SvgPatternsPanel.js
  src/extensions/svg-patterns/constants.js
  src/extensions/svg-patterns/editor.js
  src/extensions/svg-patterns/editor.scss
  src/extensions/svg-patterns/index.js
  src/extensions/svg-patterns/patterns.js
  src/extensions/svg-patterns/style.scss
  src/index.js
  src/style.scss
Labels: extensions, javascript, styles

chore: Update package-lock.json after npm install
  package-lock.json
Labels: configuration

Add full page design patterns for designsetgoblocks.com
  includes/patterns/class-loader.php
  patterns/pages/page-blocks.php
  patterns/pages/page-contribute.php
  patterns/pages/page-form-blocks.php
  patterns/pages/page-home.php
  patterns/pages/page-interactive-elements.php
  patterns/pages/page-layout-systems.php
  patterns/pages/page-visual-ui-blocks.php
Labels: php

fix: Harden SVG patterns extension (security + style fixes)
  src/extensions/svg-patterns/editor.js
  src/extensions/svg-patterns/editor.scss
  src/extensions/svg-patterns/patterns.js
  src/extensions/svg-patterns/style.scss
Labels: extensions, javascript, styles

Fix badge and overlay color controls not appearing in card block sidebar
  src/blocks/card/edit.js
Labels: blocks, javascript

Fix modal trigger padding when link style is active
  src/blocks/modal-trigger/style.scss
Labels: blocks, styles

feat: Add animations and live demos to full page patterns
  includes/patterns/class-loader.php
  patterns/pages/page-home.php
  patterns/pages/page-interactive-elements.php
  patterns/pages/page-visual-ui-blocks.php
  src/blocks/section/transforms.js
Labels: blocks, php, javascript

Fix badge and overlay color controls not appearing in card block sidebar (#215)
  src/blocks/card/edit.js
Labels: blocks, javascript

Fix modal trigger padding when link style is active (#216)
  src/blocks/modal-trigger/style.scss
Labels: blocks, styles

Move icon-button link controls to inline toolbar
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
Labels: blocks, javascript

feat: Revamp SVG patterns with modern, design-forward collection
  src/extensions/svg-patterns/attributes.js
  src/extensions/svg-patterns/components/SvgPatternsPanel.js
  src/extensions/svg-patterns/constants.js
  src/extensions/svg-patterns/editor.js
  src/extensions/svg-patterns/editor.scss
  src/extensions/svg-patterns/patterns.js
  src/extensions/svg-patterns/style.scss
Labels: extensions, javascript, styles

Add 43 missing translatable strings to .pot and all .po files
  languages/designsetgo-de_DE.po
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.po
  languages/designsetgo-it_IT.po
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.po
  languages/designsetgo-pt_BR.po
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.po
  languages/designsetgo.pot
Labels: none

fix: Address code review feedback for SVG patterns extension
  src/extensions/svg-patterns/components/SvgPatternsPanel.js
  src/extensions/svg-patterns/editor.js
  src/extensions/svg-patterns/editor.scss
  src/extensions/svg-patterns/pattern-data.js
  src/extensions/svg-patterns/patterns.js
  src/extensions/svg-patterns/style.scss
  tests/unit/svg-patterns.test.js
Labels: extensions, javascript, styles

Add SVG Patterns extension for customizable background overlays (#214)
  src/extensions/svg-patterns/attributes.js
  src/extensions/svg-patterns/components/SvgPatternsPanel.js
  src/extensions/svg-patterns/constants.js
  src/extensions/svg-patterns/editor.js
  src/extensions/svg-patterns/editor.scss
  src/extensions/svg-patterns/index.js
  src/extensions/svg-patterns/pattern-data.js
  src/extensions/svg-patterns/patterns.js
  src/extensions/svg-patterns/style.scss
  src/index.js
  src/style.scss
  tests/unit/svg-patterns.test.js
Labels: extensions, javascript, styles

fix: Guard against undefined rel and remove dead code in icon-button link handler
  src/blocks/icon-button/edit.js
Labels: blocks, javascript

fix: Add files field to package.json so plugin-zip includes patterns directory
  package.json
Labels: configuration

chore: Add Claude Code skills for development workflows
  .claude/skills/brainstorming/SKILL.md
  .claude/skills/dispatching-parallel-agents/SKILL.md
  .claude/skills/executing-plans/SKILL.md
  .claude/skills/finishing-a-development-branch/SKILL.md
  .claude/skills/receiving-code-review/SKILL.md
  .claude/skills/requesting-code-review/SKILL.md
  .claude/skills/subagent-driven-development/SKILL.md
  .claude/skills/systematic-debugging/SKILL.md
  .claude/skills/test-driven-development/SKILL.md
  .claude/skills/using-git-worktrees/SKILL.md
  .claude/skills/using-superpowers/SKILL.md
  .claude/skills/verification-before-completion/SKILL.md
  .claude/skills/writing-plans/SKILL.md
  .claude/skills/writing-skills/SKILL.md
Labels: documentation

Move icon-button link to inline toolbar (#217)
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
Labels: blocks, javascript

docs: Update changelog and readme for v1.5.0 launch
  readme.txt
Labels: none

fix: Resolve ampersand corruption in draft publishing and enhance heading controls
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-draft-mode.php
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/heading-segment/block.json
  src/blocks/heading-segment/edit.js
Labels: blocks, php, javascript

Fix malformed PO headers: separate PO-Revision-Date from Plural-Forms
  languages/designsetgo-de_DE.po
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.po
  languages/designsetgo-it_IT.po
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.po
  languages/designsetgo-pt_BR.po
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.po
Labels: none

Add v1.5.0 translation strings for new blocks and features (#218)
  languages/designsetgo-de_DE.po
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.po
  languages/designsetgo-it_IT.po
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.po
  languages/designsetgo-pt_BR.po
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.po
  languages/designsetgo.pot
Labels: none

perf: Optimize pattern loading with content caching and context filtering
  includes/patterns/class-loader.php
  patterns/faq/faq-accordion-animated.php
  tests/phpunit/patterns-loader-test.php
Labels: php

fix: Address PR review — namespaced block regex, safer placeholders, i18n
  includes/admin/class-draft-mode-rest.php
  src/blocks/advanced-heading/edit.js
Labels: blocks, php, javascript

docs: Add missing v1.5.0 entries for Advanced Heading, SVG Patterns, and recent fixes
  CHANGELOG.md
  readme.txt
Labels: documentation

fix: Resolve PHPUnit and E2E test failures
  includes/admin/class-draft-mode-rest.php
  includes/patterns/class-loader.php
  tests/e2e/group-enhancements.spec.js
  tests/phpunit/patterns-loader-test.php
Labels: php, javascript

Fix draft ampersand corruption & enhance heading controls (#219)
  includes/admin/class-draft-mode-rest.php
  includes/admin/class-draft-mode.php
  src/blocks/advanced-heading/block.json
  src/blocks/advanced-heading/edit.js
  src/blocks/heading-segment/block.json
  src/blocks/heading-segment/edit.js
Labels: blocks, php, javascript

chore: Release version 2.0.0
  CHANGELOG.md
  designsetgo.php
  docs/api/DRAFT-MODE-API.md
  includes/admin/blocks-registry-i18n.php
  includes/admin/class-draft-mode-preview.php
  includes/admin/css/draft-mode-preview-banner.css
  includes/admin/js/draft-mode-preview-banner.js
  package-lock.json
  package.json
  readme.txt
  src/blocks/advanced-heading/edit.js
  src/blocks/advanced-heading/index.js
  src/blocks/advanced-heading/save.js
  src/blocks/heading-segment/edit.js
  src/blocks/heading-segment/index.js
  src/blocks/heading-segment/save.js
  src/blocks/shared/icon-utils.js
Labels: blocks, documentation, configuration, php, javascript, styles, needs-review

docs: Update block and extension counts for v2.0.0
  designsetgo.php
  readme.txt
Labels: php, needs-review

fix: Fix scroll parallax on section blocks and down direction stacking
  includes/class-plugin.php
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, php, javascript

fix: Add input validation for parallax attribute injection
  includes/class-plugin.php
Labels: php

Fix parallax effect feedback loop and add server-side attribute injection (#220)
  includes/class-plugin.php
  src/extensions/vertical-scroll-parallax/frontend.js
Labels: extensions, php, javascript

Stop overwriting theme spacing presets with hardcoded rem values
  includes/admin/class-global-styles.php
Labels: php

feat: Add GitHub Action to auto-sync docs/ to wiki
  .github/scripts/sync-wiki.mjs
  .github/workflows/sync-wiki.yml
Labels: ci/cd

fix: Inherit theme block spacing instead of overriding with DSG defaults
  includes/admin/class-global-styles.php
Labels: php

Respect theme spacing presets instead of always overriding (#221)
  includes/admin/class-global-styles.php
Labels: php

fix: Always sanitize REST content and fix pattern cache test
  includes/admin/class-draft-mode-rest.php
  includes/patterns/class-loader.php
  tests/phpunit/patterns-loader-test.php
Labels: php

docs: Update Abilities API documentation for 110 abilities (v2.1.0)
  README.md
  docs/api/ABILITIES-API-GUIDE.md
  docs/api/ABILITIES-API.md
Labels: documentation
