Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'

docs: Add comprehensive block development documentation
  .claude/claude.md
  README.md
  designsetgo.php
  docs/BEST-PRACTICES-SUMMARY.md
  docs/BLOCK-CONTROLS-ORGANIZATION.md
  docs/BLOCK-SUPPORTS-AUDIT.md
  docs/BLOCK-TEMPLATE-EDIT.js
  docs/COLOR-CONTROLS-PATTERN.md
  docs/COUNTDOWN-TIMER-BEFORE-AFTER.md
  docs/COUNTDOWN-TIMER-CORRECTION.md
  docs/COUNTDOWN-TIMER-REFACTORING-SUMMARY.md
  docs/COUNTDOWN-TIMER-UX-IMPROVEMENTS.md
  docs/README.md
  package.json
  readme.txt
Labels: documentation, configuration, php, javascript, needs-review

style: Apply PHP code standards improvements
  includes/abilities/class-abilities-registry.php
  includes/abilities/class-abstract-ability.php
  includes/abilities/class-block-configurator.php
  includes/abilities/class-block-inserter.php
  includes/abilities/configurators/class-apply-animation.php
  includes/abilities/configurators/class-configure-counter-animation.php
  includes/abilities/generators/class-generate-faq-section.php
  includes/abilities/generators/class-generate-feature-grid.php
  includes/abilities/generators/class-generate-hero-section.php
  includes/abilities/generators/class-generate-stats-section.php
  includes/abilities/info/class-list-blocks.php
  includes/abilities/inserters/class-insert-accordion.php
  includes/abilities/inserters/class-insert-counter-group.php
  includes/abilities/inserters/class-insert-flex-container.php
  includes/abilities/inserters/class-insert-flip-card.php
  includes/abilities/inserters/class-insert-grid-container.php
  includes/abilities/inserters/class-insert-icon-button.php
  includes/abilities/inserters/class-insert-icon-list-item.php
  includes/abilities/inserters/class-insert-icon-list.php
  includes/abilities/inserters/class-insert-icon.php
  includes/abilities/inserters/class-insert-progress-bar.php
  includes/abilities/inserters/class-insert-reveal.php
  includes/abilities/inserters/class-insert-scroll-accordion.php
  includes/abilities/inserters/class-insert-scroll-marquee.php
  includes/abilities/inserters/class-insert-stack-container.php
  includes/abilities/inserters/class-insert-tabs.php
  includes/admin/class-block-manager.php
  includes/admin/class-global-styles.php
  includes/admin/class-settings.php
  includes/blocks/class-form-handler.php
  includes/blocks/class-loader.php
  includes/class-assets.php
Labels: php

feat: Improve block editor components and styling
  src/blocks/blobs/edit.js
  src/blocks/counter-group/editor.scss
  src/blocks/counter-group/index.js
  src/blocks/counter-group/style.scss
  src/blocks/counter/edit.js
  src/blocks/flex/edit.js
  src/blocks/form-builder/edit.js
  src/blocks/grid/edit.js
  src/blocks/icon-button/block.json
  src/blocks/icon-button/components/inspector/ButtonSettingsPanel.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-button/save.js
  src/blocks/icon-button/style.scss
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon-list/edit.js
  src/blocks/progress-bar/edit.js
  src/blocks/progress-bar/editor.scss
  src/blocks/progress-bar/style.scss
  src/blocks/scroll-marquee/editor.scss
  src/blocks/scroll-marquee/style.scss
  src/blocks/slide/style.scss
  src/blocks/slider/edit.js
  src/blocks/slider/editor.scss
  src/blocks/slider/style.scss
  src/blocks/stack/edit.js
  src/blocks/tabs/edit.js
Labels: blocks, block: counter, block: icon-list, javascript, styles

i18n: Update translations for all languages
  languages/FINAL-TRANSLATION-STATUS.md
  languages/TRANSLATION-COMPLETE-REPORT.md
  languages/TRANSLATION_STATUS_REPORT.md
  languages/TRANSLATION_SUMMARY.md
  languages/designsetgo-de_DE.mo
  languages/designsetgo-de_DE.po
  languages/designsetgo-es_ES.mo
  languages/designsetgo-es_ES.po
  languages/designsetgo-fr_FR.mo
  languages/designsetgo-fr_FR.po
  languages/designsetgo-it_IT.mo
  languages/designsetgo-it_IT.po
  languages/designsetgo-ja.mo
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.mo
  languages/designsetgo-nl_NL_UPDATED.po
  languages/designsetgo-nl_NL_partial.po
  languages/designsetgo-pt_BR.mo
  languages/designsetgo-pt_BR.po
  languages/designsetgo-ru_RU.mo
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.mo
  languages/designsetgo-zh_CN.po
  languages/designsetgo.pot
Labels: documentation

chore: Organize repository structure and clean up docs
  .gitignore
  docs/DESIGN-SYSTEM-TT5.md
  docs/HOW-TO-USE.md
  docs/SECURITY-REVIEW.md
  docs/archive/CONTAINER-BLOCK-SPLIT-PLAN.md
  docs/archive/COUNTER-STATS-BLOCK-IMPLEMENTATION-PLAN.md
  docs/archive/DEV-PHASE-1.md
  docs/archive/DEVELOPMENT-STATUS.md
  docs/archive/FIXED-AND-WORKING.md
  docs/archive/NEXT-BLOCKS.md
  docs/archive/PLAN.md
  docs/archive/PRD.md
  docs/archive/SUBMISSION-PROGRESS.md
  docs/archive/SUBMISSION-STATUS.md
  docs/archive/SUBMISSION-TODO.md
Labels: documentation

feat: Add BorderControl to Countdown Timer unit borders
  src/blocks/countdown-timer/block.json
  src/blocks/countdown-timer/components/inspector/UnitBorderPanel.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/countdown-timer/edit.js
  src/blocks/countdown-timer/save.js
Labels: blocks, javascript

feat: Implement comprehensive WCAG 2.1 AA accessibility improvements
  docs/ACCESSIBILITY-AUDIT-REPORT.md
  docs/ACCESSIBILITY-COLOR-CONTRAST-GUIDE.md
  docs/ACCESSIBILITY-COMPLETE-IMPLEMENTATION.md
  docs/ACCESSIBILITY-FIXES-SUMMARY.md
  includes/class-plugin.php
  includes/class-section-styles.php
  src/blocks/accordion/style.scss
  src/blocks/accordion/view.js
  src/blocks/icon/block.json
  src/blocks/icon/edit.js
  src/blocks/icon/save.js
  src/blocks/slider/view.js
  src/blocks/tabs/style.scss
  src/blocks/tabs/view.js
  src/components/ContrastNotice.js
  src/utils/contrast-checker.js
Labels: blocks, block: icon, documentation, php, javascript, styles

feat: Enhance Claude Code slash commands with new automation tools
  .claude/commands/README.md
  .claude/commands/add-block.md
  .claude/commands/add-extension.md
  .claude/commands/add-variation.md
  .claude/commands/block-supports-audit.md
  .claude/commands/build.md
  .claude/commands/check-compat.md
  .claude/commands/color-controls-migrate.md
  .claude/commands/deploy.md
  .claude/commands/i18n-update.md
  .claude/commands/lint.md
  .claude/commands/plugin-info.md
  .claude/commands/plugin-review.md
  .claude/commands/quick-fix.md
  .claude/commands/review-extension.md
  .claude/commands/test.md
Labels: documentation

i18n: Complete all translations to 100% coverage (4 languages)
  languages/DUTCH_TRANSLATION_COMPLETE.md
  languages/FINAL-100-PERCENT-COMPLETE.md
  languages/JA_TRANSLATION_COMPLETE.md
  languages/TRANSLATION_VERIFICATION.md
  languages/designsetgo-ja.mo
  languages/designsetgo-ja.po
  languages/designsetgo-nl_NL.mo
  languages/designsetgo-nl_NL.po
  languages/designsetgo-ru_RU.mo
  languages/designsetgo-ru_RU.po
  languages/designsetgo-zh_CN.mo
  languages/designsetgo-zh_CN.po
Labels: documentation

refactor: Streamline Counter block implementation and styling
  src/blocks/counter-group/editor.scss
  src/blocks/counter-group/style.scss
  src/blocks/counter/style.scss
Labels: blocks, block: counter, styles

feat: Enhance layout blocks with improved styling and accessibility
  src/blocks/flex/edit.js.backup-double-wrapper
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js.backup-double-wrapper
  src/blocks/flex/style.scss
  src/blocks/grid/edit.js.backup-double-wrapper
  src/blocks/grid/save.js.backup-double-wrapper
  src/blocks/stack/edit.js.backup-double-wrapper
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js.backup-double-wrapper
  src/blocks/stack/style.scss
Labels: blocks, styles

feat: Enhance Icon List blocks with improved controls and styling
  src/blocks/icon-list-item/components/inspector/SpacingPanel.js
  src/blocks/icon-list/components/inspector/ListSettingsPanel.js
  src/blocks/icon-list/edit.js
  src/blocks/icon-list/save.js
  src/blocks/icon-list/style.scss
Labels: blocks, block: icon-list, javascript, styles

feat: Update remaining blocks with improvements and refinements
  src/blocks/pill/block.json
  src/blocks/pill/edit.js
  src/blocks/pill/editor.scss
  src/blocks/pill/save.js
  src/blocks/pill/style.scss
Labels: blocks, javascript, styles

chore: Clean up temporary files and outdated backups
  CLEANUP-SUMMARY.md
  languages/DUTCH_TRANSLATION_COMPLETE.md
  languages/FINAL-TRANSLATION-STATUS.md
  languages/JA_TRANSLATION_COMPLETE.md
  languages/TRANSLATION-COMPLETE-REPORT.md
  languages/TRANSLATION_VERIFICATION.md
  languages/auto_translate.py
  languages/comprehensive_translator.py
  languages/designsetgo-nl_NL_UPDATED.po
  languages/designsetgo-nl_NL_partial.po
  languages/msgids_to_translate.txt
  languages/translate_all.py
  languages/untranslated_strings.txt
  output.txt
  src/blocks/counter/index.js.backup
  src/blocks/icon/index.js.backup
  test-abilities.sh
  test-assets.php
  test.html
Labels: blocks, block: counter, block: icon, documentation, php

feat: Add full-width button appender to empty container blocks
  CLEANUP-SUMMARY.md
  src/blocks/counter-group/save.js
  src/blocks/counter-group/style.scss
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/pill/save.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
  src/styles/_utilities.scss
  src/styles/editor.scss
Labels: blocks, documentation, javascript, styles

feat: Add verified-check and lightning icons
  src/blocks/counter-group/index.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, javascript

fix: Add verified-check and lightning icons to Popular category
  src/blocks/icon/components/IconPicker.js
Labels: blocks, block: icon, javascript

fix: Add Jest environment to ESLint config for test files
  .eslintrc.js
Labels: javascript

feat: Add blocks icon to icon library
  src/blocks/icon/components/IconPicker.js
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, javascript

feat: Add text alignment inheritance to container blocks
  src/blocks/flex/block.json
  src/blocks/flex/edit.js
  src/blocks/grid/block.json
  src/blocks/grid/edit.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/extensions/text-alignment-inheritance/index.js
Labels: blocks, extensions, javascript

fix: Text alignment inheritance now properly applies parent alignment to child blocks
  src/extensions/text-alignment-inheritance/index.js
Labels: extensions, javascript

fix: Add clickable container hover effects to frontend
  src/blocks/icon-list-item/block.json
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon-list/block.json
  src/blocks/icon/block.json
  src/blocks/stack/edit.js
  src/extensions/clickable-group/index.js
  src/style.scss
Labels: blocks, block: icon, block: icon-list, extensions, javascript, styles

feat: Add form icons and block selector icons to icon library
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/icon-list-item/block.json
  src/blocks/icon-list-item/edit.js
  src/blocks/icon-list-item/save.js
  src/blocks/icon-list/block.json
  src/blocks/icon-list/edit.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/slider/editor.scss
  src/blocks/slider/style.scss
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
  src/extensions/text-alignment-inheritance/index.js
Labels: blocks, block: icon, block: icon-list, extensions, javascript, styles

fix: Remove duplicate video-camera icon
  src/blocks/icon/utils/svg-icons.js
Labels: blocks, block: icon, javascript

chore: Fix linting errors across codebase
  docs/BLOCK-TEMPLATE-EDIT.js
  src/blocks/blobs/edit.js
  src/blocks/countdown-timer/deprecated.js
  src/blocks/countdown-timer/edit.js
  src/blocks/form-builder/edit.js
  src/blocks/form-checkbox-field/edit.js
  src/blocks/form-hidden-field/edit.js
  src/blocks/icon-button/edit.js
  src/blocks/icon-list-item/components/inspector/SpacingPanel.js
  src/blocks/icon-list/save.js
  src/blocks/icon/utils/svg-icons.js
  src/blocks/pill/edit.js
  src/blocks/progress-bar/edit.js
  src/blocks/shared/components/WidthPanel.js
  src/blocks/slider/edit.js
  src/blocks/stack/block.json
  src/blocks/stack/edit.js
  src/blocks/tabs/edit.js
  src/extensions/background-video/index.js
  src/extensions/custom-css/index.js
  src/extensions/max-width/index.js
  tests/unit/setup.js
Labels: blocks, block: icon, block: icon-list, extensions, documentation, javascript

fix: Flex container alignment on frontend
  src/blocks/flex/deprecated.js
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/extensions/max-width/index.js
Labels: blocks, extensions, javascript, styles

fix: Flex inner container width for proper justify-content alignment
  includes/blocks/class-loader.php
  src/blocks/divider/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/style.scss
  src/blocks/grid/edit.js
  src/extensions/max-width/index.js
Labels: blocks, extensions, php, javascript, styles

fix: Remove align check from width constraints in save/edit
  .claude/claude.md
  src/blocks/flex/edit.js
  src/blocks/flex/save.js
  src/blocks/grid/save.js
  src/blocks/stack/save.js
Labels: blocks, documentation, javascript

fix: Increase CSS specificity for full-width alignment in editor
  src/styles/editor.scss
Labels: styles

fix: Correct CSS selector for full-width alignment in editor
  src/styles/editor.scss
Labels: styles

fix: Use correct block class selector for full-width alignment
  src/styles/editor.scss
Labels: styles

fix: Allow child blocks to extend full-width in alignfull Stack containers
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Increase CSS specificity for full-width Stack child blocks
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Target inner container for WordPress layout class override
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles

fix: Update editor selector for WordPress container class location
  src/blocks/stack/editor.scss
Labels: blocks, styles

fix: Only apply full-width override when Stack has no width constraints
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
Labels: blocks, javascript, styles

fix: Scroll marquee validation error and MediaUpload behavior
  src/blocks/blobs/deprecated.js
  src/blocks/blobs/edit.js
  src/blocks/blobs/editor.scss
  src/blocks/blobs/index.js
  src/blocks/blobs/save.js
  src/blocks/blobs/style.scss
  src/blocks/blobs/view.js
  src/blocks/scroll-marquee/deprecated.js
  src/blocks/scroll-marquee/edit.js
  src/blocks/scroll-marquee/index.js
  tasks.md
Labels: blocks, documentation, javascript, styles

feat: Enhance Blobs block background and overlay controls
  src/blocks/blobs/block.json
  src/blocks/blobs/edit.js
  src/blocks/blobs/style.scss
  src/blocks/blobs/view.js
Labels: blocks, javascript, styles

feat: Rename container blocks and remove deprecated code
  src/blocks/flex/block.json
  src/blocks/flex/deprecated.js
  src/blocks/flex/edit.js
  src/blocks/flex/editor.scss
  src/blocks/flex/index.js
  src/blocks/flex/save.js
  src/blocks/flex/style.scss
  src/blocks/flex/transforms.js
  src/blocks/grid/block.json
  src/blocks/grid/deprecated.js
  src/blocks/grid/edit.js
  src/blocks/grid/editor.scss
  src/blocks/grid/index.js
  src/blocks/grid/save.js
  src/blocks/grid/style.scss
  src/blocks/grid/transforms.js
  src/blocks/scroll-marquee/block.json
  src/blocks/scroll-marquee/deprecated.js
  src/blocks/scroll-marquee/editor.scss
  src/blocks/scroll-marquee/index.js
  src/blocks/scroll-marquee/style.scss
  src/blocks/scroll-marquee/view.js
  src/blocks/stack/block.json
  src/blocks/stack/deprecated.js
  src/blocks/stack/edit.js
  src/blocks/stack/editor.scss
  src/blocks/stack/index.js
  src/blocks/stack/save.js
  src/blocks/stack/style.scss
  src/blocks/stack/transforms.js
Labels: blocks, javascript, styles

fix: Stack container width constraints and Grid alignment defaults
  src/blocks/grid/block.json
  src/blocks/stack/block.json
  src/blocks/stack/editor.scss
  src/blocks/stack/style.scss
Labels: blocks, styles
