Repository jnealey88/designsetgo, changes with the labels that .github/labeler.yml gives for each.
All labels: blocks, block: container, block: counter, block: icon, block: icon-list, extensions, documentation, configuration, php, javascript, styles, security, ci/cd, needs-review

feat(tabs): Add hover color options for tab text and background
  src/blocks/tabs/block.json
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/save.js
  src/blocks/tabs/style.scss
Labels: blocks, javascript, styles

fix: Prevent card blocks from overlapping in grid containers
  src/blocks/card/style.scss
  src/blocks/grid/editor.scss
Labels: blocks, styles

fix: Allow modal to reopen when clicking hash link with same URL hash
  src/blocks/modal/view.js
Labels: blocks, javascript

fix: Address PR review comments for card grid overlap fix
  src/blocks/card/style.scss
  src/blocks/grid/editor.scss
Labels: blocks, styles

fix: Address PR review feedback for modal trigger
  src/blocks/modal-trigger/deprecated.js
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
Labels: blocks, javascript, styles

fix: Remove duplicate hash update logic from click handler
  src/blocks/modal/view.js
Labels: blocks, javascript

feat(tabs): Add hover color options for tab text and background (#151)
  src/blocks/tabs/block.json
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/save.js
  src/blocks/tabs/style.scss
Labels: blocks, javascript, styles

Fix card overflow issues in grid layouts with box-sizing constraints (#150)
  src/blocks/card/style.scss
  src/blocks/grid/editor.scss
Labels: blocks, styles

Refactor Modal Trigger: Add WordPress alignment & flatten structure (#148)
  src/blocks/modal-trigger/block.json
  src/blocks/modal-trigger/deprecated.js
  src/blocks/modal-trigger/edit.js
  src/blocks/modal-trigger/save.js
  src/blocks/modal-trigger/style.scss
Labels: blocks, javascript, styles

feat: Add comprehensive pattern library and fix flip card template issue
  includes/patterns/class-loader.php
  patterns/contact/contact-form.php
  patterns/contact/contact-split.php
  patterns/content/content-with-toc.php
  patterns/content/icon-features.php
  patterns/content/progress-skills.php
  patterns/content/stats-counter.php
  patterns/cta/cta-banner.php
  patterns/cta/cta-split.php
  patterns/faq/accordion-faq.php
  patterns/faq/faq-tabs.php
  patterns/features/features-accordion.php
  patterns/features/features-grid.php
  patterns/features/features-tabs.php
  patterns/gallery/gallery-grid.php
  patterns/gallery/gallery-marquee.php
  patterns/hero/hero-centered.php
  patterns/hero/hero-split.php
  patterns/hero/hero-video-modal.php
  patterns/modal/announcement-promo.php
  patterns/modal/contact-form.php
  patterns/modal/image-gallery.php
  patterns/modal/newsletter-signup.php
  patterns/pricing/pricing-cards.php
  patterns/pricing/pricing-comparison.php
  patterns/team/team-flip-cards.php
  patterns/team/team-grid.php
  patterns/team/team-image-accordion.php
  patterns/testimonials/testimonials-grid.php
  patterns/testimonials/testimonials-slider.php
  src/blocks/flip-card/edit.js
Labels: blocks, php, javascript

Add hash link trigger support for modal reopening (#152)
  src/blocks/modal/view.js
Labels: blocks, javascript

fix: Add ABSPATH security check to all pattern files
  patterns/contact/contact-form.php
  patterns/contact/contact-split.php
  patterns/content/content-with-toc.php
  patterns/content/icon-features.php
  patterns/content/progress-skills.php
  patterns/content/stats-counter.php
  patterns/cta/cta-banner.php
  patterns/cta/cta-split.php
  patterns/faq/faq-tabs.php
  patterns/hero/hero-split.php
  patterns/hero/hero-video-modal.php
  patterns/team/team-grid.php
Labels: php

feat: Add comprehensive pattern library and fix flip card template issue (#153)
  includes/patterns/class-loader.php
  patterns/contact/contact-form.php
  patterns/contact/contact-split.php
  patterns/content/content-with-toc.php
  patterns/content/icon-features.php
  patterns/content/progress-skills.php
  patterns/content/stats-counter.php
  patterns/cta/cta-banner.php
  patterns/cta/cta-split.php
  patterns/faq/accordion-faq.php
  patterns/faq/faq-tabs.php
  patterns/features/features-accordion.php
  patterns/features/features-grid.php
  patterns/features/features-tabs.php
  patterns/gallery/gallery-grid.php
  patterns/gallery/gallery-marquee.php
  patterns/hero/hero-centered.php
  patterns/hero/hero-split.php
  patterns/hero/hero-video-modal.php
  patterns/modal/announcement-promo.php
  patterns/modal/contact-form.php
  patterns/modal/image-gallery.php
  patterns/modal/newsletter-signup.php
  patterns/pricing/pricing-cards.php
  patterns/pricing/pricing-comparison.php
  patterns/team/team-flip-cards.php
  patterns/team/team-grid.php
  patterns/team/team-image-accordion.php
  patterns/testimonials/testimonials-grid.php
  patterns/testimonials/testimonials-slider.php
  src/blocks/flip-card/edit.js
Labels: blocks, php, javascript

feat: Add shape dividers feature to Section block
  src/blocks/section/block.json
  src/blocks/section/components/ShapeDivider.js
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/blocks/section/utils/shape-dividers.js
Labels: blocks, javascript, styles

fix: Address code review feedback for shape dividers
  src/blocks/section/components/ShapeDivider.js
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/editor.scss
  src/blocks/section/style.scss
  src/blocks/section/utils/shape-dividers.js
Labels: blocks, javascript, styles

fix: Add future-proof props and make shape dividers/video mutually exclusive
  src/blocks/section/components/ShapeDividerControls.js
  src/extensions/background-video/index.js
Labels: blocks, extensions, javascript

fix(video-background): Preserve full-width alignment in editor
  src/extensions/background-video/editor.scss
  src/extensions/background-video/index.js
Labels: extensions, javascript, styles

feat: Add comprehensive homepage patterns for different business types
  includes/patterns/class-loader.php
  patterns/homepage/homepage-agency.php
  patterns/homepage/homepage-portfolio.php
  patterns/homepage/homepage-professional.php
  patterns/homepage/homepage-restaurant.php
  patterns/homepage/homepage-saas.php
Labels: php

fix: Improve HSL validation and deprecation logic reliability
  includes/abilities/inserters/class-insert-section.php
  src/blocks/section/block.json
  src/blocks/section/components/ShapeDivider.js
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/blocks/section/utils/sanitize-color.js
  tests/unit/sanitize-color.test.js
Labels: blocks, php, javascript, styles

fix(ci): Fix wp-env test command and add WordPress 6.9 to matrix
  .github/workflows/ci.yml
Labels: ci/cd

chore: Update project config and memory files
  .claude/claude-memory.md
  .claude/claude.md
  .gitignore
Labels: documentation

fix(icon-button): Remove default focus outline styles
  src/blocks/icon-button/style.scss
Labels: blocks, styles

Add shape dividers feature to section block (#149)
  .claude/claude-memory.md
  .claude/claude.md
  .gitignore
  includes/abilities/inserters/class-insert-section.php
  src/blocks/section/block.json
  src/blocks/section/components/ShapeDivider.js
  src/blocks/section/components/ShapeDividerControls.js
  src/blocks/section/deprecated.js
  src/blocks/section/edit.js
  src/blocks/section/editor.scss
  src/blocks/section/save.js
  src/blocks/section/style.scss
  src/blocks/section/utils/sanitize-color.js
  src/blocks/section/utils/shape-dividers.js
  src/extensions/background-video/index.js
  tests/unit/sanitize-color.test.js
Labels: blocks, extensions, documentation, php, javascript, styles

fix(video-background): Add alignfull styles to style.scss for parity
  src/extensions/background-video/style.scss
Labels: extensions, styles

Optimize PR review action with incremental follow-up reviews
  .github/workflows/claude-code-review.yml
Labels: ci/cd

fix(ci): Fix wp-env test command and add WordPress 6.9 to matrix (#157)
  .github/workflows/ci.yml
Labels: ci/cd

Optimize PR review action with incremental follow-up reviews (#158)
  .github/workflows/claude-code-review.yml
Labels: ci/cd

feat: Add comprehensive homepage patterns for different business types (#155)
  includes/patterns/class-loader.php
  patterns/homepage/homepage-agency.php
  patterns/homepage/homepage-portfolio.php
  patterns/homepage/homepage-professional.php
  patterns/homepage/homepage-restaurant.php
  patterns/homepage/homepage-saas.php
Labels: php

refactor: Update homepage patterns to use designsetgo/row blocks
  patterns/homepage/homepage-agency.php
  patterns/homepage/homepage-portfolio.php
  patterns/homepage/homepage-professional.php
  patterns/homepage/homepage-restaurant.php
  patterns/homepage/homepage-saas.php
Labels: php

refactor: Update homepage patterns to use designsetgo/row blocks (#160)
  patterns/homepage/homepage-agency.php
  patterns/homepage/homepage-portfolio.php
  patterns/homepage/homepage-professional.php
  patterns/homepage/homepage-restaurant.php
  patterns/homepage/homepage-saas.php
Labels: php

fix(video-background): Remove width constraint for proper alignfull behavior
  src/extensions/background-video/editor.scss
  src/extensions/background-video/index.js
  src/extensions/background-video/style.scss
Labels: extensions, javascript, styles

fix(row): Apply vertical alignment (align-items) to row block inner container
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
Labels: blocks, javascript

fix(row): Allow justify-content to work in editor by removing forced width
  src/styles/_utilities.scss
Labels: styles

fix(row): Add v3 migrate function and remove unsafe alignment fallback
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
Labels: blocks, javascript

fix(video-background): Override WordPress layout constraints on wrapper
  src/extensions/background-video/editor.scss
Labels: extensions, styles

fix(icon-button): Remove default focus outline styles (#156)
  src/blocks/icon-button/style.scss
Labels: blocks, styles

Add vertical alignment support to Row block (#159)
  src/blocks/row/deprecated.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/styles/_utilities.scss
Labels: blocks, javascript, styles

Fix full-width video background alignment in editor (#154)
  src/extensions/background-video/editor.scss
  src/extensions/background-video/style.scss
Labels: extensions, styles

fix(ci): Only run Claude review on PR creation, add manual re-review
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

feat(blocks): Add Timeline block for chronological content display
  includes/abilities/inserters/class-insert-timeline-item.php
  includes/abilities/inserters/class-insert-timeline.php
  src/blocks/timeline-item/block.json
  src/blocks/timeline-item/edit.js
  src/blocks/timeline-item/editor.scss
  src/blocks/timeline-item/index.js
  src/blocks/timeline-item/save.js
  src/blocks/timeline-item/style.scss
  src/blocks/timeline/block.json
  src/blocks/timeline/edit.js
  src/blocks/timeline/editor.scss
  src/blocks/timeline/index.js
  src/blocks/timeline/save.js
  src/blocks/timeline/style.scss
  src/blocks/timeline/view.js
Labels: blocks, php, javascript, styles

.github/labeler.yml:

# Automatically label PRs based on changed files

# Blocks
'blocks':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/**/*'

# Container block
'block: container':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/container/**/*'

# Counter block
'block: counter':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/counter/**/*'

# Icon block
'block: icon':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon/**/*'

# Icon List block
'block: icon-list':
  - changed-files:
    - any-glob-to-any-file: 'src/blocks/icon-list/**/*'

# Extensions
'extensions':
  - changed-files:
    - any-glob-to-any-file: 'src/extensions/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'
      - '.wp-env.json'
      - 'composer.json'

# PHP
'php':
  - changed-files:
    - any-glob-to-any-file: '**/*.php'

# JavaScript
'javascript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.jsx'

# Styles
'styles':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.scss'
      - '**/*.css'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - '.github/SECURITY.md'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Needs review
'needs-review':
  - changed-files:
    - any-glob-to-any-file:
      - 'includes/security/**/*'
      - 'designsetgo.php'
